<div class="additional-content">
  <div class="additional-content-image container-left">
    <img src="https://cdn.shopify.com/s/files/1/0937/2788/files/whyus.jpg?v=1676015189">
    <div class="additional-content-content">
      <h2><b>Why Choose Us</b></h2>
    </div>
  </div>
  <div class="content-whyUs ">
    <div class="inner-whyUs bordered-sec">
        <p style="font-size: 16px;"><b>Accreditation:</b> CPDUK-accredited & Ofqual approved qualifications.</p>
        <p style="font-size: 16px;"><b>Certificates:</b> Internationally recognised CPD & Ofqual-approved.</p>
        <p style="font-size: 16px;"><b>Variety:</b> 900+ courses, multiple sectors, UK-legislation compliant.</p>
        <p style="font-size: 16px;"><b>Accessibility:</b> Immediate online access (self-directed).</p>
        <p style="font-size: 16px;"><b>Interactivity:</b> Highly interactive e-learning portal.</p>
        <p style="font-size: 16px;"><b>Savings:</b> No travel expenses, self-paced learning.</p>
        <p style="font-size: 16px;"><b>Sustainability:</b> Low carbon footprint through e-learning.</p>
        <p style="font-size: 16px;"><b>Resources:</b> Repository of learning materials.</p>
        <p style="font-size: 16px;"><b>Expertise:</b> Qualified trainers & subject matter experts.</p>
        <p style="font-size: 16px;"><b>Conversion:</b> Transition classroom courses to e-learning.</p>
        <p style="font-size: 16px;"><b>Compliance:</b> Courses follow the latest guidelines.</p>
        <p style="font-size: 16px;"><b>Certification:</b> On passing, download the CPD certificate.</p>
        <p style="font-size: 16px;"><b>Evidence:</b> Internationally recognised for compliance.</p>
        <p style="font-size: 16px;"><b>Accreditation:</b> CPD Certification Service accredited.</p>
        
        <p style="font-size: 16px;"><b><i>ComplyPlus, Your Partner in Compliance E-learning Excellence.</i></b></p>
    </div>
  </div>
  <div class="review  container-left">
    <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">
      {{ product.metafields.loox.reviews }}
    </div>
  </div>
</div>
