
<style>
  html,
  /* start body container */
  body {
    font-family: "Inter", sans-serif;
    font-weight: 400; /* Default weight */
    line-height: 1.6; /* Optional: Adjust line height for better readability */
  }

  .p-color {
    color: #05284c;
  }

  .s-color {
    color: #00af52;
  }

  .w-b {
    font-weight: bold;
  }

  h1 {
    font-weight: bold;
    font-size: 40px;
    color: #05284c;
    font-family: inter;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    color: #05284c;
  }

  ul {
    margin-top: 0px;
    list-style-position: inside;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
  }
  .container {
    display: flex;
    gap: 28px;
  }

  .pdp-nav,
  .pdp-product {
    width: 300px;
  }

  .pdp-border {
    border: 1px solid #c8c8c8;
    border-radius: 10px;
  }

  .pdp-main {
    width: 50%;
    border-radius: 10px;
  }

  .pdp-main {
    padding: 24px;
  }

  .details {
    background-color: #05284c;
    color: #ffffff;
  }

  /* end body container */

  /* start navigation*/
  .pdp-anchor,
  .pdp-categories {
    padding: 24px;
  }

  .anchor-end {
    border-bottom: 1px solid #c8c8c8;
  }

  .anchor-left {
    border-left: 1px solid #c8c8c8;
  }

  .pdp-categories div {
    padding: 16px 0px;
  }
  /* end navigation*/

  /* start product detail*/
  .pdp-product-details,
  .pdp-detail-content,
  .pdp-certifications {
    display: flex;
    width: 100%;
  }
  .pdp-detail-content-container,
  .pdp-course-content,
  .pdp-learning,
  .pdp-certifications {
    width: 100%;
  }

  .pdp-course-content {
    display: flex;
    justify-content: space-between;
  }

  .pdp-learning {
    display: flex;
  }

  .pdp-course-content,
  .pdp-learning div {
    width: 100%;
  }

  .pdp-product-details {
    background-color: #fafafa;
    box-shadow: 10px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 8px #00af52;
  }
  .product-space {
    padding: 0px 24px;
  }

  .pdp-certifications {
    justify-content: space-between;
  }

  .pdp-certifications-image-style {
    text-align: center;
    width: 20%;
  }

  .pdp-certification-image {
    width: 110px;
    height: 110px;
  }

  /* end product detail*/

  /* start product basket */
  .pdp-product-basket {
    height: 100%;
    width: 300px;
  }

  .product-basket-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 226px;
  }

  .product-carrousel {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  /* end product basket */
</style>

<body>
  <div class="container" style="margin-top: 2rem;">
    <div class="pdp-border pdp-nav">
      <div class="pdp-anchor">
        <h2>Summary</h2>
        <h2>Course Overview</h2>
        <h2>Course Content</h2>
        <h2>Interactive Demo</h2>
        <h2>Audience</h2>
        <h2>Course Aims</h2>
        <h2>Learnings</h2>
        <h2>Certifications</h2>
        <h2>FAQs</h2>
        <h2>Reviews</h2>

        <div class="anchor-end"></div>
      </div>
      <div class="pdp-categories">
        <h2>Categories</h2>
        <div>
          <a href=""
            >eLearning Courses A-Z Accredited CPD E-Learning Courses
          </a>
        </div>
        <div>
          <a href="">Health and Social Care eLearning Courses & Training</a>
        </div>
        <div><a href="">Accounting and Bookkeeping</a></div>

        <div><a href="">Basic Life Support/Resuscitation</a></div>

        <div><a href="">Business Administration</a></div>

        <div><a href="">Business Compliance</a></div>

        <div><a href="">Charities & Volunteering</a></div>

        <div><a href="">Clinical Skills</a></div>

        <div><a href="">ComplyPlus™ Software</a></div>

        <div><a href="">Computing & IT</a></div>

        <div><a href="">Conflict Management/Resolution</a></div>

        <div><a href="">Customer Service</a></div>

        <div><a href="">Early Years & Childcare</a></div>

        <div><a href="">Enhanced Dental CPD</a></div>

        <div><a href="">Fire Safety</a></div>

        <div><a href="">First Aid/FAW & EFAW</a></div>

        <div><a href="">Food Hygiene/Food Safety</a></div>

        <div><a href="">Free Online Courses</a></div>

        <div><a href="">Health & Safety</a></div>

        <div><a href="">Health & Social Care</a></div>

        <div><a href="">Leadership & Management</a></div>

        <div><a href="">Long-Term Conditions</a></div>

        <div><a href="">Mandatory Training Bundles</a></div>

        <div><a href="">Mental Health</a></div>

        <div><a href="">Moving & Handling</a></div>

        <div><a href="">Schools & Colleges </a></div>

        <div><a href="">Safeguarding</a></div>

        <div><a href="">Sales & Marketing</a></div>

        <div><a href="">Train the Trainer</a></div>

        <div><a href="">Professional Development</a></div>
      </div>
    </div>

    <div class="pdp-border pdp-main">
      <h1>CSTF Safeguarding Adults - 2</h1>
      <div class="main-content">
        <p>
          The Mandatory Training Group is the leading UK provider of
          accredited statutory and mandatory training courses for all sectors,
          including health and social care, education, local government,
          private and charity sectors.
        </p>
        <p>
          We have supported over one million learners to reach their potential
          through e-learning courses and qualifications using our interactive
          online learning portal.
        </p>
      </div>
      <div class="pdp-product-details">
        <div class="pdp-detail-content-container">
          <div class="pdp-detail-content">
            <p class="product-space">Price</p>
            <p class="w-b p-color">£19.99 + VAT</p>
          </div>
          <div class="pdp-detail-content">
            <p class="product-space">Level</p>
            <p class="w-b p-color">2</p>
          </div>
          <div class="pdp-detail-content">
            <p class="product-space">Duration</p>
            <p class="w-b p-color">120 mins.</p>
          </div>
          <div class="pdp-detail-content">
            <p class="product-space">Method</p>
            <p class="w-b p-color">Online Course (24/7)</p>
          </div>
          <div class="pdp-detail-content">
            <p class="product-space">Platform</p>
            <p class="w-b p-color">Desktop, laptop, mobile</p>
          </div>
          <div class="pdp-detail-content">
            <p class="product-space">Access Expiry</p>
            <p class="w-b p-color">1 year</p>
          </div>
          <div class="pdp-detail-content">
            <p class="product-space">Certificate Expiry</p>
            <p class="w-b p-color">2 years</p>
          </div>
        </div>
        <div class="pdp-detail-content-container">
          <div class="pdp-detail-content">
            <p class="product-space">Rating:</p>
            <p>5.0</p>
          </div>
        </div>
      </div>
      <div class="anchor-end" style="margin-top: 1rem;">
        <h2>Course Overview</h2>

        <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/image1.png?v=1725436896" width="100%" />

        <p>
          Welcome to The Mandatory Training Group's CSTF Safeguarding Adults
          online course. All our online training courses, programmes and
          qualifications are accredited by the CPD Certification Service
          (CPDUK).
        </p>

        <p>
          Everyone has the right to live free from violence, harassment, and
          degradation. Adults with capacity can prioritise their right to
          privacy, autonomy, and family life over their right to be free from
          inhumane and degrading treatment.
        </p>

        <p>
          exist to protect individuals who lack capacity. In certain cases,
          complex decisions must be made to determine whether to intervene in
          the public interest or if coercion is involved.
        </p>

        <p>
          This course covers safeguarding adults training for healthcare
          workers at Level 2 and meets the learning outcomes of the UK Core
          Skills Training Framework (UKCSTF) v1.1. Make sure you have
          completed all the training required according to your local policies
          and procedures.
        </p>
      </div>
      <div class="anchor-end">
        <h2>Course Content</h2>
        <p>
          This CSTF Safeguarding Adults online course is divided into the
          following sections:
        </p>
        <div class="pdp-course-content">
          <div>
            <ul>
              <li>Introduction</li>
              <li>Section 1 - Abuse in adults</li>
              <li>Section 2 - Advocacy</li>
              <li>Section 3 - Roles and responsibilities</li>
              <li>Section 4 - Information sharing and recordkeeping</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Section 5 - Key legislation and guidance</li>
              <li>Section 6 - Preventing radicalisation</li>
              <li>Summary</li>
              <li>References and resources</li>
              <li>End of course assessment.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="anchor-end" style="padding-bottom: 24px">
        <h2>Interactive Demo</h2>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/NdkWrWjrBLA?si=kQQFZoUgBfEuItjb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
      </div>
      <div class="anchor-end">
        <h2>Who is this course for?</h2>
        <p>
          This course is suitable for all practitioners who have regular
          contact with patients, their families or carers, or the public.
        </p>
      </div>
      <div class="anchor-end">
        <h2>Aims</h2>
        <p>The aims of this CSTF Safeguarding Adults online course are to:</p>
        <ul>
          <li>
            Understand the key terms and definitions to recognise abuse in
            adults.
          </li>
          <li>
            Understand effective information sharing and record keeping when
            documenting and reporting safeguarding concerns.
          </li>
          <li>
            Familiarise the different factors that could lead to
            radicalisation in adults.
          </li>
        </ul>
      </div>
      <div class="pdp-learning" style="padding-top: 16px">
        <div>
          <h2>Learning Objectives</h2>
          <p>This CSTF Safeguarding Adults online course will:</p>
          <ul style="padding-left: 10px; padding-right: 10px">
            <li>
              Discuss the key terms and definitions in relation to
              safeguarding adults.
            </li>
            <li>Review the different types of abuse in adults.</li>
            <li>
              Consider how and when an adult might require an advocate in line
              with legislation and guidance.
            </li>
            <li>
              Consider how and when to refer to social care following
              organisational policies if an adult safeguarding concern is
              identified.
            </li>
            <li>
              Discuss how to document safeguarding concerns appropriately.
            </li>
            <li>Understand how to maintain appropriate records.</li>
            <li>
              Examine the relevant legislation in place to safeguard adults.
            </li>
            <li>Discuss the risk factors for radicalisation</li>
          </ul>
          <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/image2.png?v=1725436895" />
        </div>
        <div class="anchor-left" style="padding-left: 14px">
          <h2>Learning Outcomes</h2>
          <p>
            On completion of this CSTF Safeguarding Adults online course, the
            learner will be able to:
          </p>
          <ul style="padding-left: 10px; padding-right: 10px">
            <li>Define safeguarding, harm and abuse.</li>
            <li>
              Define the different types of abuse and give examples of the
              signs, symptoms and indicators.
            </li>
            <li>
              Ensure effective advocacy is provided where required, in line
              with legislation and professional guidance.
            </li>
            <li>
              Describe your role, responsibilities, and professional
              boundaries as well as those of your colleagues in a
              multidisciplinary team and multi-agency environment.
            </li>
            <li>
              Analyse how and when to refer to social care following
              organisational policies if adult safeguarding concerns are
              identified.
            </li>
            <li>
              Demonstrate how to appropriately document safeguarding concerns
              in a format that informs the relevant staff and agencies.
            </li>
            <li>Distinguish fact from opinion.</li>
            <li>
              State the key statutory and non-statutory guidance and
              legislation for adult safeguarding.
            </li>
            <li>
              State how to prevent radicalisation in adults and how to support
              individuals who are being drawn into terrorist-related
              activities.
            </li>
          </ul>
        </div>
      </div>
      <div class="anchor-end"></div>
      <div class="anchor-end">
        <h2>Certifications</h2>
        <div class="pdp-certifications">
          <div>
            <p class="w-b" style="font-size: 18px">
              End of course assessment
            </p>
            <ul>
              <li>Complete an online end of course assessment</li>
              <li>Pass with 80% or higher for a FREE CPD certificate.</li>
            </ul>
          </div>
          <div class="pdp-certifications-image-style">
            <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/school-online.png?v=1725436896" class="pdp-certification-image" />
          </div>
        </div>
        <p class="w-b" style="font-size: 18px">Certification</p>
        <div class="pdp-certifications">
          <div>
            <ul>
              <li>Download, save, or print your quality CPD certificate</li>
              <li>
                Internationally recognised evidence for compliance, audit, or
                CPD.
              </li>
            </ul>
          </div>
          <div class="pdp-certifications-image-style">
            <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/certificate_d247333e-447c-4dca-81f8-2f0802b6909f.png?v=1725436896" class="pdp-certification-image" />
          </div>
        </div>
        <p class="w-b" style="font-size: 18px">Course accreditation</p>
        <div class="pdp-certifications">
          <div>
            <ul>
              <li>The CPD Certification Service accredits our courses</li>
              <li>Conform to universally accepted CPD guidelines</li>
              <li>Aligned with the latest best practices.</li>
            </ul>
          </div>
          <div class="pdp-certifications-image-style">
            <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/verify.png?v=1725436896" class="pdp-certification-image" />
          </div>
        </div>
      </div>
      <div>
        <h2>FAQs</h2>
        <details class="details">
          <summary>Question 1</summary>
          <p>this is the content</p>
        </details>
        <details class="details">
          <summary>Question 2</summary>
          <p>this is the content</p>
        </details>
        <details class="details">
          <summary>Question 3</summary>
          <p>this is the content</p>
        </details>
      </div>
      <div class="anchor-end"></div>
      <div>
        <h2>Reviews</h2>
      </div>
    </div>
    <div class="pdp-border pdp-product-basket">
      <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/image3.png?v=1725438051" alt="" class="product-basket-img" />
      <img src="https://cdn.shopify.com/s/files/1/0706/8965/2977/files/image4.png?v=1725438049" class="product-carrousel" />
      <p style="text-align: center; font-weight: bold">
        Learn. Develop. Comply.
      </p>
      <p style="text-align: center">Quantity</p>
      <div style="width: 100%; text-align: center; padding-bottom: 2rem">
        <button
          type="button"
          style="
            background-color: #00af52;
            color: #ffffff;
            width: 225px;
            height: 64px;
            text-align: center;
            border: none;
            border-radius: 5px;
          "
        >
          Add to basket
        </button>
      </div>
    </div>
  </div>
</body>