.disable_radius{
  a,i,img,label,input,li,span,textarea,button.btn-cart,.button,.btn-button,
  .menu-wrap-sub,.setting-currency,.select-language,
  .cart-wrapper,.product-image-area,.block-title,.item,.layer-filter,dt,
  .product-image-gallery,.selectize-input,.swatch-element,.product-pop,.postBanner,.post-image,#popup_newsletter,
  .featured-box,.box-content,.category-boxed-banner .owl-stage-outer,
  .login_content,.cart-table-wrap,.closed,.shipping h2:hover a:after,.form-search,
  .totals h2,.totals .totals-content
  {
    
  }
  .category-products{
    .product-image-area{
      border:0!important;
      padding:0!important;
      .deal-label{
      	top:0!important;
        left:0!important;
      }
    }
  }
  .item{
    .details-area{
      .configurable-swatch-list{
        li,a,img{
          border-radius:3px!important;
        }
      }
    }
  }
  .owl-dots{
    .owl-dot{
      span{
        border-radius: 8px!important;
      }
    }
  }
  .footer-wrapper {
    .footer-middle {
      input{
        border-radius: 0 !important;
      }
      button{
        border-radius: 0 0 0 !important;
      }
    }
  }
}