/* PageFly Element Styles */
						.hsMvSR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.hsMvSR { padding: 15px 0px; position: relative; }
.hsMvSR .sc-eKZiaR { position: relative; }
.hsMvSR[data-container="true"] .sc-eKZiaR { padding: 0px 15px; width: 100%; margin: auto; }
.hsMvSR .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.eFjulw { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.elofQi { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .elofQi { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elofQi { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .elofQi { padding: var(--pf-s-xs); }
}
.dgFwhv { position: relative; }
.fbDPVD { word-break: break-word; }
.fbDPVD span { font-weight: inherit; }
.fbDPVD i { margin-right: 0.3em; }
.iSYQTX { display: inline-block; }
.iSYQTX[contenteditable="true"] { user-select: text; }
.iSYQTX { vertical-align: baseline; word-break: break-word; }
.iSYQTX:focus { outline: none; }
.iSYQTX::after { display: inline; }
.kDYfzi { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.kDYfzi img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.dcUDov div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.dcUDov div::before, .dcUDov div::after { content: ""; width: 100%; border-top: 1em solid; }
.dcUDov > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.dcUDov span > span { vertical-align: middle; }
.kWaRSX > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.kWaRSX[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kWaRSX.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kWaRSX.dropcap--circle > span:first-child { border-radius: 100%; }
.kWaRSX:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kWaRSX ol, .kWaRSX ul { list-style-position: inside; }
.kWaRSX blockquote { font-size: inherit; }
.bYxyPQ { min-height: 30px; }
.iYTZyE { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-f1cb6b1a {
		text-align: center;
		 font-size: 32px;
		 color: rgb(4, 78, 168);
		 border-style: none;
	}
	.__pf .pf-776ec214 {
		font-family: Roboto;
	}
	.__pf .pf-05581d16 {
		font-size: 30px;
		 margin-top: 0px;
		 font-family: Roboto;
		 color: rgb(4, 78, 168);
	}
	.__pf .pf-4e126a3b {
		color: rgb(4, 78, 168);
		 font-size: 2px;
		 margin-top: 0px;
	}
	.__pf .pf-5d3f433b {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-193ca3c1 {
		padding-top: 0px;
	}
	.__pf .pf-534d9513 {
		background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05a20808-6167-4477-b99f-449a97eab5cd--164478840lightbluewallpapers.jpg?2774");
		 background-position: 50% 50%;
	}
	.__pf .pf-aeb9ec69 {
		text-align: center;
		 font-size: 27px;
		 color: rgb(4, 78, 168);
		 font-family: Roboto;
	}
	.__pf .pf-2c911053 {
		background-color: rgb(136, 252, 246);
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-eb2a3f5a {
		background-color: rgb(136, 252, 246);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-c2b27f23 {
		background-size: cover;
		 background-position: 50% 100%;
		 background-color: rgb(224, 250, 255);
	}
	.__pf .pf-37b2ba3a {
		font-size: 28px;
		 color: rgb(4, 78, 168);
	}
	.__pf .pf-e08c1051 {
		font-family: Roboto;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-4bed4df4 {
		font-family: Roboto;
	}
	.__pf .pf-ac02f2c0 {
		text-align: center;
		 background-color: rgb(184, 235, 255);
		 padding: 20px;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
	}
	.__pf .pf-d982ee7e {
		font-size: 28px;
		 color: rgb(4, 78, 168);
	}
	.__pf .pf-bbf3660d {
		font-family: Roboto;
	}
	.__pf .pf-935de4fb {
		font-family: Roboto;
	}
	.__pf .pf-21abb581 {
		text-align: center;
		 background-color: rgb(184, 235, 255);
		 padding: 20px;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
	}
	.__pf .pf-a8af8e01 {
		font-size: 28px;
		 color: rgb(4, 78, 168);
	}
	.__pf .pf-712e732e {
		font-family: Roboto;
	}
	.__pf .pf-9c542b23 {
		font-family: Roboto;
	}
	.__pf .pf-c466641b {
		text-align: center;
		 background-color: rgb(184, 235, 255);
		 padding: 20px;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
	}
	.__pf .pf-17ca7133 {
		background-color: rgb(224, 250, 255);
		 padding-top: 17px;
		 padding-bottom: 19px;
		 background-position: 50% 100%;
	}
	.__pf .pf-9289bc59 {
		text-align: center;
		 font-family: Roboto;
		 color: rgb(32, 42, 68);
		 font-size: 20px;
	}
	.__pf .pf-2dca1969 {
		border-style: solid;
		 border-color: rgb(255, 255, 255);
		 padding-bottom: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-5e1a8673 {
		padding-top: 0px;
	}
	.__pf .pf-f9dc8d2b {
		background-color: rgb(224, 250, 255);
		 border-radius: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-534d9513 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05a20808-6167-4477-b99f-449a97eab5cd--164478840lightbluewallpapers.jpg?2774");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-534d9513 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05a20808-6167-4477-b99f-449a97eab5cd--164478840lightbluewallpapers.jpg?2774");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-534d9513 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05a20808-6167-4477-b99f-449a97eab5cd--164478840lightbluewallpapers.jpg?2774");
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 