/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ed664c53 {
		font-family: Roboto;
		 font-size: 28px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-7e991baf {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: left;
		 font-weight: 700;
		 text-transform: uppercase;
	}
	.__pf .pf-f049d49f {
		font-family: Roboto;
		 font-size: 20px;
		 text-align: left;
		 font-weight: 700;
		 color: rgb(208, 2, 27);
		 margin-bottom: 0px;
	}
	.__pf .pf-071b2044 {
		color: rgb(145, 157, 169);
		 font-size: 2px;
		 margin-top: -5px;
	}
	.__pf .pf-65f6b61d {
		font-size: 15.5px;
		 text-align: left;
		 margin-bottom: 0px;
		 font-family: Roboto;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-670c495e {
		background-color: rgba(255, 255, 255, 0.17);
		 padding-left: 2px;
	}
	.__pf .pf-3afe77a2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-c7708f5f--1740972a6754fa020b290c04de1db512.jpg?v=1600939398");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-c0820d2b {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-68ac25ba {
		padding-top: 50px;
		 padding-bottom: 50px;
		 margin-top: -5px;
		 background-color: rgb(26, 225, 228);
	}
	.__pf .pf-f0615147 {
		font-size: 35px;
	}
	.__pf .pf-8be9b444 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-423646cb {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: center;
	}
	.__pf .pf-2c2cfd90 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(26, 225, 228);
	}
	.__pf .pf-18182e3d {
		font-size: 35px;
	}
	.__pf .pf-34676878 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-6878d999 {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: center;
	}
	.__pf .pf-d9991fc7 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(26, 225, 228);
	}
	.__pf .pf-46cbc3fe {
		font-size: 35px;
	}
	.__pf .pf-a76b0a6e {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-0a6e733b {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: center;
	}
	.__pf .pf-733b1818 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(26, 225, 228);
	}
	.__pf .pf-dae5126d {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-9e0c48df {
		font-family: Roboto;
		 font-size: 20px;
		 margin: 0px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-d191c588 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-708f5f2d--1740972a6754fa020b290c04de1db512.jpg?v=1600939458");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						