/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-648ef4c0 {
		font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-d9dd0bfe {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-cbaefd2d {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 padding-top: 50px;
		 padding-bottom: 50px;
		 font-weight: 700;
	}
	.__pf .pf-2f8025ec {
		background-color: rgb(80, 227, 194);
	}
	.__pf .pf-3b8f75db {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-2be958cf {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-0a3924fb {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-24fb1129 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(47, 31, 128);
	}
	.__pf .pf-112939e2 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-f905eaa2 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-cff05d1e {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-5d1ecf83 {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 77);
	}
	.__pf .pf-cf837f6a {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-9793e283 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-cd401d60 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-1d6085cd {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 78);
	}
	.__pf .pf-cd76796a {
		text-align: center;
	}
	.__pf .pf-90a3ed7b {
		font-family: Roboto;
	}
	.__pf .pf-ed7b6da1 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-a15c1436 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-1ef87e1c {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b751c79a {
		font-family: Roboto;
		 font-size: 22px;
		 text-align: left;
		 padding-top: 5px;
		 font-weight: 700;
	}
}
						