/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-85837e83 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-size: 22px;
		 font-family: Roboto;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-8d67da67 {
		text-align: center;
		 font-size: 16px;
		 color: rgba(255, 255, 255, 0.8);
	}
	.__pf .pf-c02c6a4d {
		background-color: black;
		 padding: 50px 20px;
		 background-image: url("https://media.pagefly.io/file/get/discussionp2vzsn3jpg-1527253731096.jpg");
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-position: center center;
	}
	.__pf .pf-ae9535c3 {
		font-weight: 700;
	}
	.__pf .pf-ae9535c3 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-7ccf3d5a {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-3d5a89f0 {
		margin: 20px;
	}
	.__pf .pf-871ba80f {
		font-weight: 700;
	}
	.__pf .pf-871ba80f ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-212ed7ba {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-d7ba68cc {
		margin: 20px;
	}
	.__pf .pf-005752a4 {
		font-weight: 700;
	}
	.__pf .pf-005752a4 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-f55a628d {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-628daeae {
		margin: 20px;
	}
	.__pf .pf-826eef45 {
		font-weight: 700;
	}
	.__pf .pf-826eef45 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-bc06ad9f {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-ad9f30b6 {
		margin: 20px;
	}
	.__pf .pf-12b61989 {
		font-weight: 700;
	}
	.__pf .pf-12b61989 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-d586b97d {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-b97d750a {
		margin: 20px;
	}
	.__pf .pf-c4e85a3d {
		font-weight: 700;
	}
	.__pf .pf-c4e85a3d ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-ee0dcac8 {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-cac8cbac {
		margin: 20px;
	}
	.__pf .pf-e974e2f5 {
		font-weight: 700;
	}
	.__pf .pf-e974e2f5 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-39764a1c {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-4a1c0d30 {
		margin: 20px;
	}
	.__pf .pf-422ae961 {
		font-weight: 700;
	}
	.__pf .pf-422ae961 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-30ad2b6f {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-2b6f3e89 {
		margin: 20px;
	}
	.__pf .pf-ca6eccae {
		font-weight: 700;
	}
	.__pf .pf-ca6eccae ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-a820c45d {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-c45d1354 {
		margin: 20px;
	}
	.__pf .pf-74c27428 {
		font-weight: 700;
	}
	.__pf .pf-74c27428 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-891bb0ac {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-b0ac0b67 {
		margin: 20px;
	}
	.__pf .pf-f659a7d8 {
		font-weight: 700;
	}
	.__pf .pf-f659a7d8 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-df383473 {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-3473a670 {
		margin: 20px;
	}
	.__pf .pf-b1d19b34 {
		font-weight: 700;
	}
	.__pf .pf-b1d19b34 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-bf170931 {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-09319bf8 {
		margin: 20px;
	}
	.__pf .pf-900edc09 {
		font-weight: 700;
	}
	.__pf .pf-900edc09 ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-a4c4beab {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-beab4abb {
		margin: 20px;
	}
	.__pf .pf-1dbacf7e {
		font-weight: 700;
	}
	.__pf .pf-1dbacf7e ._2dknaNM0 {
		font-size: 4em;
	}
	.__pf .pf-e35d2158 {
		text-align: right;
		 color: rgb(136, 136, 136);
		 font-style: italic;
	}
	.__pf .pf-2158136c {
		margin: 20px;
	}
	.__pf .pf-78ca7e9a {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(235, 39, 113);
		 text-transform: uppercase;
		 letter-spacing: 1.8px;
	}
	.__pf .pf-1fed490d {
		text-align: center;
		 font-family: Lato;
		 font-size: 16px;
		 border-style: solid;
		 border-width: 2px;
		 border-color: rgb(235, 39, 113);
		 padding: 20px 25px;
		 color: rgb(235, 39, 113);
		 font-weight: 700;
		 margin: 20px 0px 0px;
	}
	.__pf .pf-1fed490d:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(235, 39, 113);
	}
	.__pf .pf-490d67e6 {
		text-align: center;
	}
}
						