/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-73d91c4e {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-6cf281fe {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-fe352ddb {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-82032e7e {
		text-align: left;
		 font-family: Roboto;
	}
	.__pf .pf-e5c38c4f {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 padding: 50px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-83e8804c {
		background-color: rgb(74, 144, 226);
		 padding: 0px;
	}
	.__pf .pf-36a7561b {
		font-size: 35px;
	}
	.__pf .pf-3403cb18 {
		font-family: Roboto;
	}
	.__pf .pf-8087f7af {
		font-family: Roboto;
	}
	.__pf .pf-f7afa6a8 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-a6a8e488 {
		font-size: 35px;
	}
	.__pf .pf-0bb1ff9d {
		font-family: Roboto;
	}
	.__pf .pf-02c0a5e5 {
		font-family: Roboto;
	}
	.__pf .pf-a5e56b8e {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-6b8e8591 {
		font-size: 35px;
	}
	.__pf .pf-b91bdd72 {
		font-family: Roboto;
	}
	.__pf .pf-1fef7d3e {
		font-family: Roboto;
	}
	.__pf .pf-7d3e1dcd {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-1d5bb62e {
		font-family: Roboto;
		 font-size: 26px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-f523013f {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 22px;
	}
}
						

 