/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-a7ebc171 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 28px;
	}
	.__pf .pf-69a478a2 {
		font-family: Roboto;
		 font-size: 17.8px;
		 text-align: left;
		 font-weight: 700;
		 margin: 0px;
	}
	.__pf .pf-aa8aebdb {
		font-family: Roboto;
		 font-size: 23px;
		 color: rgb(208, 2, 27);
		 margin: -2px 0px 0px;
	}
	.__pf .pf-d8deff00 {
		color: rgb(208, 2, 27);
		 font-size: 2px;
		 margin-top: -5px;
	}
	.__pf .pf-d4b96bd8 {
		font-family: Roboto;
		 margin: 0px;
		 font-size: 16.5px;
	}
	.__pf .pf-687a2ce1 {
		font-size: 17px;
	}
	.__pf .pf-9ad07dc5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-cbe3655e--abstractbluewatercolorbackground10552219.jpg?v=1602655265");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
		 font-size: 16px;
	}
	.__pf .pf-1dbeaab7 {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-fff1dfb7 {
		background-color: rgba(80, 227, 194, 0.4);
		 padding: 50px;
	}
	.__pf .pf-6bd895be {
		font-size: 35px;
		 margin-top: 10px;
	}
	.__pf .pf-d9fd18ae {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgba(80, 227, 194, 0.33);
	}
	.__pf .pf-95bef454 {
		font-size: 35px;
		 margin-top: 10px;
	}
	.__pf .pf-18ae2c87 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgba(80, 227, 194, 0.33);
	}
	.__pf .pf-f454a89d {
		font-size: 35px;
		 margin-top: 10px;
	}
	.__pf .pf-2c871af7 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgba(80, 227, 194, 0.33);
	}
	.__pf .pf-d6f213cb {
		font-family: Roboto;
		 font-size: 27px;
		 text-align: center;
	}
	.__pf .pf-9f7d5613 {
		font-family: Roboto;
		 font-size: 23.6px;
		 text-align: left;
		 margin-top: -20px;
	}
	.__pf .pf-6074a973 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-cbe3655e--abstractbluewatercolorbackground10552219.jpg?v=1602655265");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						