/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-597d0922 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-b3604e21 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 0px;
	}
	.__pf .pf-212f9b73 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-843b12c3 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-78ef7e95 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-d3aed080 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-2d01adc1 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-f8f04fd0 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-4fd0678b {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-678b66ba {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-e76d6468 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-a36e9f7f {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-9f7f1f2b {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-1f2bd308 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-76ebc7ea {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-5b06a092 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-a092bd81 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-3d89fc7d {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-5d5fea82 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 