/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-9ae4c053 {
		font-family: Roboto;
		 font-size: 32px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-0991d3bb {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-158a8453 {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-31047315 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(191, 202, 219);
	}
	.__pf .pf-1562cb83 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-e38ada27 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-2bdfe2c9 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-e2c9d79f {
		text-align: center;
		 border-radius: 25px;
		 border-style: solid;
	}
	.__pf .pf-d79f4ba4 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-2f5bd70f {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-29174503 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-4503d1fd {
		text-align: center;
		 border-radius: 25px;
		 border-style: solid;
	}
	.__pf .pf-d1fd91a6 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-8a2ca459 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-f2a5cd0c {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-cd0c3cf6 {
		text-align: center;
		 border-radius: 25px;
		 border-style: solid;
	}
	.__pf .pf-45ecbfd3 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 24px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-330fe591 {
		font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
	}
}
						

 