/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-646b0521 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 26px;
	}
	.__pf .pf-d71c6fdf {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 16px;
		 margin-bottom: 20px;
	}
	.__pf .pf-50fe60c4 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 24px;
	}
	.__pf .pf-8bf75ffe {
		color: rgb(248, 231, 28);
		 font-size: 2px;
	}
	.__pf .pf-8bf75ffe div {
		font-size: 4px;
	}
	.__pf .pf-2ff7ec0e {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 15px;
		 text-align: justify;
	}
	.__pf .pf-4c344189 {
		background-position: 50% 50%;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
	.__pf .pf-a0eb9520 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
		 font-size: 26px;
	}
	.__pf .pf-dd095760 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(252, 244, 155);
	}
	.__pf .pf-d99949ed {
		font-size: 35px;
	}
	.__pf .pf-738dcf19 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-80579d5f {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-a681dcd8 {
		text-align: center;
		 border-style: solid;
		 padding-top: 15px;
		 padding-bottom: 5px;
		 border-radius: 20px;
		 border-color: rgb(252, 244, 155);
	}
	.__pf .pf-80fb61f8 {
		font-size: 35px;
	}
	.__pf .pf-2196a071 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-dd2ec422 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-e3b2fb34 {
		text-align: center;
		 border-style: solid;
		 padding-top: 15px;
		 padding-bottom: 5px;
		 border-radius: 20px;
		 border-color: rgb(252, 244, 155);
	}
	.__pf .pf-da1ac708 {
		font-size: 35px;
	}
	.__pf .pf-9a93df47 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-fa24d273 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-1c82510d {
		text-align: center;
		 border-style: solid;
		 padding-top: 15px;
		 padding-bottom: 5px;
		 border-radius: 20px;
		 border-color: rgb(252, 244, 155);
	}
	.__pf .pf-1b987203 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 28px;
	}
	.__pf .pf-22bee1c4 {
		font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 font-size: 20px;
	}
	.__pf .pf-017b0c57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
		 background-size: cover;
		 background-position: 50% 50%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-4c344189 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
	.__pf .pf-017b0c57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-4c344189 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
	.__pf .pf-017b0c57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-4c344189 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
	.__pf .pf-017b0c57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ee7ce9e6--MZnxVb.jpg?v=1583398735");
	}
}
						

 