/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-cabfc736 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 32px;
	}
	.__pf .pf-c5b2b39f {
		font-family: Roboto;
	}
	.__pf .pf-9f1a1be5 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-1ae757cb {
		text-align: left;
		 font-family: Roboto;
	}
	.__pf .pf-cdd942d5 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 padding: 50px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-244f0383 {
		background-color: rgb(74, 144, 226);
		 padding: 0px;
	}
	.__pf .pf-07dd9660 {
		font-size: 35px;
	}
	.__pf .pf-eb231ee8 {
		font-family: Roboto;
	}
	.__pf .pf-5021d9b5 {
		font-family: Roboto;
	}
	.__pf .pf-d9b52de5 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-2de55e63 {
		font-size: 35px;
	}
	.__pf .pf-84490813 {
		font-family: Roboto;
	}
	.__pf .pf-fe0e53d9 {
		font-family: Roboto;
	}
	.__pf .pf-53d9b9f3 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-b9f3b2c5 {
		font-size: 35px;
	}
	.__pf .pf-0fb8a77e {
		font-family: Roboto;
	}
	.__pf .pf-752b4914 {
		font-family: Roboto;
	}
	.__pf .pf-491447c4 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-be496bd9 {
		font-family: Roboto;
		 font-size: 26px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-b403c186 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						