/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-c63ec7c6 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-4d115182 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 0px;
	}
	.__pf .pf-8260aff2 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-c12de358 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-dc698702 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-a4c6245c {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-9f5177eb {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-588c0eb4 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-0eb4b3d5 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-b3d55182 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-3ea0fc6a {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-a390d2a4 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-d2a49b15 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-9b151b9f {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-1b4e5a32 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-3af18702 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-87020db4 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-3cbfa92e {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-7ae32e93 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 