/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-e1a38af5 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-43bd2041 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 15px;
	}
	.__pf .pf-4143a3ca {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-365411ad {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-a5f8efca {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-c658611e {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-cc0087d4 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-a40e1e6d {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-1e6dcfc9 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-cfc9a01a {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-2ebbfefe {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-b9913f3d {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-3f3d51ff {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-51ff7853 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-f026344b {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-8718f0e6 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-f0e67dbe {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-cb1af9e6 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-b31eb9fa {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						