/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-99ca33d9 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-7d1e673a {
		font-family: Roboto;
	}
	.__pf .pf-3a67cbc9 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b0692d37 {
		text-align: left;
		 font-family: Roboto;
	}
	.__pf .pf-ee72c4ea {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 padding: 50px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-7d2f4478 {
		background-color: rgb(74, 144, 226);
		 padding: 0px;
	}
	.__pf .pf-ebf037ee {
		font-size: 35px;
	}
	.__pf .pf-5203fdec {
		font-family: Roboto;
	}
	.__pf .pf-edcf9b58 {
		font-family: Roboto;
	}
	.__pf .pf-9b58b9bb {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-b9bb2cb9 {
		font-size: 35px;
	}
	.__pf .pf-20df5e50 {
		font-family: Roboto;
	}
	.__pf .pf-e8ee5dd4 {
		font-family: Roboto;
	}
	.__pf .pf-5dd4b303 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-b303556b {
		font-size: 35px;
	}
	.__pf .pf-84a64e40 {
		font-family: Roboto;
	}
	.__pf .pf-e2a5d86a {
		font-family: Roboto;
	}
	.__pf .pf-d86a6e5b {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-1c858621 {
		font-family: Roboto;
		 font-size: 26px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-0bd163c0 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 22px;
	}
}
						