/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-52e420a0 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-c52de2d6 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 15px;
	}
	.__pf .pf-d6cd3aaf {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-0a08f182 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-9115d76a {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-adca8916 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-4ef4ef94 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-224dde53 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-de539a70 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-9a70b450 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-9a9d33ed {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-120ae5a2 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-e5a25d5a {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-5d5a76ed {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-56322944 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-78d7d97b {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-d97b6908 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-0116942f {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-bf9388a0 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 