/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.eTVcMH { word-break: break-word; }
.eTVcMH span { font-weight: inherit; text-decoration: inherit; }
.eTVcMH i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-c9288a7d {
		text-align: center;
		 font-weight: 700;
		 font-size: 26px;
		 font-family: Roboto;
	}
	.__pf .pf-c8e56e2e {
		font-size: 15px;
		 font-family: Roboto;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-a18da55a {
		font-size: 25px;
		 color: rgb(245, 166, 35);
		 font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
	}
	.__pf .pf-907c12d2 {
		font-size: 2px;
		 color: rgb(39, 72, 111);
		 margin-top: -10px;
	}
	.__pf .pf-907c12d2 div {
		font-size: 3px;
	}
	.__pf .pf-d732f69a {
		text-align: justify;
		 font-family: Roboto;
		 font-size: 16px;
		 margin-top: -5px;
	}
	.__pf .pf-252b3d95 {
		background-position: 50% 50%;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
		 background-size: cover;
	}
	.__pf .pf-81ff7f40 {
		text-align: center;
		 font-size: 25px;
		 font-weight: 700;
		 font-family: Roboto;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-d6f27867 {
		background-attachment: fixed;
		 background-color: rgb(52, 86, 126);
		 padding-top: 50px;
		 padding-bottom: 51px;
	}
	.__pf .pf-0a0d7100 {
		text-align: center;
	}
	.__pf .pf-82fafe9e {
		font-size: 35px;
	}
	.__pf .pf-b8d1d39b {
		font-family: Roboto;
	}
	.__pf .pf-4f5d0f93 {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-d6338e85 {
		text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 padding-bottom: 10px;
		 border-style: solid;
		 padding-top: 10px;
		 border-radius: 10px;
	}
	.__pf .pf-bb8b8a70 {
		font-size: 35px;
	}
	.__pf .pf-91092d9e {
		font-family: Roboto;
	}
	.__pf .pf-4f86b1d0 {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-d30683fb {
		text-align: center;
		 border-style: solid;
		 padding-top: 10px;
		 padding-bottom: 10px;
		 border-radius: 10px;
	}
	.__pf .pf-c3d13b2b {
		font-size: 35px;
	}
	.__pf .pf-4417ecba {
		font-family: Roboto;
	}
	.__pf .pf-21638619 {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-873890fe {
		text-align: center;
		 border-style: solid;
		 padding-top: 10px;
		 padding-bottom: 10px;
		 border-radius: 10px;
	}
	.__pf .pf-968f74b5 {
		text-align: center;
		 font-weight: 700;
		 font-size: 22px;
		 padding-top: 10px;
		 padding-bottom: 5px;
		 font-family: Roboto;
	}
	.__pf .pf-7bf401fa {
		padding-bottom: 10px;
		 padding-top: 3px;
	}
	.__pf .pf-16fb6ba7 {
		font-size: 20px;
		 font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 padding-top: 10px;
	}
	.__pf .pf-ff1580ea {
		background-size: cover;
	}
	.__pf .pf-2fcc0921 {
		background-attachment: fixed;
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
		 background-size: cover;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-252b3d95 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
	}
	.__pf .pf-2fcc0921 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-252b3d95 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
	}
	.__pf .pf-2fcc0921 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-252b3d95 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
	}
	.__pf .pf-2fcc0921 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-dab8a7d3-c48c-441e-b665-a6133f1bad09--vectorabstractbackgrounddesignwavy.jpg?v=1581318651");
	}
}
						