/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-dc0f41f0 {
		font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-36c64fa1 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-5c7f582d {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 padding-top: 50px;
		 padding-bottom: 50px;
		 font-weight: 700;
	}
	.__pf .pf-ab9e8468 {
		background-color: rgb(80, 227, 194);
	}
	.__pf .pf-9ec17f3f {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-d817cbdd {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-7924c07d {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-c07d6fb2 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(47, 31, 128);
	}
	.__pf .pf-6fb25986 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-86a7553b {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-9abb8bcc {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-8bcc4a9a {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 77);
	}
	.__pf .pf-4a9ab3ac {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-0040dae1 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-c98b2c5d {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-2c5db22a {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 78);
	}
	.__pf .pf-2ae4b7ad {
		text-align: center;
	}
	.__pf .pf-a91d9a55 {
		font-family: Roboto;
	}
	.__pf .pf-9a55db7f {
		font-family: Roboto;
		 text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-7f018179 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-9da26e2a {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a7bfaebb {
		font-family: Roboto;
		 font-size: 22px;
		 text-align: left;
		 padding-top: 5px;
		 font-weight: 700;
	}
}
						