/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-dcff6d0d {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-73f8fe71 {
		text-align: left;
		 font-family: Roboto;
		 font-weight: 700;
		 font-size: 16px;
	}
	.__pf .pf-dc212c2e {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-8f9bd289 {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-5f7683ca {
		font-size: 24px;
		 padding-top: 30px;
	}
	.__pf .pf-d05069db {
		text-align: center;
	}
	.__pf .pf-f4e8a690 {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 font-size: 16px;
	}
	.__pf .pf-10b62398 {
		font-size: 28px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-f484cc8b {
		font-size: 16px;
	}
	.__pf .pf-430a47fd {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
	}
	.__pf .pf-fdb80628 {
		font-size: 28px;
		 margin-top: 5px;
	}
	.__pf .pf-746bdf71 {
		font-size: 16px;
	}
	.__pf .pf-918ed0f0 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
	}
	.__pf .pf-62fb8261 {
		font-size: 28px;
		 margin-top: 4px;
	}
	.__pf .pf-ba65f2f1 {
		font-size: 16px;
	}
	.__pf .pf-1870e4d4 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
	}
	.__pf .pf-abb8174c {
		background-color: rgb(74, 144, 226);
	}
	.__pf .pf-2fe1be21 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-822aadf9 {
		font-size: inherit;
	}
	.__pf .pf-7becc4c4 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-a67781b6 {
		color: rgb(255, 255, 255);
	}
}
						

 