/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-5488a665 {
		font-family: Roboto;
		 font-size: 28px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-e15fb985 {
		font-family: Roboto;
		 font-size: 15px;
		 text-align: left;
		 font-weight: 700;
	}
	.__pf .pf-0cf6a83f {
		font-family: Roboto;
		 font-size: 27px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-8daf336f {
		font-size: 2px;
		 color: rgb(67, 22, 107);
	}
	.__pf .pf-8daf336f div {
		font-size: 4px;
	}
	.__pf .pf-1b8333e0 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: justify;
	}
	.__pf .pf-8171e9c6 {
		background-position: 0% 0%;
		 background-attachment: fixed;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-6d37ea79 {
		font-size: 24px;
		 font-family: Roboto;
		 text-align: center;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-c82b1d7f {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(19, 94, 180);
	}
	.__pf .pf-a022e932 {
		font-size: 35px;
		 padding-top: 15px;
		 padding-bottom: 4px;
	}
	.__pf .pf-67601a05 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-5c890de6 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-d2638188 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 background-color: rgb(176, 208, 245);
	}
	.__pf .pf-fe4d3994 {
		font-size: 35px;
		 padding-top: 15px;
		 padding-bottom: 4px;
	}
	.__pf .pf-758fac8d {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-560ef70a {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-7bf32b55 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 background-color: rgb(176, 208, 245);
	}
	.__pf .pf-3b72104b {
		font-size: 35px;
		 padding-top: 15px;
		 padding-bottom: 4px;
	}
	.__pf .pf-89d36d30 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-691a1b4a {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-44baf3aa {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 background-color: rgb(176, 208, 245);
	}
	.__pf .pf-735faea0 {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-d1c9ee7c {
		padding-top: 20px;
		 padding-bottom: 5px;
	}
	.__pf .pf-45c4362f {
		font-family: Roboto;
		 font-size: 21px;
		 font-weight: 700;
	}
	.__pf .pf-93b56221 {
		background-size: cover;
		 background-attachment: fixed;
		 background-repeat: repeat;
		 background-position: 100% 0%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-edfe66de {
		margin-left: 35px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-8171e9c6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-93b56221 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-8171e9c6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-93b56221 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-8171e9c6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-93b56221 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
						

 