/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-adbdc6f2 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
		 font-size: 26.9px;
	}
	.__pf .pf-d7489ddf {
		font-family: Roboto;
		 font-size: 14.3px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-bb2464f6 {
		font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 font-size: 20.3px;
	}
	.__pf .pf-d43ab8a1 {
		color: rgb(255, 158, 0);
		 font-size: 2px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-d43ab8a1 div {
		font-size: 2px;
	}
	.__pf .pf-04d00aa0 {
		font-family: Roboto;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-d78b9e88 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-fcae65de--50-Beautiful-and-Minimalist-Presentation-Backgrounds-041.jpg?v=1598328441");
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-5a3c3a56 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-9e88f437 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-65dea1f6--50-Beautiful-and-Minimalist-Presentation-Backgrounds-041.jpg?v=1598328607");
		 border-style: none;
	}
	.__pf .pf-c87c9e79 {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-0bd285b2 {
		font-family: Roboto;
		 text-align: center;
	}
	.__pf .pf-aefdb1e5 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 15px;
	}
	.__pf .pf-b3436a1d {
		text-align: center;
		 border-radius: 30px;
		 background-color: rgba(255, 255, 255, 0.92);
	}
	.__pf .pf-be6525ff {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-498d1dcd {
		font-family: Roboto;
		 text-align: center;
	}
	.__pf .pf-1dcd86f8 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 15px;
	}
	.__pf .pf-86f8fd4b {
		text-align: center;
		 border-radius: 30px;
		 background-color: rgba(255, 255, 255, 0.92);
	}
	.__pf .pf-b1e5d980 {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-632491f4 {
		font-family: Roboto;
		 text-align: center;
	}
	.__pf .pf-91f44581 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 15px;
	}
	.__pf .pf-4581be65 {
		text-align: center;
		 border-radius: 30px;
		 background-color: rgba(255, 255, 255, 0.92);
	}
	.__pf .pf-c3e66404 {
		font-family: Roboto;
		 font-size: 25.4px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-77fc0f8d {
		margin-top: 10px;
	}
	.__pf .pf-de20c87c {
		font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 font-family: Roboto;
	}
	.__pf .pf-f437733a {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ae65dea1--50-Beautiful-and-Minimalist-Presentation-Backgrounds-041.jpg?v=1598328579");
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						