/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-096138bb {
		text-align: center;
		 font-weight: 700;
		 font-size: 32px;
		 font-family: Roboto;
	}
	.__pf .pf-f9a5996e {
		font-family: Roboto;
		 font-size: 19px;
		 font-weight: 700;
	}
	.__pf .pf-61525c88 {
		font-size: 30px;
		 font-weight: 700;
		 color: rgb(65, 117, 5);
		 font-family: Roboto;
	}
	.__pf .pf-0de5458c {
		color: rgb(65, 117, 5);
		 font-size: 2px;
		 margin-top: -10px;
		 padding-right: 2px;
	}
	.__pf .pf-0de5458c div {
		font-size: 3px;
	}
	.__pf .pf-71f52cc6 {
		font-size: 16px;
		 font-family: Roboto;
		 text-align: justify;
	}
	.__pf .pf-2a0be285 {
		padding-top: 15px;
		 padding-bottom: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 background-position: 100% 0%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
	.__pf .pf-1509eed0 {
		font-size: 24px;
		 font-weight: 700;
	}
	.__pf .pf-32d2dfcd {
		text-align: center;
		 font-weight: 700;
		 font-size: 25px;
		 background-color: rgba(74, 221, 226, 0.8);
		 background-position: 100% 100%;
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-22a07fb0 {
		font-size: 30px;
		 color: rgb(0, 0, 0);
		 margin: 0px;
	}
	.__pf .pf-db0d06b7 {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 20px;
	}
	.__pf .pf-aaa83124 {
		text-align: center;
		 font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-94fb50d6 {
		text-align: center;
		 border-style: solid;
		 border-radius: 10px;
		 border-color: rgb(74, 74, 74);
		 padding: 10px 0px 0px;
		 border-width: 3px;
		 font-size: 9px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b6268c21 {
		font-size: 30px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-e730ca89 {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 20px;
	}
	.__pf .pf-6884bf83 {
		text-align: center;
		 font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-0b864433 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(74, 74, 74);
		 border-radius: 10px;
		 padding: 10px 0px 0px;
		 border-width: 3px;
	}
	.__pf .pf-22ea26d1 {
		font-size: 30px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-048f9b94 {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 20px;
	}
	.__pf .pf-983c417e {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-8b01db63 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(74, 74, 74);
		 border-radius: 10px;
		 padding: 10px 0px 0px;
		 border-width: 3px;
	}
	.__pf .pf-29039b94 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
	}
	.__pf .pf-6c543922 {
		margin-bottom: 5px;
		 margin-top: -10px;
	}
	.__pf .pf-984d5213 {
		text-align: left;
		 font-weight: 700;
		 font-size: 20px;
		 padding-top: 10px;
	}
	.__pf .pf-3f6a600d {
		text-align: center;
	}
	.__pf .pf-fae77cbe {
		border-style: none;
		 background-position: 100% 0%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
		 padding-bottom: 0px;
		 padding-top: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-2a0be285 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
	.__pf .pf-fae77cbe {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-2a0be285 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
	.__pf .pf-fae77cbe {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-2a0be285 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
	.__pf .pf-fae77cbe {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b8f5f37a-3092-46ff-8d29-4f083633f06e--bluewavelightppttemplates.jpg?v=1580266042");
	}
}
						

 