/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-21b43147 {
		text-align: center;
		 font-weight: 700;
		 font-family: Roboto;
		 font-size: 33px;
	}
	.__pf .pf-d004e812 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
		 font-weight: 700;
	}
	.__pf .pf-ec00a781 {
		font-family: Roboto;
		 font-size: 25px;
		 color: rgb(246, 2, 33);
	}
	.__pf .pf-1238c20f {
		color: rgb(74, 74, 74);
		 font-size: 2px;
	}
	.__pf .pf-1238c20f div {
		font-size: 3px;
	}
	.__pf .pf-052af381 {
		text-align: left;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-a1aac20f {
		font-size: 28px;
	}
	.__pf .pf-6133748c {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d1fdf22--images-8.jpg?v=1597666530");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-aa835b12 {
		font-family: Roboto;
		 font-size: 28px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-9eafdf0d {
		background-color: rgba(80, 176, 227, 0.89);
		 padding: 50px;
	}
	.__pf .pf-3ea0a70c {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d1fdf22--images-8.jpg?v=1597666530");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-083f70ed {
		font-size: 35px;
	}
	.__pf .pf-f771cafe {
		font-size: 18px;
		 font-weight: 700;
		 font-family: Roboto;
	}
	.__pf .pf-40e3c772 {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-a70cead0 {
		text-align: center;
		 border-style: solid;
		 border-top-width: 2px;
		 border-radius: 20px;
		 padding-top: 5px;
	}
	.__pf .pf-377079a9 {
		font-size: 35px;
	}
	.__pf .pf-f9de40a0 {
		font-size: 18px;
		 font-weight: 700;
		 font-family: Roboto;
	}
	.__pf .pf-40a0fc6a {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-fc6aa521 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 padding-top: 5px;
	}
	.__pf .pf-f47c0e2f {
		font-size: 35px;
	}
	.__pf .pf-365a9b84 {
		font-size: 18px;
		 font-weight: 700;
		 font-family: Roboto;
	}
	.__pf .pf-9b84bf74 {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-bf743770 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 padding-top: 5px;
	}
	.__pf .pf-4c3e083f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d1fdf22--images-8.jpg?v=1597666530");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-188f84d4 {
		font-size: 25px;
		 text-align: center;
		 font-family: Roboto;
	}
	.__pf .pf-ffe5cf38 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d1fdf22--images-8.jpg?v=1597666530");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 padding: 0px;
	}
	.__pf .pf-cc9f9e8e {
		font-size: 15px;
	}
	.__pf .pf-15de1d5a {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d1fdf22--images-8.jpg?v=1597666530");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-1d5a1705 {
		margin-top: -20px;
	}
	.__pf .pf-0665c596 {
		font-size: 19px;
		 font-weight: 700;
		 font-family: Roboto;
		 text-align: left;
	}
	.__pf .pf-b9735de9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d1fdf22--images-8.jpg?v=1597666530");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 padding-top: 0px;
	}
}
						