/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-650bbde9 {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 font-size: 32px;
	}
	.__pf .pf-a8fb9373 {
		margin-top: 5px;
		 background-color: rgb(242, 108, 79);
		 padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-434f80d9 {
		font-family: Roboto;
		 text-transform: uppercase;
		 font-weight: 700;
		 font-size: 18px;
	}
	.__pf .pf-e1c3c4f5 {
		color: rgb(242, 108, 79);
		 font-family: Roboto;
		 font-weight: 700;
		 font-size: 24px;
		 margin-top: 5px;
	}
	.__pf .pf-48a86b88 {
		color: rgb(242, 108, 79);
		 font-size: 2px;
		 padding-right: 0px;
		 margin-right: 17px;
	}
	.__pf .pf-48a86b88 div {
		font-size: 3px;
	}
	.__pf .pf-e7c10bb5 {
		font-size: 18px;
		 font-family: Roboto;
	}
	.__pf .pf-744b8c0e {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-ae4efd49 {
		text-align: center;
	}
	.__pf .pf-0e1abace {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-aba66d86 {
		background-color: rgb(247, 247, 247);
		 padding-top: 60px;
		 padding-bottom: 80px;
	}
	.__pf .pf-078d4571 {
		text-align: center;
	}
	.__pf .pf-702f2aa5 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 24px;
	}
	.__pf .pf-0c012522 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5a8514f5 {
		padding: 100px 0px 177px;
		 background-repeat: repeat-x;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-f0998936--XO-Banner-Image-2-Edited.jpg?v=1587737713");
		 background-position: 50% 50%;
		 background-size: contain;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-aba66d86 {
		padding-bottom: 20px;
		 padding-top: 35px;
	}
	.__pf .pf-5a8514f5 {
		background-image: url("");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-5a8514f5 {
		background-image: url("");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-5a8514f5 {
		background-image: url("");
	}
}
						