/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ccb4d481 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-62830ba6 {
		padding-right: 0px;
		 margin-left: 0px;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-2847b135 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-ee3bccb5 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-00507f7c {
		font-size: 27px;
		 font-family: Roboto;
		 text-align: left;
		 color: rgb(15, 68, 75);
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-8e14a901 {
		font-size: 19px;
		 color: rgb(0, 0, 0);
		 font-family: Roboto;
		 text-align: left;
	}
	.__pf .pf-c8109725 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(15, 68, 75);
		 padding: 1em;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-c8109725:active {
		font-family: Roboto;
	}
	.__pf .pf-c8109725:hover {
		color: rgb(255, 255, 255);
		 background-color: rgba(15, 68, 75, 0.9);
	}
	.__pf .pf-a9ae18e8 {
		padding-top: 15px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-74cbd606--BG2.png?v=1600421590");
		 padding-bottom: 31px;
	}
	.__pf .pf-0e42d300 {
		width: 100%;
		 height: auto;
		 text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-weight: 700;
	}
	.__pf .pf-2cd62ef3 {
		text-align: center;
		 margin-top: 0px;
		 font-family: Roboto;
		 margin-bottom: 0px;
	}
	.__pf .pf-9f8b7fac {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-f548282f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-cb451e17 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-1e1728ce {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-28cec6f4 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-78ced19d {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d19dd280 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d280de9c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d4595e29 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-44c4627f {
		font-family: Roboto;
		 font-size: 27px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(15, 68, 75);
	}
	.__pf .pf-e298fd3a {
		font-family: Roboto;
		 font-size: 19px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-b2bbe8da {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(15, 68, 75);
		 padding: 1em;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-b2bbe8da:hover {
		color: rgb(255, 255, 255);
		 background-color: rgba(15, 68, 75, 0.9);
	}
	.__pf .pf-367d1d60 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-0d99616b {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-c574cbd6--BG1-.png?v=1600421425");
		 border-radius: 5px;
	}
	.__pf .pf-94c3c798 {
		font-family: Roboto;
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-d8409a56 {
		margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: center;
		 font-family: Roboto;
	}
	.__pf .pf-c38d5c6e {
		margin-top: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-52527b26 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-7b26f4a7 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-f4a7246a {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-246a8fd1 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-ab755be6 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-5be68c83 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-8c839330 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-93307ad3 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-311530aa {
		text-align: center;
		 font-size: 24px;
		 font-family: Roboto;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-30aab1fe {
		font-size: 8px;
		 padding-top: 0px;
		 margin-bottom: -20px;
	}
	.__pf .pf-e7ee7115 {
		padding-top: 10px;
	}
	.__pf .pf-bd787a18 {
		padding-top: 10px;
		 width: 100%;
		 height: auto;
	}
	.__pf .pf-c21bbd78 {
		padding-top: 10px;
	}
	.__pf .pf-9bb438ba {
		margin-left: 0px;
		 margin-right: 0px;
		 text-align: left;
		 padding-top: 5px;
	}
	.__pf .pf-752112df {
		font-family: Roboto;
		 font-size: 16px;
		 font-weight: 700;
	}
	.__pf .pf-e7843a14 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-2847b135 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-1f9aaee7 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-d9942847 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 background-position: 0% 0%;
	}
}
						

 .sc-pkUyL.fTyjzF.pf-37c8d7a9{ 	border-top: 4px solid transparent !important; 	border-bottom: 4px solid transparent; 	border-image: linear-gradient(90deg,#1aa5b7,#0f444b); 	border-image-slice: 1; } .sc-pZdvY.kuwSuz.pf-c8109725{ 	border-radius: 10px !important; } .__pf .pf-b2bbe8da{ 	border-radius: 10px !important; }