/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-394bc655 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-508d1cd8 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 15px;
	}
	.__pf .pf-d86a59ab {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-14697e07 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-9251b833 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-4da6e1c9 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-907ee51d {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-c2dae655 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-e65572bd {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-72bd1c42 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-507c9879 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-0c1d7def {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-7defc3e6 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-c3e62b60 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-c2aaf08b {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-741e76a9 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-76a9fd8e {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-7d0760d9 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-84953a92 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						