/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.dxrmGe { display: inline-flex; vertical-align: middle; }
.dxrmGe picture { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-e2fb1d55 {
		font-size: 32px;
		 text-align: center;
		 color: rgb(0, 0, 0);
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: Roboto;
	}
	.__pf .pf-d574a758 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-9ae6e0b2 {
		font-weight: 700;
		 margin-bottom: 0px;
		 font-size: 15px;
		 color: rgb(0, 0, 0);
		 margin-top: 0px;
		 font-family: Roboto;
		 text-transform: uppercase;
	}
	.__pf .pf-53aac143 {
		font-weight: 700;
		 font-size: 25px;
		 text-align: left;
		 color: rgb(0, 0, 0);
		 margin: 10px 0px 0px;
		 font-family: Roboto;
	}
	.__pf .pf-baaafccf {
		color: rgb(0, 0, 0);
		 font-size: 2px;
		 width: 170px;
		 padding: 0px 0px 15px;
		 margin-bottom: -20px;
		 margin-top: -10px;
	}
	.__pf .pf-baaafccf div {
		font-size: 2px;
	}
	.__pf .pf-f8bd8668 {
		font-size: 16px;
		 font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-ad583656 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 background-attachment: scroll;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-9983374a-998d-4dfa-9bb6-235a982dc178--images-Edited.jpg?v=1575448988");
		 background-repeat: no-repeat;
		 background-position: 50% 0%;
	}
	.__pf .pf-722c8729 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
		 margin-top: 0px;
		 color: rgb(255, 255, 255);
		 font-size: 28px;
		 margin-bottom: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-e57bdf93 {
		color: rgb(74, 74, 74);
		 font-size: 1px;
	}
	.__pf .pf-4a86c799 {
		color: rgb(208, 2, 27);
		 background-color: rgb(74, 144, 226);
		 padding-bottom: 80px;
		 padding-top: 80px;
	}
	.__pf .pf-00ea4f3b {
		background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-9e299b1e {
		background-position: 50% 50%;
		 background-size: cover;
		 padding: 0px;
	}
	.__pf .pf-2ed2e975 {
		font-size: 30px;
		 color: rgb(74, 104, 226);
		 padding-top: 0px;
		 margin: 5px;
	}
	.__pf .pf-e5155243 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-5d0cc6b3 {
		text-align: center;
		 border-width: 1px;
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-radius: 5px;
	}
	.__pf .pf-4ed979cd {
		font-size: 30px;
		 color: rgb(74, 104, 226);
		 margin: 5px;
	}
	.__pf .pf-a760be59 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-93a7f511 {
		text-align: center;
		 border-width: 1px;
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-radius: 5px;
	}
	.__pf .pf-a4caa5d5 {
		font-size: 30px;
		 color: rgb(74, 104, 226);
		 margin: 5px;
	}
	.__pf .pf-058c8485 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-168bd4c7 {
		text-align: center;
		 border-width: 1px;
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-radius: 5px;
	}
	.__pf .pf-ec11f7d7 {
		text-align: center;
	}
	.__pf .pf-3a228750 {
		text-align: center;
		 padding-bottom: 0px;
		 padding-top: 0px;
		 background-color: rgb(183, 239, 255);
		 margin-bottom: -9px;
		 background-position: 50% 50%;
		 background-size: contain;
		 margin-top: -8px;
	}
	.__pf .pf-899de1cc {
		background-color: rgb(183, 239, 255);
		 background-position: 50% 50%;
		 background-size: cover;
	}
	.__pf .pf-eb86aa70 {
		padding-top: 0px;
		 margin-top: -15px;
	}
	.__pf .pf-5e537815 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 background-color: rgb(183, 239, 255);
		 margin-bottom: 0px;
		 background-position: 50% 50%;
		 background-size: contain;
	}
	.__pf .pf-b4eb4c81 {
		font-weight: 700;
	}
	.__pf .pf-16a3d742 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 background-color: rgb(183, 239, 255);
		 margin-top: -15px;
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-9bb2ac1a {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-c09244b9 {
		font-family: Roboto;
	}
	.__pf .pf-dc69e1eb {
		color: rgb(0, 0, 0);
		 font-size: 2px;
	}
	.__pf .pf-76f87ebc {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
		 margin-top: 0px;
		 color: rgb(0, 0, 0);
		 font-size: 28px;
		 margin-bottom: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4d703ddb {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
		 text-transform: uppercase;
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-2cda4867 {
		text-transform: uppercase;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-fe9369d7 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
		 text-transform: uppercase;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-ad583656 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-9983374a-998d-4dfa-9bb6-235a982dc178--images-Edited.jpg?v=1575448988");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-ad583656 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-9983374a-998d-4dfa-9bb6-235a982dc178--images-Edited.jpg?v=1575448988");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-ad583656 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-9983374a-998d-4dfa-9bb6-235a982dc178--images-Edited.jpg?v=1575448988");
	}
}
						

 