/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d5fb7f86 {
		font-family: Roboto;
		 font-size: 26px;
		 font-weight: 700;
	}
	.__pf .pf-f20a321d {
		font-family: Roboto;
		 font-size: 16px;
		 font-weight: 700;
		 padding-top: 0px;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-8ebed10a {
		font-family: Roboto;
		 color: rgb(208, 2, 27);
		 padding-bottom: 0px;
		 margin-bottom: 20px;
		 font-weight: 700;
		 margin-top: 17px;
		 font-size: 22px;
	}
	.__pf .pf-3b798d0f {
		color: rgb(208, 2, 27);
		 font-size: 2px;
		 margin-bottom: 5px;
		 margin-top: -20px;
	}
	.__pf .pf-3b798d0f div {
		font-size: 3px;
	}
	.__pf .pf-54899b4f {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: -3px;
		 margin-bottom: 0px;
		 letter-spacing: 0px;
		 line-height: 1.3em;
	}
	.__pf .pf-7a2a2cfd {
		padding-top: 0px;
	}
	.__pf .pf-5d783677 {
		background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1d4f116e--50BeautifulandMinimalistPresentationBackgrounds03.jpg?v=1602734200");
	}
	.__pf .pf-edf35edf {
		font-family: Roboto;
		 font-size: 22px;
	}
	.__pf .pf-e410b448 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(133, 197, 238);
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-fe1afc03 {
		font-size: 35px;
		 padding-top: 0px;
		 margin-top: 5px;
	}
	.__pf .pf-54be1337 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-f55449bc {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-34b942d0 {
		text-align: center;
		 border-style: solid;
		 border-radius: 30px;
		 background-color: rgb(133, 197, 238);
	}
	.__pf .pf-49bcf147 {
		font-size: 35px;
		 padding-top: 0px;
		 margin-top: 5px;
	}
	.__pf .pf-863a75bb {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-75bbe125 {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-e1252164 {
		text-align: center;
		 border-style: solid;
		 border-radius: 30px;
		 background-color: rgb(133, 197, 238);
	}
	.__pf .pf-4c974399 {
		font-size: 35px;
		 padding-top: 0px;
		 margin-top: 5px;
	}
	.__pf .pf-e4f21c9e {
		font-size: 28px;
	}
	.__pf .pf-9ec418f8 {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-f5ca51d4 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-51d4e286 {
		font-family: Roboto;
		 font-size: 15px;
	}
	.__pf .pf-e28694f8 {
		text-align: center;
		 border-style: solid;
		 border-radius: 30px;
		 background-color: rgb(133, 197, 238);
	}
	.__pf .pf-d9945227 {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
	}
	.__pf .pf-9608db78 {
		margin-top: 20px;
	}
	.__pf .pf-c118afce {
		font-family: Roboto;
		 font-size: 18px;
		 margin-bottom: 27px;
		 margin-top: -10px;
	}
	.__pf .pf-afceff88 {
		font-family: Roboto;
	}
	.__pf .pf-e72c34b9 {
		background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4f116efc--50BeautifulandMinimalistPresentationBackgrounds03.jpg?v=1602734229");
	}
}
						