/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-a4bdbf75 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
	}
	.__pf .pf-c7ee943c {
		background-color: rgb(255, 255, 255);
		 padding-bottom: 0px;
	}
	.__pf .pf-5f42ccf4 {
		font-family: Roboto;
		 color: rgb(0, 0, 0);
		 font-size: 16px;
	}
	.__pf .pf-7205eace {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
	.__pf .pf-a5194f46 {
		font-size: 24px;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-02fc0851 {
		background-color: rgb(109, 170, 241);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-f6b6c11e {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-f8ed4cea {
		font-family: Roboto;
	}
	.__pf .pf-bf851527 {
		font-family: Roboto;
	}
	.__pf .pf-152760ba {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-60ba3569 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-e458309d {
		font-family: Roboto;
	}
	.__pf .pf-097b7164 {
		font-family: Roboto;
	}
	.__pf .pf-7164f154 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-f154667a {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-b6bec83f {
		font-family: Roboto;
	}
	.__pf .pf-295be42d {
		font-family: Roboto;
	}
	.__pf .pf-e42dad71 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-f21d2373 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 26px;
	}
	.__pf .pf-33874065 {
		display: flex;
		 padding-bottom: 0px;
	}
	.__pf .pf-4065686b {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-24f4bd66 {
		text-align: left;
		 font-size: 22px;
		 font-family: Roboto;
		 padding-top: 0px;
		 font-weight: 700;
	}
	.__pf .pf-6d17a283 {
		background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
}
						

 