/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-8c455e17 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
	}
	.__pf .pf-f651a809 {
		background-color: rgb(255, 255, 255);
		 padding-bottom: 0px;
	}
	.__pf .pf-b759d4fa {
		font-family: Roboto;
		 color: rgb(0, 0, 0);
		 font-size: 16px;
	}
	.__pf .pf-05840a20 {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
	.__pf .pf-c2e3ac5f {
		font-size: 24px;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-fc54c3dc {
		background-color: rgb(109, 170, 241);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-f387450a {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-83e8bc78 {
		font-family: Roboto;
	}
	.__pf .pf-999775ae {
		font-family: Roboto;
	}
	.__pf .pf-75aea060 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-a0604166 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-a4d600ae {
		font-family: Roboto;
	}
	.__pf .pf-2a7188c7 {
		font-family: Roboto;
	}
	.__pf .pf-88c719d5 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-19d58af9 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-6bf6dd22 {
		font-family: Roboto;
	}
	.__pf .pf-b7a5fbef {
		font-family: Roboto;
	}
	.__pf .pf-fbef8710 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-d71674f0 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 26px;
	}
	.__pf .pf-b501893d {
		display: flex;
		 padding-bottom: 0px;
	}
	.__pf .pf-893dab33 {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-4a3a8c46 {
		text-align: left;
		 font-size: 22px;
		 font-family: Roboto;
		 padding-top: 0px;
		 font-weight: 700;
	}
	.__pf .pf-38f177d3 {
		background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
}
						

 