/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.eTVcMH { word-break: break-word; }
.eTVcMH span { font-weight: inherit; text-decoration: inherit; }
.eTVcMH i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-77f375a4 {
		font-family: "Open Sans";
		 font-size: 35px;
		 text-align: center;
	}
	.__pf .pf-b0a98f57 {
		text-align: justify;
		 font-family: "Open Sans";
		 font-size: 16px;
		 margin-top: -25px;
	}
	.__pf .pf-daab844c {
		font-family: "Open Sans";
		 font-size: 20px;
		 margin-top: -20px;
	}
	.__pf .pf-d61a2b67 {
		font-family: "Open Sans";
		 font-size: 16px;
		 text-align: justify;
		 margin-top: -27px;
	}
	.__pf .pf-2d8c92b6 {
		font-family: "Open Sans";
		 font-size: 16px;
		 text-align: justify;
		 margin-top: -31px;
	}
	.__pf .pf-78a18983 {
		margin-top: 17px;
	}
	.__pf .pf-8762e6dc {
		margin-top: -31px;
	}
	.__pf .pf-b3749ca9 {
		font-family: "Open Sans";
		 font-size: 16px;
		 margin-top: -3px;
		 text-align: justify;
	}
	.__pf .pf-51897a73 {
		text-align: justify;
		 font-family: "Open Sans";
		 font-size: 16px;
		 margin-top: -33px;
	}
}
						