/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d9b76ea0 {
		font-family: Roboto;
		 font-size: 32px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-1cf30f76 {
		font-family: Roboto;
		 font-size: 17px;
		 text-align: left;
	}
	.__pf .pf-a1b1dafa {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-521162e5 {
		font-family: Roboto;
		 font-size: 24px;
		 font-weight: 700;
		 text-align: center;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-9c66fe5f {
		background-color: rgb(23, 132, 255);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-5fdef00a {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-c4b6e47a {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-1dc1c8d3 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-c8d38ee8 {
		text-align: center;
		 border-style: solid;
		 border-radius: 25px;
	}
	.__pf .pf-8ee82143 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-7823c8e9 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-e9f3c38d {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-c38dab56 {
		text-align: center;
		 border-style: solid;
		 border-radius: 25px;
	}
	.__pf .pf-ab5667fa {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-8fa6df05 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-ff000b3c {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-0b3c538d {
		text-align: center;
		 border-style: solid;
		 border-radius: 25px;
	}
	.__pf .pf-fe019026 {
		font-family: Roboto;
		 font-size: 26px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-872bad6c {
		font-family: Roboto;
		 font-size: 22px;
		 text-align: left;
		 font-weight: 700;
		 padding-top: 5px;
	}
}
						