/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d5518846 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
	}
	.__pf .pf-bb6d1fbf {
		background-color: rgb(255, 255, 255);
		 padding-bottom: 0px;
	}
	.__pf .pf-ff9d1ea6 {
		font-family: Roboto;
		 color: rgb(0, 0, 0);
		 font-size: 16px;
	}
	.__pf .pf-42fb6782 {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
	.__pf .pf-7c324c12 {
		font-size: 24px;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-f5989bbf {
		background-color: rgb(109, 170, 241);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-9eb4cca2 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-a5ab45cb {
		font-family: Roboto;
	}
	.__pf .pf-9e5e3426 {
		font-family: Roboto;
	}
	.__pf .pf-3426f432 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-f432db0f {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-e8bb481b {
		font-family: Roboto;
	}
	.__pf .pf-15fba2b5 {
		font-family: Roboto;
	}
	.__pf .pf-a2b56ce7 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-6ce707f1 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-6103d23f {
		font-family: Roboto;
	}
	.__pf .pf-1a59d351 {
		font-family: Roboto;
	}
	.__pf .pf-d351c07a {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-b6ab3a17 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 26px;
	}
	.__pf .pf-7c1fd4c3 {
		display: flex;
		 padding-bottom: 0px;
	}
	.__pf .pf-d4c3096f {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-8303d671 {
		text-align: left;
		 font-size: 22px;
		 font-family: Roboto;
		 padding-top: 0px;
		 font-weight: 700;
	}
	.__pf .pf-128b88cc {
		background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
}
						

 