/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-4f18be38 {
		font-size: 78px;
		 text-align: center;
		 padding-top: 127px;
		 margin-top: 23px;
		 font-family: Oswald;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-d3c02674 {
		font-size: 8px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-fc6271fb--adddd.png?v=1593919113");
		 padding-bottom: 113px;
		 padding-top: 0px;
	}
	.__pf .pf-ab2117b1 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-17b193f8 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-93de1762 {
		background-color: rgb(239, 150, 147);
		 line-height: 60px;
	}
	.__pf .pf-93f885b1 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 253, 252);
		 line-height: 60px;
	}
	.__pf .pf-1762c12d {
		background-color: rgb(241, 163, 115);
		 line-height: 60px;
	}
	.__pf .pf-85b17392 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 line-height: 60px;
	}
	.__pf .pf-c12df56a {
		background-color: rgb(172, 209, 149);
		 font-size: 20px;
		 line-height: 60px;
	}
	.__pf .pf-7392f18a {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-f56aa071 {
		background-color: rgb(125, 135, 165);
		 line-height: 60px;
	}
	.__pf .pf-f18a119e {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-a0711b9b {
		background-color: rgb(183, 139, 191);
		 line-height: 60px;
	}
	.__pf .pf-119e8648 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-1b9bf5da {
		background-color: rgb(58, 122, 171);
		 line-height: 3em;
	}
	.__pf .pf-864806d2 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-f5da378e {
		background-color: rgb(92, 188, 180);
		 line-height: 3em;
	}
	.__pf .pf-06d2e480 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-378eed66 {
		background-color: rgb(46, 138, 140);
		 line-height: 3em;
	}
	.__pf .pf-730b8c6e {
		padding-bottom: 94px;
		 background-color: rgb(60, 59, 63);
	}
	.__pf .pf-f26256cd {
		text-align: center;
	}
	.__pf .pf-1a24feb4 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-46bd7c52 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a1ef7f8e {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-7f8ec661 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-a6c93fef {
		background-color: rgb(239, 150, 147);
		 line-height: 60px;
	}
	.__pf .pf-c661004a {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 253, 252);
		 line-height: 60px;
	}
	.__pf .pf-3fef071b {
		background-color: rgb(241, 163, 115);
		 line-height: 60px;
	}
	.__pf .pf-004af9e3 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 line-height: 60px;
	}
	.__pf .pf-071bb901 {
		background-color: rgb(172, 209, 149);
		 font-size: 20px;
		 line-height: 60px;
	}
	.__pf .pf-f9e39cfa {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-b90178df {
		background-color: rgb(125, 135, 165);
		 line-height: 60px;
	}
	.__pf .pf-9cfabcb7 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-78df95d1 {
		background-color: rgb(183, 139, 191);
		 line-height: 60px;
	}
	.__pf .pf-bcb77833 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-95d15c4e {
		background-color: rgb(58, 122, 171);
		 line-height: 3em;
	}
	.__pf .pf-7833b6fc {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-5c4e30d1 {
		background-color: rgb(92, 188, 180);
		 line-height: 3em;
	}
	.__pf .pf-b6fc9f09 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 line-height: 60px;
	}
	.__pf .pf-30d1243d {
		background-color: rgb(46, 138, 140);
		 line-height: 3em;
	}
	.__pf .pf-0a65b38d {
		padding-bottom: 94px;
		 background-color: rgba(60, 59, 63, 0);
	}
	.__pf .pf-b38d5a8c {
		font-size: 30px;
		 margin-top: 5px;
	}
	.__pf .pf-96079230 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-92302740 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-2e7faccd {
		text-align: center;
		 border-style: solid;
	}
	.__pf .pf-3aacfcd8 {
		font-size: 30px;
		 margin-top: 5px;
	}
	.__pf .pf-27402e67 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 18px;
	}
	.__pf .pf-2e67e4f3 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-accd989c {
		text-align: center;
		 border-style: solid;
	}
	.__pf .pf-d9836850 {
		font-size: 30px;
		 padding-top: 0px;
		 margin-top: 5px;
	}
	.__pf .pf-e4f322b1 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 18px;
	}
	.__pf .pf-22b12e7f {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-989cfaf6 {
		text-align: center;
		 border-style: solid;
	}
	.__pf .pf-60701133 {
		background-color: rgba(227, 162, 80, 0.22);
	}
}
						

 .main-container { 	display: inherit; 	background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/files/woman-with-laptop-on-the-window-sill-729EB77.jpg?v=1593913980"); 	height: 50%; 	background-position: right; 	background-repeat: no-repeat; 	background-size: cover; 	position: relative; 	padding-top: 150px; 	padding-bottom: 150px; 	margin-top: 0px; 	margin-bottom: 5px; }