/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-05890c13 {
		font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-3306f253 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-7f5496ff {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 padding-top: 50px;
		 padding-bottom: 50px;
		 font-weight: 700;
	}
	.__pf .pf-1c64b66c {
		background-color: rgb(80, 227, 194);
	}
	.__pf .pf-f3b6442f {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-208a74fa {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-2f068175 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-817570bc {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(47, 31, 128);
	}
	.__pf .pf-70bc9e2c {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-0db7285b {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-ba151163 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-1163e38f {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 77);
	}
	.__pf .pf-e38f91d0 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-306d0ae5 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-67ee66dc {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-66dc942e {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 78);
	}
	.__pf .pf-2efc1f18 {
		text-align: center;
	}
	.__pf .pf-44a16c64 {
		font-family: Roboto;
	}
	.__pf .pf-6c643ef1 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-f13198c3 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-ea13aa8c {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-63516a4a {
		font-family: Roboto;
		 font-size: 22px;
		 text-align: left;
		 padding-top: 5px;
		 font-weight: 700;
	}
}
						

 