/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-17845aa8 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 37px;
	}
	.__pf .pf-d491ba35 {
		font-family: Roboto;
	}
	.__pf .pf-35848b0f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-a0399590 {
		text-align: left;
		 font-family: Roboto;
	}
	.__pf .pf-6d60050f {
		text-align: center;
		 font-family: Roboto;
		 font-size: 25px;
		 padding: 50px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-8312ed9b {
		background-color: rgb(74, 144, 226);
		 padding: 0px;
	}
	.__pf .pf-57a0b5f9 {
		font-size: 35px;
	}
	.__pf .pf-d96ced05 {
		font-family: Roboto;
	}
	.__pf .pf-15004702 {
		font-family: Roboto;
	}
	.__pf .pf-47020bf4 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-0bf4aa15 {
		font-size: 35px;
	}
	.__pf .pf-25e4b7ca {
		font-family: Roboto;
	}
	.__pf .pf-f1f6bf8d {
		font-family: Roboto;
	}
	.__pf .pf-bf8d2a78 {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-2a7818d1 {
		font-size: 35px;
	}
	.__pf .pf-3f65f939 {
		font-family: Roboto;
	}
	.__pf .pf-49a20697 {
		font-family: Roboto;
	}
	.__pf .pf-0697ce6e {
		text-align: center;
		 padding: 10px;
		 border-style: solid;
		 border-radius: 50px;
	}
	.__pf .pf-5547b8ac {
		font-family: Roboto;
		 font-size: 26px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-40fe2d9d {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 22px;
	}
}
						

 