/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-32627ad5 {
		font-size: 26px;
		 text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 color: rgb(74, 144, 226);
	}
	.__pf .pf-dd73bbc6 {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-d4238da7 {
		font-family: Roboto;
		 font-size: 26px;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 color: rgba(208, 2, 27, 0.92);
		 font-weight: 700;
	}
	.__pf .pf-00200a27 {
		color: rgb(74, 74, 74);
		 font-size: 2px;
		 margin-top: -5px;
	}
	.__pf .pf-00200a27 div {
		font-size: 3px;
	}
	.__pf .pf-effe589a {
		font-size: 16px;
		 text-align: justify;
		 color: rgb(0, 0, 0);
		 font-family: Roboto;
		 margin-bottom: 15px;
		 margin-top: 10px;
	}
	.__pf .pf-c7abc530 {
		background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-1f29f094 {
		font-weight: 700;
		 text-align: center;
		 font-family: Roboto;
		 font-size: 23px;
	}
	.__pf .pf-84623883 {
		background-color: rgb(74, 144, 226);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-abb43d69 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-51c096e5 {
		font-size: 15px;
	}
	.__pf .pf-85ca8b71 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-53ed106d {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-9e0930c3 {
		font-size: 15px;
	}
	.__pf .pf-0ce632b9 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-094794ca {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-f99fc060 {
		font-size: 15px;
	}
	.__pf .pf-ffa4df9f {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-47406c55 {
		text-align: center;
		 font-weight: 700;
		 font-family: Roboto;
		 font-size: 23px;
	}
	.__pf .pf-7e47b812 {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 20px;
		 margin-bottom: -15px;
		 margin-top: -20px;
	}
	.__pf .pf-62893fec {
		margin: 0px;
	}
	.__pf .pf-3e8df47d {
		background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-c7abc530 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-3e8df47d {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-c7abc530 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-3e8df47d {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-c7abc530 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
	.__pf .pf-3e8df47d {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-4db14d91--silverlightbluewaveabstractbackgroundspowerpoint.jpg?v=1582080451");
	}
}
						