/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-eea8523d {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-90a6fd64 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 0px;
	}
	.__pf .pf-64b98bb4 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-5c7521db {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-30a49e81 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-82942b2e {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-0d9920c5 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-a184ce67 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-ce67af8d {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-af8d59d1 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-1bf0803c {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-288835fb {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-35fb37ca {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-37ca0219 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-0d5b76e0 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-933a1bb0 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-1bb08401 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-af593d09 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-235900a9 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 