/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-75c27294 {
		font-size: 30px;
		 text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-2a37fa14 {
		font-size: 15px;
		 font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-3cf0d543 {
		font-family: Roboto;
		 font-size: 24px;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 color: rgba(208, 2, 27, 0.92);
		 font-weight: 700;
	}
	.__pf .pf-b21b91d0 {
		color: rgb(74, 74, 74);
		 font-size: 2px;
		 margin-top: -10px;
	}
	.__pf .pf-b21b91d0 div {
		font-size: 3px;
	}
	.__pf .pf-baa7be5c {
		font-size: 16px;
		 text-align: justify;
		 color: rgb(0, 0, 0);
		 font-family: Roboto;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-8c5a9662 {
		background-position: 50% 100%;
		 background-attachment: fixed;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
	.__pf .pf-385d05da {
		font-weight: 700;
		 text-align: center;
		 font-family: Roboto;
		 font-size: 24px;
	}
	.__pf .pf-07a9e47f {
		background-color: rgba(134, 233, 150, 0.21);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-b473f239 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-e2b54b22 {
		font-size: 15px;
	}
	.__pf .pf-43ee6c6d {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-5ae9f09c {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-805dbf08 {
		font-size: 15px;
	}
	.__pf .pf-fd714082 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-90c44826 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-9e38893f {
		font-size: 15px;
	}
	.__pf .pf-f0802584 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-66c25ac2 {
		text-align: center;
		 font-weight: 700;
		 font-family: Roboto;
		 font-size: 25px;
	}
	.__pf .pf-21e6df2e {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 22px;
		 margin-bottom: -15px;
		 margin-top: -20px;
		 margin-left: -15px;
	}
	.__pf .pf-33dfccf1 {
		margin: 0px;
	}
	.__pf .pf-45578420 {
		background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-8c5a9662 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
	.__pf .pf-45578420 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-8c5a9662 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
	.__pf .pf-45578420 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-8c5a9662 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
	.__pf .pf-45578420 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d3696893--bokehgradientphotogreenwallpaper.jpg?v=1582698873");
	}
}
						