/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d82929b3 {
		font-family: Roboto;
		 font-size: 29px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-caf82303 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-00b863bd {
		font-family: Roboto;
		 font-size: 24.5px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-7dd74147 {
		color: rgb(208, 2, 27);
		 font-size: 2px;
	}
	.__pf .pf-7fd82c7a {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-cf1a93ea {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-261cc0a9--abstractcolorfulcreativepolygonbackgroundvector.jpg?v=1603262306");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-0aa92f3e {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-206b0ca1 {
		background-color: rgba(248, 55, 62, 0.42);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 padding: 50px;
	}
	.__pf .pf-2c7a1e7d {
		font-size: 35px;
		 margin-top: 10px;
	}
	.__pf .pf-b00e1196 {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-5a090bde {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-7b986f14 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
	}
	.__pf .pf-1e7d4ab8 {
		font-size: 35px;
		 margin-top: 10px;
	}
	.__pf .pf-174eba24 {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-eb41279b {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-6f14aee6 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
	}
	.__pf .pf-4ab81112 {
		font-size: 35px;
		 margin-top: 10px;
	}
	.__pf .pf-03c99fe3 {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-ae573e3f {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-aee6b230 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
	}
	.__pf .pf-49e8e40c {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 26px;
	}
	.__pf .pf-3f49d3f1 {
		font-family: Roboto;
		 font-size: 23.5px;
		 margin-top: -20px;
		 margin-bottom: 0px;
		 font-weight: 700;
	}
	.__pf .pf-b5b3a4aa {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-261cc0a9--abstractcolorfulcreativepolygonbackgroundvector.jpg?v=1603262306");
		 background-repeat: repeat;
		 background-attachment: fixed;
		 background-position: 50% 50%;
		 background-size: cover;
	}
}
						