/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-2b260cf2 {
		font-family: Roboto;
		 font-size: 23px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-e986441d {
		font-family: Roboto;
		 font-size: 14px;
		 font-weight: 700;
	}
	.__pf .pf-12ddf430 {
		font-family: Roboto;
		 font-size: 20px;
		 color: rgb(208, 2, 27);
		 font-weight: 700;
	}
	.__pf .pf-c6ec8b83 {
		font-size: 2px;
		 color: rgb(28, 83, 148);
		 margin-top: -8px;
	}
	.__pf .pf-c6ec8b83 div {
		font-size: 4px;
	}
	.__pf .pf-070051cf {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: justify;
	}
	.__pf .pf-fd6d2e95 {
		background-position: 0% 50%;
	}
	.__pf .pf-b006f13a {
		background-attachment: fixed;
		 background-size: cover;
		 background-repeat: repeat;
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
	.__pf .pf-43c304b1 {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 color: rgb(74, 74, 74);
		 font-weight: 700;
	}
	.__pf .pf-38ccdec2 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(184, 233, 134);
	}
	.__pf .pf-194493af {
		font-size: 35px;
		 padding-top: 10px;
		 padding-bottom: 2px;
	}
	.__pf .pf-c7af7b16 {
		font-weight: 700;
		 text-align: center;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-76f25a97 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-427dc487 {
		text-align: center;
		 border-style: solid;
		 border-width: 3px;
		 border-radius: 15px;
		 border-color: rgb(69, 109, 22);
	}
	.__pf .pf-0d8c131b {
		font-size: 35px;
		 padding-top: 10px;
		 padding-bottom: 2px;
	}
	.__pf .pf-ad15fdf9 {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-f6f61741 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-74e2b50f {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 border-color: rgb(69, 109, 22);
	}
	.__pf .pf-211d7d3d {
		font-size: 35px;
		 padding-top: 10px;
		 padding-bottom: 2px;
	}
	.__pf .pf-d5232fed {
		font-weight: 700;
		 text-align: center;
		 font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-e85df444 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-8c341c14 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 border-color: rgb(69, 109, 22);
	}
	.__pf .pf-36260075 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 23px;
	}
	.__pf .pf-2712536c {
		margin-top: -20px;
	}
	.__pf .pf-489c1e95 {
		font-size: 20px;
		 font-family: Roboto;
		 margin-top: -20px;
		 font-weight: 700;
		 margin-right: 0px;
		 margin-left: 10px;
	}
	.__pf .pf-3e525a57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
		 background-attachment: fixed;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-repeat: repeat;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-b006f13a {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
	.__pf .pf-3e525a57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-b006f13a {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
	.__pf .pf-3e525a57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-b006f13a {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
	.__pf .pf-3e525a57 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-bbb60581--greeeen.jpg?v=1582607591");
	}
}
						