/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-cb42b8dc {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 36px;
		 text-align: center;
	}
	.__pf .pf-bfb952f5 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 0px;
	}
	.__pf .pf-f5d64913 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-ae4ae77a {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-3d2d2557 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-1f36a253 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-bcebc793 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-22587227 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-72276dfc {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-6dfcff73 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-8d8ba437 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-0332e193 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-e193159f {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-159f8452 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-7f2bc5ad {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-8e83ad29 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-ad29c72c {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-fb844a2e {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-34b6dcec {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 