/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-7c2fee6a {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 font-size: 28px;
	}
	.__pf .pf-861f3639 {
		font-family: Roboto;
		 font-size: 17px;
		 font-weight: 700;
	}
	.__pf .pf-905ba979 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 31px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-e25f4df6 {
		font-size: 2px;
		 color: rgb(10, 49, 95);
		 margin-top: -10px;
	}
	.__pf .pf-e25f4df6 div {
		font-size: 4px;
	}
	.__pf .pf-857b3ab7 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: justify;
	}
	.__pf .pf-fbe1d87f {
		background-attachment: fixed;
		 background-position: 100% 0%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05f4ad4c--redandwhitebackground-Edited.jpg?v=1582597605");
	}
	.__pf .pf-74c516fa {
		font-family: Roboto;
		 font-size: 25px;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-887213b5 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(208, 2, 27);
	}
	.__pf .pf-8ee5fef0 {
		font-size: 35px;
		 padding-top: 15px;
		 padding-bottom: 3px;
	}
	.__pf .pf-35001c5e {
		font-family: Roboto;
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-c909976e {
		font-family: Roboto;
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-6b1af6dc {
		text-align: center;
		 border-style: solid;
		 border-radius: 10px;
		 border-color: rgb(208, 2, 27);
		 border-width: 3px;
	}
	.__pf .pf-ef087014 {
		font-size: 35px;
		 padding-top: 15px;
		 padding-bottom: 3px;
	}
	.__pf .pf-a4aa43b0 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-c817a0bc {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-32c45cd7 {
		text-align: center;
		 border-radius: 10px;
		 border-style: solid;
		 border-color: rgb(208, 2, 27);
	}
	.__pf .pf-578bb376 {
		font-size: 35px;
		 padding-top: 15px;
		 padding-bottom: 3px;
	}
	.__pf .pf-f964dd01 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-a69a5083 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-f7204109 {
		text-align: center;
		 border-style: solid;
		 border-radius: 10px;
		 border-color: rgb(208, 2, 27);
	}
	.__pf .pf-2174c07f {
		font-family: Roboto;
		 text-align: center;
		 font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-4844b5fe {
		padding-top: 20px;
		 padding-bottom: 0px;
	}
	.__pf .pf-559239cc {
		font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
		 margin-top: 3px;
	}
	.__pf .pf-0d096cec {
		background-attachment: fixed;
		 background-position: 100% 0%;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3dca1689-c109-42d0-a413-c2c1386b1586--redandwhitebackground.jpg?v=1579770545");
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-fbe1d87f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05f4ad4c--redandwhitebackground-Edited.jpg?v=1582597605");
	}
	.__pf .pf-0d096cec {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3dca1689-c109-42d0-a413-c2c1386b1586--redandwhitebackground.jpg?v=1579770545");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-fbe1d87f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05f4ad4c--redandwhitebackground-Edited.jpg?v=1582597605");
	}
	.__pf .pf-0d096cec {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3dca1689-c109-42d0-a413-c2c1386b1586--redandwhitebackground.jpg?v=1579770545");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-fbe1d87f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-05f4ad4c--redandwhitebackground-Edited.jpg?v=1582597605");
	}
	.__pf .pf-0d096cec {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3dca1689-c109-42d0-a413-c2c1386b1586--redandwhitebackground.jpg?v=1579770545");
	}
}
						

 