/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b3d9e54f {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 27px;
	}
	.__pf .pf-57ab092b {
		font-family: Roboto;
		 font-size: 16.5px;
		 text-align: left;
		 margin-top: 0px;
	}
	.__pf .pf-1d2f7bab {
		font-family: Roboto;
		 font-size: 21px;
		 color: rgb(208, 2, 27);
		 margin-bottom: 0px;
		 text-align: left;
		 margin-top: -2px;
	}
	.__pf .pf-c6a6e5f5 {
		color: rgb(208, 2, 27);
		 font-size: 2px;
		 margin-top: -7px;
	}
	.__pf .pf-b02c7237 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 0px;
	}
	.__pf .pf-e5d77d83 {
		font-family: Roboto;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3086582e--backgroundwithclearwatercolor1020960.jpg?v=1601540556");
	}
	.__pf .pf-79bcd5a4 {
		font-family: Roboto;
		 margin-top: 27px;
		 margin-bottom: 27px;
		 font-size: 23px;
	}
	.__pf .pf-72373eb3 {
		font-family: Roboto;
		 text-align: center;
		 background-color: rgba(159, 245, 75, 0.69);
		 padding: 50px;
	}
	.__pf .pf-0e2e70a0 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-0a07ac9f {
		border-style: solid;
		 text-align: center;
	}
	.__pf .pf-70a07545 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-ac9f29d6 {
		border-style: solid;
		 text-align: center;
	}
	.__pf .pf-754569ee {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-29d6b286 {
		border-style: solid;
		 text-align: center;
	}
	.__pf .pf-14b934ba {
		padding-top: 0px;
		 padding-bottom: 0px;
		 font-family: Roboto;
		 font-size: 26px;
		 margin-top: 25px;
		 margin-bottom: 25px;
		 text-align: center;
	}
	.__pf .pf-6f6647e4 {
		text-align: left;
	}
	.__pf .pf-8da18cd8 {
		text-align: left;
		 margin-top: -20px;
		 margin-bottom: 0px;
		 font-family: Roboto;
		 font-size: 22.4px;
		 font-weight: 700;
	}
	.__pf .pf-4f3f5149 {
		font-family: Roboto;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3086582e--backgroundwithclearwatercolor1020960.jpg?v=1601540556");
		 text-align: left;
	}
}
						