/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-87c2f6e4 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
	}
	.__pf .pf-06a4373f {
		background-color: rgb(255, 255, 255);
		 padding-bottom: 0px;
	}
	.__pf .pf-76dfe422 {
		font-family: Roboto;
		 color: rgb(0, 0, 0);
		 font-size: 16px;
	}
	.__pf .pf-2e72dd25 {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
	.__pf .pf-5344e7eb {
		font-size: 24px;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-bcc171b1 {
		background-color: rgb(109, 170, 241);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-095ef269 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-aed67e04 {
		font-family: Roboto;
	}
	.__pf .pf-d8ed6166 {
		font-family: Roboto;
	}
	.__pf .pf-61669cce {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-9ccedacc {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-41b798e2 {
		font-family: Roboto;
	}
	.__pf .pf-cbe00587 {
		font-family: Roboto;
	}
	.__pf .pf-0587eff6 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-eff63ee8 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-f799463f {
		font-family: Roboto;
	}
	.__pf .pf-0e00b298 {
		font-family: Roboto;
	}
	.__pf .pf-b298fff4 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-891000bd {
		text-align: center;
		 font-family: Roboto;
		 font-size: 26px;
	}
	.__pf .pf-c851ff9f {
		display: flex;
		 padding-bottom: 0px;
	}
	.__pf .pf-ff9f26ca {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-fa04cec8 {
		text-align: left;
		 font-size: 22px;
		 font-family: Roboto;
		 padding-top: 0px;
		 font-weight: 700;
	}
	.__pf .pf-23507ce4 {
		background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
}
						

 