/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-581be758 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-1ce18a37 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 0px;
	}
	.__pf .pf-37410a57 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-765e0f99 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-331fea69 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-f2fd5917 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-e7801616 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-8a68c1f3 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-c1f3c651 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-c6512eed {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-28ca04cd {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-956508c4 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-08c477ff {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-77ff1a00 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-20c31c1c {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-007b9f86 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-9f86bebc {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-8a011510 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-f8d5c698 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 