/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-047a5381 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 26px;
	}
	.__pf .pf-2146ab3e {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-d980fbb0 {
		font-size: 17px;
		 font-family: Roboto;
		 color: rgb(208, 2, 27);
		 font-weight: 700;
	}
	.__pf .pf-90723e3b {
		font-family: Roboto;
		 font-size: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-f4ea1a8d {
		background-attachment: fixed;
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-82483bcd--second.jpg?v=1593173181");
		 background-size: cover;
	}
	.__pf .pf-36e91899 {
		text-align: center;
		 font-weight: 700;
		 font-family: Roboto;
		 font-size: 25px;
	}
	.__pf .pf-3bbcc514 {
		background-position: 50% 50%;
		 background-attachment: fixed;
		 background-size: cover;
		 background-color: rgb(155, 155, 155);
		 padding: 50px;
	}
	.__pf .pf-7410c32c {
		font-size: 35px;
	}
	.__pf .pf-97484dfe {
		font-size: 16px;
		 font-family: Roboto;
	}
	.__pf .pf-4dfe0bde {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-0bdefd7f {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 border-width: 1px;
		 background-color: rgb(155, 155, 155);
	}
	.__pf .pf-8ec53f24 {
		font-size: 35px;
	}
	.__pf .pf-3278f8d1 {
		font-size: 16px;
	}
	.__pf .pf-f8d1d6fc {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-d6fc7410 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 border-width: 1px;
		 background-color: rgb(155, 155, 155);
	}
	.__pf .pf-fd7fbefe {
		font-size: 35px;
	}
	.__pf .pf-ea02f2cf {
		font-size: 16px;
	}
	.__pf .pf-f2cf94ab {
		font-family: Roboto;
	}
	.__pf .pf-94abba99 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 border-width: 1px;
		 background-color: rgb(155, 155, 155);
	}
	.__pf .pf-deb3af61 {
		background-color: rgba(155, 155, 155, 0.32);
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-439c57de--second.jpg?v=1593173808");
		 background-attachment: fixed;
		 background-size: cover;
	}
	.__pf .pf-403934e7 {
		text-align: center;
		 font-weight: 700;
		 font-size: 22px;
	}
	.__pf .pf-f68425d9 {
		background-color: rgba(155, 155, 155, 0.32);
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-439c57de--second.jpg?v=1593173808");
		 background-attachment: fixed;
		 background-size: cover;
	}
	.__pf .pf-29bf9055 {
		font-family: Roboto;
		 font-size: 20px;
		 font-weight: 700;
	}
	.__pf .pf-04d4764f {
		background-color: rgba(155, 155, 155, 0.32);
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-439c57de--second.jpg?v=1593173808");
		 background-attachment: fixed;
		 background-size: cover;
	}
}
						

 