/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-518f88bd {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-f878c2df {
		font-family: Roboto;
		 font-size: 14px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-cb30bf0b {
		font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
		 color: rgb(144, 19, 254);
	}
	.__pf .pf-116eb642 {
		font-size: 2px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-116eb642 div {
		font-size: 4px;
	}
	.__pf .pf-3c4c2faa {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: justify;
	}
	.__pf .pf-8b710c4f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
		 background-attachment: fixed;
		 background-size: cover;
		 background-position: 50% 100%;
	}
	.__pf .pf-18b3c280 {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 font-size: 22px;
	}
	.__pf .pf-a5c7fb78 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(74, 144, 226);
	}
	.__pf .pf-d626fa64 {
		font-size: 35px;
		 padding-top: 10px;
		 padding-bottom: 5px;
	}
	.__pf .pf-19abb637 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-b52b8249 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-16f4d48a {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-8f5d1933 {
		font-size: 35px;
		 padding-top: 10px;
		 padding-bottom: 5px;
	}
	.__pf .pf-e91c5de3 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-193e231a {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-d7fa7cbd {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-39ab76e8 {
		font-size: 35px;
		 padding-top: 10px;
		 padding-bottom: 5px;
	}
	.__pf .pf-7138a7ff {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-62045dc1 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-f384ade3 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-03bbd919 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
		 padding-bottom: 5px;
		 padding-top: 10px;
	}
	.__pf .pf-804e8c2e {
		padding-top: 20px;
		 padding-bottom: 5px;
	}
	.__pf .pf-bc0df5f1 {
		font-family: Roboto;
		 font-size: 21px;
		 font-weight: 700;
	}
	.__pf .pf-6d5c2e39 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
		 background-attachment: fixed;
		 background-size: cover;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-8b710c4f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
	}
	.__pf .pf-6d5c2e39 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-8b710c4f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
	}
	.__pf .pf-6d5c2e39 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-8b710c4f {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
	}
	.__pf .pf-6d5c2e39 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-25cdd723--86864273pamphletdesignbackgroundpngclipartdesktopwallpaperbrochure.png?v=1582961047");
	}
}
						

 