/* PageFly Element Styles */
						.hsMvSR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.hsMvSR { padding: 15px 0px; position: relative; }
.hsMvSR .sc-eKZiaR { position: relative; }
.hsMvSR[data-container="true"] .sc-eKZiaR { padding: 0px 15px; width: 100%; margin: auto; }
.hsMvSR .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.eFjulw { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.elofQi { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .elofQi { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elofQi { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .elofQi { padding: var(--pf-s-xs); }
}
.dgFwhv { position: relative; }
.fbDPVD { word-break: break-word; }
.fbDPVD span { font-weight: inherit; }
.fbDPVD i { margin-right: 0.3em; }
.iSYQTX { display: inline-block; }
.iSYQTX[contenteditable="true"] { user-select: text; }
.iSYQTX { vertical-align: baseline; word-break: break-word; }
.iSYQTX:focus { outline: none; }
.iSYQTX::after { display: inline; }
.Utth { display: inline-flex; vertical-align: middle; }
.Utth picture { width: 100%; }
.kDYfzi { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.kDYfzi img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.dcUDov div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.dcUDov div::before, .dcUDov div::after { content: ""; width: 100%; border-top: 1em solid; }
.dcUDov > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.dcUDov span > span { vertical-align: middle; }
.kWaRSX > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.kWaRSX[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kWaRSX.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kWaRSX.dropcap--circle > span:first-child { border-radius: 100%; }
.kWaRSX:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kWaRSX ol, .kWaRSX ul { list-style-position: inside; }
.kWaRSX blockquote { font-size: inherit; }
.bYxyPQ { min-height: 30px; }
.iYTZyE { font-family: FontAwesome !important; }
.lflDjY { margin: 0px; }
.lflDjY > div { display: flex; position: relative; }
.lflDjY.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.lflDjY input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.lflDjY.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.lflDjY.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.lflDjY input, .lflDjY button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.lflDjY.lflDjY button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.lflDjY button > i + span { margin-left: 10px; }
.lflDjY input { width: 100%; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-9b40fc2e {
		text-align: center;
		 font-weight: 700;
		 color: rgb(208, 2, 27);
		 margin-bottom: 0px;
	}
	.__pf .pf-6d458d37 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-58655ac2 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-937d56b8 {
		font-family: Roboto;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b2849bfa {
		font-family: Roboto;
		 text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 28px;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-bottom: 0px;
		 font-weight: 700;
	}
	.__pf .pf-318f78a1 {
		color: rgb(156, 15, 23);
		 font-size: 2px;
		 width: 170px;
		 padding: 5px 0px 15px;
		 margin-bottom: -20px;
		 margin-top: -10px;
	}
	.__pf .pf-ffec2826 {
		font-size: 14px;
	}
	.__pf .pf-73b55747 {
		background-color: rgb(255, 255, 255);
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d0006d0e-9619-4c94-aaa4-5375d6a7ea94--abstractbackground291.png?2788");
	}
	.__pf .pf-a2e105bc {
		text-align: center;
		 color: rgb(255, 255, 255);
		 font-size: 30px;
	}
	.__pf .pf-5279d9f2 {
		background-color: rgb(208, 2, 27);
		 padding-bottom: 50px;
		 padding-top: 50px;
	}
	.__pf .pf-9bb09829 {
		background-color: rgb(153, 225, 254);
		 padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-7eee815a {
		font-size: 28px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-b8782252 {
		text-align: center;
		 background-color: rgb(235, 247, 253);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-f4a4a515 {
		font-size: 28px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-643e6d1b {
		text-align: center;
		 background-color: rgb(235, 247, 253);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-734793e0 {
		font-size: 28px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-063fc59b {
		text-align: center;
		 background-color: rgb(235, 247, 253);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-7449e704 {
		background-color: rgb(153, 225, 254);
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-c8c882b0 {
		background-color: rgb(153, 225, 254);
		 padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-064c7e3b {
		background-color: rgb(153, 225, 254);
		 text-align: center;
		 padding-bottom: 0px;
		 margin-bottom: -16px;
		 padding-top: 0px;
	}
	.__pf .pf-ffafc803 {
		text-align: left;
		 font-size: 16px;
		 font-weight: 700;
		 margin-bottom: -8px;
		 margin-top: -19px;
	}
	.__pf .pf-fefb3169 {
		font-size: 17px;
	}
	.__pf .pf-1e6a4d26 {
		background-color: rgb(153, 225, 254);
		 margin-bottom: -27px;
		 margin-top: -9px;
	}
	.__pf .pf-5fb1d0db {
		text-align: center;
	}
	.__pf .pf-7143f876 {
		text-align: center;
	}
	.__pf .pf-ab78fefa {
		background-color: rgb(153, 225, 254);
		 text-align: center;
		 margin-top: -14px;
		 margin-bottom: -81px;
		 padding-bottom: 0px;
		 padding-top: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-73b55747 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d0006d0e-9619-4c94-aaa4-5375d6a7ea94--abstractbackground291.png?2788");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-73b55747 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d0006d0e-9619-4c94-aaa4-5375d6a7ea94--abstractbackground291.png?2788");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-73b55747 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d0006d0e-9619-4c94-aaa4-5375d6a7ea94--abstractbackground291.png?2788");
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 