/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-cf9d119d {
		font-family: Roboto;
		 font-size: 28px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-6d5069cb {
		font-family: Roboto;
		 font-size: 13px;
		 text-align: left;
		 font-weight: 700;
		 text-transform: uppercase;
	}
	.__pf .pf-880cbb52 {
		font-family: Roboto;
		 font-size: 21px;
		 text-align: left;
		 font-weight: 700;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-96f059d7 {
		color: rgb(145, 157, 169);
		 font-size: 2px;
	}
	.__pf .pf-0ba63b16 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-4d739c9b {
		background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-b22622ac--images-1.jpg?v=1599821909");
	}
	.__pf .pf-e1b28b31 {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-a6b3abd3 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(158, 145, 179);
		 margin-top: -5px;
	}
	.__pf .pf-bc7ac75f {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-4d790a19 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-de435fd9 {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: center;
	}
	.__pf .pf-dc56abeb {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(158, 145, 179);
	}
	.__pf .pf-5c6497c9 {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-568badf9 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-adf91162 {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: center;
	}
	.__pf .pf-1162ec17 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(158, 145, 179);
	}
	.__pf .pf-5fd9ede9 {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-181f30df {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-30dfa765 {
		font-family: Roboto;
		 font-size: 14px;
		 text-align: center;
	}
	.__pf .pf-a7655c64 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(158, 145, 179);
	}
	.__pf .pf-5f1eff0a {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 26px;
	}
	.__pf .pf-3baa227c {
		margin-top: 10px;
	}
	.__pf .pf-99c83dad {
		font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 font-size: 19px;
		 margin-top: 10px;
	}
	.__pf .pf-5a95dc56 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-2622acf5--images-1.jpg?v=1599821930");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						