/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-1922eaae {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-1dd449d0 {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 15px;
	}
	.__pf .pf-d01d218b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-eb451b58 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-4cdc80d3 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-1353219a {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-5a61f894 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-a3d0841f {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-841fe93e {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-e93e0372 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-ff737469 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-a0d34d83 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-4d8377a1 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-77a1921b {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-2d945fe6 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-cb897660 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-7660f7e3 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-d9a9c1eb {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-08e4224b {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 