/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-86140089 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 28px;
	}
	.__pf .pf-42cd8927 {
		font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 font-size: 17px;
	}
	.__pf .pf-5c30d769 {
		font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 font-size: 24px;
		 color: rgb(208, 2, 27);
		 margin-top: -5px;
	}
	.__pf .pf-17e6e93c {
		color: rgb(74, 74, 74);
		 font-size: 2px;
		 margin-top: -13px;
	}
	.__pf .pf-0482fe49 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-8582fd47 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-6f098054--lightcolorfulbackgroundbeautifulbright260nw1386218081.webp?v=1603276859");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-6e5c80da {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 24px;
	}
	.__pf .pf-ada50e44 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 margin-top: -5px;
		 background-color: rgb(192, 209, 175);
	}
	.__pf .pf-6e041fd2 {
		font-size: 28px;
		 padding-top: 5px;
	}
	.__pf .pf-a1d13922 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-eebe481a {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-6c80d846 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(192, 209, 175);
	}
	.__pf .pf-cc3249ed {
		font-size: 28px;
		 padding-top: 5px;
	}
	.__pf .pf-89e78964 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-89647ece {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-7ecedb1c {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(192, 209, 175);
	}
	.__pf .pf-481a445a {
		font-size: 28px;
		 padding-top: 5px;
	}
	.__pf .pf-cca1ed5c {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-ed5cb355 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-b355cc32 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(192, 209, 175);
	}
	.__pf .pf-2f63d165 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 24px;
	}
	.__pf .pf-4a5b630c {
		font-family: Roboto;
		 text-align: left;
		 font-weight: 700;
		 font-size: 17px;
	}
	.__pf .pf-cc806c80 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-09805403--lightcolorfulbackgroundbeautifulbright260nw1386218081.webp?v=1603276887");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						