/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.ijGtLm > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .ijGtLm span + span[contenteditable]:empty::after { display: inline; }
.ijGtLm ol, .ijGtLm ul { list-style-position: inside; }
.ijGtLm blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-8b131224 {
		font-size: 28px;
		 text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
		 color: rgba(0, 0, 0, 0.92);
	}
	.__pf .pf-77801bf3 {
		font-size: 18px;
		 font-family: Roboto;
		 font-weight: 700;
		 margin-top: -3px;
	}
	.__pf .pf-78cd7242 {
		font-family: Roboto;
		 font-size: 26px;
		 margin-bottom: 0px;
		 margin-top: -10px;
		 color: rgb(208, 2, 27);
		 font-weight: 700;
	}
	.__pf .pf-f7da6988 {
		color: rgb(74, 74, 74);
		 font-size: 2px;
		 margin-top: -10px;
	}
	.__pf .pf-f7da6988 div {
		font-size: 3px;
	}
	.__pf .pf-ba0f5511 {
		font-size: 16px;
		 text-align: justify;
		 color: rgb(0, 0, 0);
		 font-family: Roboto;
		 margin-top: -7px;
	}
	.__pf .pf-48987801 {
		background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
	.__pf .pf-10af90b3 {
		font-weight: 700;
		 text-align: center;
		 font-family: Roboto;
		 font-size: 24px;
	}
	.__pf .pf-7364e1c1 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-size: cover;
		 background-attachment: fixed;
		 background-position: 50% 50%;
		 background-color: rgba(80, 227, 196, 0.25);
	}
	.__pf .pf-213c76db {
		margin-left: -15px;
	}
	.__pf .pf-a792a66c {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-293a16bb {
		font-size: 15px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-1580fae3 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-9fe21056 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-fdc6e058 {
		font-size: 15px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-801d5ad0 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-8b65c0e7 {
		font-size: 28px;
		 margin-top: 10px;
	}
	.__pf .pf-bdaa6c21 {
		font-size: 15px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-b87c73c3 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
	}
	.__pf .pf-7793b0d1 {
		text-align: center;
		 font-weight: 700;
		 font-family: Roboto;
		 font-size: 25px;
	}
	.__pf .pf-e5062c59 {
		margin-top: -20px;
	}
	.__pf .pf-2852771b {
		font-weight: 700;
		 font-family: Roboto;
		 font-size: 22px;
		 margin-bottom: -15px;
		 margin-top: -15px;
		 margin-left: -15px;
	}
	.__pf .pf-dce7606f {
		margin: -10px 0px 0px;
	}
	.__pf .pf-671756a6 {
		background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 margin-left: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-48987801 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
	.__pf .pf-671756a6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-48987801 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
	.__pf .pf-671756a6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-48987801 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
	.__pf .pf-671756a6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-d1ee93e8--freshbackground.jpg?v=1583131406");
	}
}
						