/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-6b70b1b1 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 32px;
		 text-align: center;
	}
	.__pf .pf-0b4f43bc {
		font-family: Roboto;
		 font-size: 16px;
		 margin-top: 15px;
	}
	.__pf .pf-bc7c3e76 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-4ce7fa60 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 23px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
	}
	.__pf .pf-13e9eb90 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(34, 43, 76);
	}
	.__pf .pf-d415f1c7 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-02b6462d {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-aa0acc49 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-cc495049 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-50499200 {
		font-size: 35px;
		 margin-top: 8px;
	}
	.__pf .pf-0776b629 {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-4f49484a {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-484a7cb3 {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-7cb34b95 {
		font-size: 28px;
		 margin-top: 8px;
	}
	.__pf .pf-190a868c {
		font-family: Roboto;
		 font-size: 18px;
	}
	.__pf .pf-b75928bb {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-28bb24ac {
		text-align: center;
		 border-style: solid;
		 border-color: rgb(34, 43, 76);
	}
	.__pf .pf-8d77ddc4 {
		font-family: Roboto;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-35ea0e80 {
		font-family: Roboto;
		 font-weight: 700;
		 font-size: 20px;
	}
}
						

 