/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-c6851580 {
		font-family: Roboto;
		 font-size: 28px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-b6b13356 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
		 margin-left: 4px;
	}
	.__pf .pf-f468aa08 {
		font-family: Roboto;
		 font-size: 22px;
		 color: rgb(208, 2, 27);
		 margin: -2px 1px 0px 2px;
	}
	.__pf .pf-18e86716 {
		color: rgb(208, 2, 27);
		 font-size: 2px;
		 margin-top: -4px;
	}
	.__pf .pf-18e86716 div {
		font-size: 2px;
	}
	.__pf .pf-44985281 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
		 margin: -5px 0px 0px 4px;
	}
	.__pf .pf-6d164661 {
		font-family: Roboto;
		 background-color: rgba(218, 204, 252, 0.56);
	}
	.__pf .pf-25badb6e {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-e8671644--rm21pdsasi03.jpg?v=1598010711");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-8a1a40b5 {
		font-size: 24px;
		 text-align: center;
		 font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-f04caa09 {
		background-color: rgb(218, 204, 252);
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
		 padding: 50px;
	}
	.__pf .pf-9be42492 {
		font-size: 37px;
		 margin-top: 5px;
	}
	.__pf .pf-0e6fede3 {
		text-align: center;
		 font-family: Roboto;
	}
	.__pf .pf-2d32f0f2 {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-839854a4 {
		text-align: center;
		 background-color: rgba(181, 175, 190, 0.6);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 display: inline-block;
		 padding: 0px;
		 border-radius: 20px;
		 font-family: Roboto;
		 margin: 0px;
	}
	.__pf .pf-f0f2cdcf {
		font-size: 37px;
		 margin-top: 5px;
	}
	.__pf .pf-8f483dec {
		font-family: Roboto;
		 text-align: center;
	}
	.__pf .pf-41421ffe {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-54a41b31 {
		text-align: center;
		 background-color: rgba(181, 175, 190, 0.6);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 display: inline-block;
		 border-radius: 20px;
		 padding: 0px;
	}
	.__pf .pf-1ffe2305 {
		font-size: 37px;
		 margin-top: 5px;
	}
	.__pf .pf-884e0c12 {
		font-family: Roboto;
	}
	.__pf .pf-c6f2fe6f {
		font-family: Roboto;
		 font-size: 14px;
	}
	.__pf .pf-1b31b596 {
		text-align: center;
		 background-color: rgba(181, 175, 190, 0.6);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 display: inline-block;
		 border-radius: 20px;
	}
	.__pf .pf-1568ab3e {
		font-family: Roboto;
		 font-size: 28px;
		 text-align: center;
		 margin: 0px;
	}
	.__pf .pf-fe6fd8fd {
		margin-top: 5px;
	}
	.__pf .pf-00a66aa6 {
		font-family: Roboto;
		 font-size: 20px;
		 margin: 0px;
		 text-align: left;
		 font-weight: 700;
	}
	.__pf .pf-28359064 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-671644e6--rm21pdsasi03.jpg?v=1598010729");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						