/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-887c8786 {
		font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-815efde6 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-c693f087 {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 padding-top: 50px;
		 padding-bottom: 50px;
		 font-weight: 700;
	}
	.__pf .pf-71e5862e {
		background-color: rgb(80, 227, 194);
	}
	.__pf .pf-5d1836e4 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-5eab51dc {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-f2b3c799 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-c7991540 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(47, 31, 128);
	}
	.__pf .pf-15408e29 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-247e2d82 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-1158683e {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-683e676a {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 77);
	}
	.__pf .pf-676aabec {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-eb7a31e4 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-06934c67 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-4c672938 {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 78);
	}
	.__pf .pf-389341d5 {
		text-align: center;
	}
	.__pf .pf-396f4627 {
		font-family: Roboto;
	}
	.__pf .pf-46272d57 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-573a81be {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-1a8cebb1 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4bf539b1 {
		font-family: Roboto;
		 font-size: 22px;
		 text-align: left;
		 padding-top: 5px;
		 font-weight: 700;
	}
}
						