/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-965158e6 {
		font-family: Roboto;
		 font-size: 29px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-281ba335 {
		font-size: 15px;
		 font-family: Roboto;
		 margin-top: 5px;
	}
	.__pf .pf-538ef5e6 {
		font-family: Roboto;
		 font-size: 24px;
		 color: rgb(208, 2, 27);
		 margin: 0px;
	}
	.__pf .pf-510a1569 {
		color: rgb(74, 74, 74);
		 font-size: 2px;
		 margin-top: -5px;
	}
	.__pf .pf-e47ef104 {
		font-family: Roboto;
		 font-size: 15.5px;
		 margin-top: -6px;
	}
	.__pf .pf-b99db74e {
		background-color: rgba(80, 227, 194, 0.41);
		 margin-left: 0px;
		 padding-left: 5px;
	}
	.__pf .pf-b6cc207c {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-7030ea59--50BeautifulandMinimalistPresentationBackgrounds03.jpg?v=1603957898");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-3d760776 {
		font-family: Roboto;
		 font-size: 27px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-9384385a {
		padding-top: 50px;
		 padding-bottom: 50px;
		 background-color: rgb(80, 227, 194);
	}
	.__pf .pf-15698368 {
		font-size: 37px;
		 padding: 0px;
		 margin: 5px;
	}
	.__pf .pf-68467d76 {
		text-align: center;
		 background-color: rgba(181, 175, 190, 0.6);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 display: inline-block;
		 padding: 0px;
		 border-radius: 20px;
		 font-family: Roboto;
		 margin: 0px;
	}
	.__pf .pf-8368d02e {
		font-size: 37px;
		 margin: 5px;
	}
	.__pf .pf-7d76f743 {
		text-align: center;
		 background-color: rgba(181, 175, 190, 0.6);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 display: inline-block;
		 padding: 0px;
		 border-radius: 20px;
		 font-family: Roboto;
		 margin: 0px;
	}
	.__pf .pf-d02e1754 {
		font-size: 37px;
		 margin: 5px;
	}
	.__pf .pf-f7436a0c {
		text-align: center;
		 background-color: rgba(181, 175, 190, 0.6);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 display: inline-block;
		 padding: 0px;
		 border-radius: 20px;
		 font-family: Roboto;
		 margin: 0px;
	}
	.__pf .pf-a05c9de9 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 26px;
		 font-weight: 700;
	}
	.__pf .pf-5a363896 {
		margin-top: -15px;
	}
	.__pf .pf-247030ea {
		text-align: left;
		 font-family: Roboto;
		 font-size: 19px;
		 font-weight: 700;
		 margin: 0px;
	}
	.__pf .pf-71f66846 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-30ea596e--50BeautifulandMinimalistPresentationBackgrounds03.jpg?v=1603957979");
		 background-position: 50% 50%;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						