/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-f0050b09 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 29px;
	}
	.__pf .pf-a85f0286 {
		font-family: Roboto;
		 font-size: 18.5px;
		 margin-top: 0px;
	}
	.__pf .pf-34a8d1ae {
		font-family: Roboto;
		 font-size: 25px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-688ed46d {
		color: rgb(208, 2, 27);
		 font-size: 2px;
	}
	.__pf .pf-e63dbeb8 {
		font-family: Roboto;
		 font-size: 16px;
	}
	.__pf .pf-f23d5da8 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-444c2140--cd5a26c9807eb14429428741e62bd3d8.jpg?v=1602231562");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
	.__pf .pf-29f4e2ef {
		font-family: Roboto;
		 font-size: 25px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-275eeb1d {
		background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
		 border-style: solid;
		 border-color: rgba(155, 155, 155, 0.52);
		 padding: 50px;
		 background-color: rgb(230, 196, 212);
	}
	.__pf .pf-beb81cf8 {
		font-size: 35px;
		 padding-top: 10px;
	}
	.__pf .pf-563b48ed {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgba(155, 155, 155, 0.52);
	}
	.__pf .pf-1cf891a1 {
		font-size: 35px;
		 padding-top: 10px;
	}
	.__pf .pf-48edb19e {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgba(155, 155, 155, 0.52);
	}
	.__pf .pf-91a1a19b {
		font-size: 35px;
		 padding-top: 10px;
	}
	.__pf .pf-b19e6096 {
		text-align: center;
		 font-family: Roboto;
		 border-style: solid;
		 border-color: rgba(155, 155, 155, 0.52);
	}
	.__pf .pf-8b30f433 {
		font-family: Roboto;
		 font-size: 26px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-08769b6f {
		font-family: Roboto;
		 font-size: 24.3px;
		 text-align: left;
		 margin-top: -20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-914af993 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-444c2140--cd5a26c9807eb14429428741e62bd3d8.jpg?v=1602231562");
		 background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
	}
}
						