/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-dbc2db32 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
	}
	.__pf .pf-e69d6e13 {
		background-color: rgb(255, 255, 255);
		 padding-bottom: 0px;
	}
	.__pf .pf-60ed9500 {
		font-family: Roboto;
		 color: rgb(0, 0, 0);
		 font-size: 16px;
	}
	.__pf .pf-5ef89df2 {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
	.__pf .pf-9889319d {
		font-size: 24px;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-632e4469 {
		background-color: rgb(109, 170, 241);
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-df272a8e {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-b64d3dca {
		font-family: Roboto;
	}
	.__pf .pf-bd06b5db {
		font-family: Roboto;
	}
	.__pf .pf-b5db4286 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-4286a75a {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-05419c93 {
		font-family: Roboto;
	}
	.__pf .pf-a77b1027 {
		font-family: Roboto;
	}
	.__pf .pf-10272261 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-2261cb56 {
		font-size: 35px;
		 margin-top: 12px;
	}
	.__pf .pf-61fe3edc {
		font-family: Roboto;
	}
	.__pf .pf-8c5336bb {
		font-family: Roboto;
	}
	.__pf .pf-36bb5543 {
		border-radius: 30px;
		 border-style: solid;
		 text-align: center;
	}
	.__pf .pf-0dbd323b {
		text-align: center;
		 font-family: Roboto;
		 font-size: 26px;
	}
	.__pf .pf-f2cca65a {
		display: flex;
		 padding-bottom: 0px;
	}
	.__pf .pf-a65a4390 {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-8bf6e1f3 {
		text-align: left;
		 font-size: 22px;
		 font-family: Roboto;
		 padding-top: 0px;
		 font-weight: 700;
	}
	.__pf .pf-8dd4744c {
		background-color: rgb(255, 255, 255);
		 padding-top: 0px;
	}
}
						

 