/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-f9454ca9 {
		font-family: Roboto;
		 text-align: center;
		 font-weight: 700;
		 font-size: 27px;
	}
	.__pf .pf-3c5d6bcd {
		font-family: Roboto;
		 font-size: 13px;
		 text-align: left;
		 font-weight: 700;
		 text-transform: uppercase;
	}
	.__pf .pf-035cab6d {
		font-family: Roboto;
		 font-size: 19px;
		 text-align: left;
		 font-weight: 700;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-670ae95a {
		color: rgb(74, 74, 74);
		 font-size: 2px;
		 margin-top: -2px;
	}
	.__pf .pf-5a2f743f {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
		 margin-top: -2px;
	}
	.__pf .pf-2f05445d {
		background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-7629d877--download-2.jpg?v=1604379161");
	}
	.__pf .pf-2f8111dc {
		font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-881a2b87 {
		padding-top: 50px;
		 padding-bottom: 50px;
		 margin-top: -5px;
		 background-color: rgb(230, 208, 168);
	}
	.__pf .pf-6c73b8ef {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-53725668 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-8e1648cc {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-ae11b268 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(230, 208, 168);
	}
	.__pf .pf-7b83da0f {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-676eda2b {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-da2b2817 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-2817aa66 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(230, 208, 168);
	}
	.__pf .pf-48cc5bde {
		font-size: 35px;
		 margin-top: 5px;
	}
	.__pf .pf-4e73fff9 {
		font-family: Roboto;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-fff978b5 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-78b57b83 {
		text-align: center;
		 border-style: solid;
		 border-radius: 15px;
		 background-color: rgb(230, 208, 168);
	}
	.__pf .pf-a3aced87 {
		font-family: Roboto;
		 font-size: 24px;
		 text-align: center;
		 font-weight: 700;
	}
	.__pf .pf-353e7679 {
		margin-top: 10px;
	}
	.__pf .pf-b363eee2 {
		font-family: Roboto;
		 font-size: 20px;
		 text-align: left;
		 font-weight: 700;
		 margin-top: 5px;
	}
	.__pf .pf-0937ae11 {
		background-position: 50% 50%;
		 background-repeat: repeat;
		 background-size: cover;
		 background-attachment: fixed;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-29d877cc--download-2.jpg?v=1604379179");
	}
}
						