/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.jUjtGd { display: inline-flex; vertical-align: middle; }
.jUjtGd picture { width: 100%; }
.gTPHAJ { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.gTPHAJ img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.EFSSg div { display: flex; -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.EFSSg div::before, .EFSSg div::after { content: ""; width: 100%; border-top: 1em solid; }
.EFSSg > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.EFSSg span > span { vertical-align: middle; }
.gUXmVf > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .gUXmVf span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .gUXmVf span + span[contenteditable]:empty::after { display: inline; }
.gUXmVf ol, .gUXmVf ul { list-style-position: inside; }
.gUXmVf blockquote { font-size: inherit; }
.lphJbu { min-height: 30px; }
.gpALgc { font-family: FontAwesome !important; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-10018151 {
		font-size: 40px;
		 text-align: center;
		 color: rgb(0, 0, 0);
		 font-weight: 700;
	}
	.__pf .pf-c1418f0e {
		margin-bottom: -24px;
		 padding-top: 0px;
		 padding-bottom: 5px;
	}
	.__pf .pf-d3c9ccea {
		font-weight: 700;
		 margin-bottom: -4px;
		 font-size: 16px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-7ffe83c0 {
		font-weight: 700;
		 font-size: 27px;
		 text-align: left;
		 color: rgb(0, 0, 0);
		 margin: 10px 0px 5px;
	}
	.__pf .pf-c93994dd {
		color: rgb(0, 0, 0);
		 font-size: 2px;
		 width: 170px;
		 padding: 0px 0px 15px;
		 margin-bottom: -20px;
		 margin-top: -10px;
	}
	.__pf .pf-c93994dd div {
		font-size: 2px;
	}
	.__pf .pf-4929a1c1 {
		font-size: 17px;
		 font-family: "Open Sans";
	}
	.__pf .pf-87f91e17 {
		padding-top: 10px;
		 padding-bottom: 10px;
		 background-attachment: scroll;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 100%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-c3e6621f-855c-4090-a77d-d82a11ac29aa--17114greenlightwallpaper.jpg?v=1576565183");
	}
	.__pf .pf-8778ecf3 {
		font-family: "Open Sans";
		 font-weight: 700;
		 text-align: center;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 color: rgb(255, 255, 255);
		 font-size: 28px;
	}
	.__pf .pf-d33bb1db {
		color: rgb(74, 74, 74);
		 font-size: 1px;
	}
	.__pf .pf-dfa314ec {
		color: rgb(208, 2, 27);
		 background-color: rgb(74, 74, 74);
		 padding-bottom: 0px;
	}
	.__pf .pf-51dd1641 {
		background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-1fa9d143 {
		background-color: rgb(206, 254, 212);
		 background-position: 50% 50%;
		 background-size: cover;
		 padding: 0px;
	}
	.__pf .pf-9dfd9be4 {
		font-size: 28px;
		 color: rgb(74, 74, 74);
		 border: 1px solid rgb(145, 157, 169);
		 background-color: rgb(245, 245, 245);
		 border-radius: 50%;
		 padding: 0.5em;
	}
	.__pf .pf-49414095 {
		text-align: center;
	}
	.__pf .pf-20a45999 {
		text-align: center;
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-radius: 5px;
		 border-width: 2px;
	}
	.__pf .pf-4d891738 {
		font-size: 28px;
		 color: rgb(74, 74, 74);
		 border: 1px solid rgb(145, 157, 169);
		 background-color: rgb(245, 245, 245);
		 border-radius: 50%;
		 padding: 0.5em;
	}
	.__pf .pf-bd7ef74c {
		text-align: center;
	}
	.__pf .pf-54019da6 {
		text-align: center;
		 border-width: 2px;
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-radius: 5px;
	}
	.__pf .pf-9460f41b {
		font-size: 28px;
		 color: rgb(74, 74, 74);
		 border: 1px solid rgb(145, 157, 169);
		 background-color: rgb(245, 245, 245);
		 border-radius: 50%;
		 padding: 0.5em;
	}
	.__pf .pf-1577462f {
		text-align: center;
	}
	.__pf .pf-f174eab2 {
		text-align: center;
		 border-width: 2px;
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-radius: 5px;
	}
	.__pf .pf-aa2d1cda {
		text-align: center;
	}
	.__pf .pf-4262dbe4 {
		text-align: center;
		 padding-bottom: 0px;
		 padding-top: 0px;
		 background-color: rgb(206, 254, 212);
		 margin-bottom: -9px;
		 background-position: 50% 50%;
		 background-size: contain;
		 margin-top: -8px;
	}
	.__pf .pf-f59ba7fb {
		background-color: rgb(206, 254, 212);
		 background-position: 50% 50%;
		 background-size: cover;
	}
	.__pf .pf-01593ad4 {
		padding-top: 0px;
		 margin-top: -15px;
	}
	.__pf .pf-6c5afcca {
		padding-bottom: 0px;
		 padding-top: 0px;
		 background-color: rgb(206, 254, 212);
		 margin-bottom: 0px;
		 background-position: 50% 50%;
		 background-size: contain;
	}
	.__pf .pf-7ecca186 {
		font-weight: 700;
	}
	.__pf .pf-9e50ec32 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 background-color: rgb(206, 254, 212);
		 margin-top: -15px;
		 background-size: cover;
		 background-position: 50% 50%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-87f91e17 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-c3e6621f-855c-4090-a77d-d82a11ac29aa--17114greenlightwallpaper.jpg?v=1576565183");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-87f91e17 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-c3e6621f-855c-4090-a77d-d82a11ac29aa--17114greenlightwallpaper.jpg?v=1576565183");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-87f91e17 {
		background-image: url("https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-c3e6621f-855c-4090-a77d-d82a11ac29aa--17114greenlightwallpaper.jpg?v=1576565183");
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 