/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-15653673 {
		font-family: Roboto;
		 font-size: 32px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-31c6a549 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: left;
	}
	.__pf .pf-80e003a8 {
		font-family: Roboto;
		 font-size: 23px;
		 text-align: center;
		 padding-top: 50px;
		 padding-bottom: 50px;
		 font-weight: 700;
	}
	.__pf .pf-de243fce {
		background-color: rgb(80, 227, 194);
	}
	.__pf .pf-648d4836 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-795868f5 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-c59a63f2 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-63f2d248 {
		text-align: center;
		 border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(47, 31, 128);
	}
	.__pf .pf-d248e379 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-636efee0 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-0b4b67df {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-67df5c10 {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 77);
	}
	.__pf .pf-5c10c409 {
		font-size: 35px;
		 padding-top: 5px;
	}
	.__pf .pf-72d74d54 {
		font-family: Roboto;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-b3dea681 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-a6815076 {
		border-style: solid;
		 border-radius: 20px;
		 border-color: rgb(35, 26, 78);
	}
	.__pf .pf-76c58134 {
		text-align: center;
	}
	.__pf .pf-b826ae74 {
		font-family: Roboto;
	}
	.__pf .pf-ae740627 {
		font-family: Roboto;
		 text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-2716434e {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-9fc28654 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-107c7f66 {
		font-family: Roboto;
		 font-size: 22px;
		 text-align: left;
		 padding-top: 5px;
		 font-weight: 700;
	}
}
						