<article> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.6/css/main-style.css?t=20201028081010"><link rel="stylesheet" href="{{ 'pagefly.7a7ffc2a.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-842e2402"><div data-pf-type="Layout" class="pf-f4842e24"><div data-container="true" class="sc-pZopv bjKdkd pf-94176d69" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-dec1a855 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-91dec1a8" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-587f38ae"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7091dec1">Resuscitation, CPR & AED Courses in Basingstoke, Hampshire</span></h1></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-28910d7c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4db9e36c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-5560b44d" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a63e9cf8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a85560b4"><span style="font-weight: bold;">Resuscitation, CPR & AED Courses in Basingstoke, Hampshire<br></span><br>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health and social care, education, local government, private and charity sectors.&nbsp;<br>
<br>Resuscitation is the process of correcting physiological disorders in an acutely ill patient. It is an important part of intensive care medicine, trauma surgery and emergency medicine. Full code means that if a person's heart stopped beating or they stopped breathing, it will provide all resuscitation procedures to keep them alive. This process can include chest compression, incubation, defibrillation and CPR.<br>
<br>The aim of these online Resuscitation Online Courses & Training are to improve and update healthcare professionals’ knowledge of the Resuscitation Council UK guidelines and algorithms for adult resuscitation&nbsp; and undertake the necessary practical training and competency assessments in line with their local organisational requirements.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b44db9e3" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1e3b2154--Hidden-Blog.png?v=1597750651 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1e3b2154--Hidden-Blog_800x648.png?v=1597750651&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-1e3b2154--Hidden-Blog_400x324.png?v=1597750651&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=" Resuscitation, CPR & AED Courses in Basingstoke, Hampshire - The Mandatory Training Group UK" title=" Resuscitation, CPR & AED Courses in Basingstoke, Hampshire - The Mandatory Training Group UK" class="sc-qZtVr dLIPjF pf-60b44db9 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-8c294fbf" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-192f075d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6c192f07" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-27d6e129"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e36c192f">Browse our resuscitation online courses & training courses to further your professional development.<br></span></h2></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-21f26894" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-5d21f268 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-075d21f2" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2f075d21"><div id="collection-component-1597736366159"></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'regal-training.myshopify.com',
      storefrontAccessToken: '9fb1056e9f227969a2e540d70e9e4248',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '229971013',
        node: document.getElementById('collection-component-1597736366159'),
        moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        }
      },
      "title": {
        "color": "#030000"
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      },
      "price": {
        "color": "#f50000"
      },
      "compareAt": {
        "color": "#f50000"
      },
      "unitPrice": {
        "color": "#f50000"
      },
      "description": {
        "font-size": "15px"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "View Course Details"
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "header": {
        "color": "#4c4c4c"
      },
      "lineItems": {
        "color": "#4c4c4c"
      },
      "subtotalText": {
        "color": "#4c4c4c"
      },
      "subtotal": {
        "color": "#4c4c4c"
      },
      "notice": {
        "color": "#4c4c4c"
      },
      "currency": {
        "color": "#4c4c4c"
      },
      "close": {
        "color": "#4c4c4c",
        ":hover": {
          "color": "#4c4c4c"
        }
      },
      "empty": {
        "color": "#4c4c4c"
      },
      "noteDescription": {
        "color": "#4c4c4c"
      },
      "discountText": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "discountAmount": {
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        "background-color": "#1b26d1",
        ":hover": {
          "background-color": "#2e41ff"
        },
        ":focus": {
          "background-color": "#2e41ff"
        }
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#4c4c4c"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "price": {
        "color": "#4c4c4c"
      },
      "fullPrice": {
        "color": "#4c4c4c"
      },
      "discount": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "quantity": {
        "color": "#4c4c4c"
      },
      "quantityIncrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityDecrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityInput": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-cbddb935" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-6ccbddb9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-fa4a0284" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-7a3cec19 fa fa-laptop" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-53253807"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-68947533">LEARN.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-3cc5fa4a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7533bb9c">Learn anytime, anywhere on any device. Choose from over 500 CPDUK accredited e-learning courses and approved qualifications.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-57e84cf6" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-0284ce89 fa fa-address-card-o" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f3d9d667"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bb9c2e61">DEVELOP</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-727057e8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2e6181cc">Learn new skills in various subjects to improve your personal productivity, career development and employ ability opportunities.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-067e4bf6" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-4cf69c57 fa fa-gavel" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-8d904f71"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-81cc9e6c">COMPLY<br></span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-c86a067e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9e6ccbdd">Meet the UK and international legislative and regulatory requirements, industry standards and best practice recommendations.</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-ca029a03" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-f3ca029a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-35f3ca02" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7ec4df08"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b935f3ca">Resuscitation, CPR & AED Courses in Basingstoke, Hampshire: FAQs&nbsp;<br></span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-b1178f1d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-03f5ab1a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9a03f5ab" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-029a03f5"><p>Here at The Mandatory Training Group, we receive many questions about Resuscitation Online Courses & Training. We have provided answers to the most frequently asked questions about resuscitation training providers below.</p>
<p></p><h3>Click on the text below to see the answers to the FAQs about Resuscitation Online Courses & Training below.</h3>
<p></p>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style><!--
.accordion {
  background-color: #202a44;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
--></style>

<button class="accordion">What do you mean by resuscitation?</button>
<div class="panel">
<p>Resuscitation is the process of correcting physiological disorders (such as lack of breathing or heartbeat) in an acutely ill patient. It is an integral part of intensive care medicine, trauma surgery and emergency medicine. Known examples are cardiopulmonary resuscitation and mouth-to-mouth resuscitation.</p>
 </div>
<button class="accordion">What are the seven steps of cardiopulmonary resuscitation (CPR)?</button>
<div class="panel">
<p>The seven steps of cardiopulmonary resuscitation are:</p>
<p></p><li>Position your hand (above)</li>
<p></p><li>Interlock fingers (above)</li>
<p></p><li>Give chest compressions (above)</li>
<p></p><li>Open the airway (above)</li>
<p></p><li>Give rescue breaths (above)</li>
<p></p><li>Watch your chest fall</li>
<p></p><li>Repeat chest compressions and rescue breaths.</li><p></p>
</div>

<button class="accordion">What are resuscitation methods?</button>
<div class="panel">
<p>Cardiopulmonary resuscitation (CPR) is an emergency procedure that combines chest compressions. It is often with artificial ventilation to manually preserve intact brain function until further measures are taken to restore spontaneous blood circulation and to breathe in a person who is in cardiac arrest.</p>
</div>  

<button class="accordion">What are the types of cardiopulmonary resuscitation?</button>
<div class="panel">
 <p>The two types of cardiopulmonary resuscitation are:</p>
<p></p><li>High-Frequency Chest Compressions: High-Frequency Chest Compressions is an essential CPR technique that helps to improve resuscitation from cardiac arrest.</li>
<p></p><li>Open-Chest CPR: Open chest CPR is a technique in which the heart is accessed through a thoracotomy.</li><p></p>
</div>  

<button class="accordion">What are the five reasons to stop cardiopulmonary resuscitation?</button>
<div class="panel">
<p>Once you begin CPR, do not stop except in one of these situations:</p>
<p></p><li>You see a visible sign of life, such as breathing</li>
<p></p><li>An AED is available and ready to use</li>
<p></p><li>Another trained responder or EMS personnel take over</li>
<p></p><li>You are too exhausted to continue</li>
<p></p><li>The scene becomes unsafe.</li><p></p>
</div>  
 
<button class="accordion">What is the ratio for one person CPR?</button>
<div class="panel">
<p>A compression-ventilation ratio (external cardiac compression [ECM] + rescue breathing) of 30:2 for basic (one-rescuer) CPR was chosen in the Consensus on Science and Treatment Recommendations for all infants (except newborns, i.e. at birth) children and adults, but a ratio of 15:2 determined for CPR performed by two.</p>
</div>

<button class="accordion">What are the three essential parts of CPR?</button>
<div class="panel">
<p>The three essential parts of CPR are the following:</p>
<p></p><li>C is for compressions</li>
<p></p><li>A is for the airway</li>
<p></p><li>B is for breathing</li><p></p>
</div>

<button class="accordion">How long is cardiopulmonary resuscitation?</button>
<div class="panel">
<p>We should be performing CPR for 30 minutes, 45 minutes, and even a 1 hour to give victims the best chance of survival.</p>
</div>

<button class="accordion">What are cardiopulmonary resuscitation skills?</button>
<div class="panel">
<p>The are different skills needed to administer CPR, to name a few:</p>
<p></p><li>Minimise interruptions in chest compressions</li>
<p></p><li>Provide compressions of adequate rate and depth</li>
<p></p><li>Avoid leaning on the victim between compressions</li>
<p></p><li>Ensure proper hand placement</li>
<p></p><li>Avoid excessive ventilation.</li><p></p>
</div>

<button class="accordion">Is cardiopulmonary resuscitation 15 compressions to 2 breaths?</button>
<div class="panel">
<p>The compression rate for adult CPR is approximately 100 per minute (Class IIb). The compression-ventilation ratio for 1- and 2-rescuer CPR is 15 compressions to 2 ventilations when the victim's airway is unprotected (not intubated) (Class IIb).</p>
</div>

<button class="accordion">What are the different types of cardiopulmonary resuscitation?</button>
<div class="panel">
<p>The different types of cardiopulmonary resuscitation are:</p>
<p></p><li>Basic Life Support CPR</li>
<p></p><li>Advanced Cardiac Life Support</li>
<p></p><li>Pediatric Advanced Life Support</li>
<p></p><li>Heartsaver First Aid and CPR.</li><p></p>
</div>

<button class="accordion">What are the basic steps of cardiopulmonary resuscitation?</button>
<div class="panel">
<p>The necessary CPR steps include:</p>
<p></p><li>Recognise the emergency (tap and shout)</li>
<p></p><li>Activate EMS (call 9-9-9)</li>
<p></p><li>Check for breathing</li>
<p></p><li>Compressions: Provide 30 compressions</li>
<p></p><li>Airway: Open the victim's airway</li>
<p></p><li>Breathing: Give two breaths</li>
<p></p><li>Continue till help arrives.</li><p></p>
</div>

<button class="accordion">What are the five components of chest compression?</button>
<div class="panel">
<p>The five components of chest compression are:</p>
<p></p><li>Chest compression fraction (CCF)</li>
<p></p><li>Chest compression rate, </li>
<p></p><li>Chest compression depth, chest recoil (residual leaning), and</li>
<p></p><li>Ventilation.</li>
<p></p><li>These CPR components were identified because of their contribution to blood flow and outcome.</li><p></p>
</div>

<button class="accordion">What are the new guidelines for cardiopulmonary resuscitation?</button>
<div class="panel">
<p>High-quality CPR is vital and consists of doing the following:</p>
<p></p><li>Keep a compression rate of at least 100 minutes for all persons</li>
<p></p><li>Keep compression depth of between 2-2.4 inches for adults and children and about 1.5 inches for infants</li>
<p></p><li>Allow complete chest recoil after each compression.</li><p></p>
</div>

<button class="accordion">How many cycles of cardiopulmonary resuscitation should you perform in 2 minutes?</button>
<div class="panel">
<p>When delivering compressions at a rate of about 100 per minute, five cycles of CPR should take roughly 2 minutes (range: about 1½ to 3 minutes).</p>
</div>

<button class="accordion">How do you do two-person cardiopulmonary resuscitation?</button>
<div class="panel">
<p>When the second rescuer returns, the CPR tasks can be shared:</p>
<p></p><li>The second rescuer prepares the AED for use</li>
<p></p><li>You begin chest compressions and count the compressions out loud</li>
<p></p><li>The second rescuer applies the AED pads</li>
<p></p><li>The second rescuer opens the person's airway and gives rescue breaths.</li><p></p>
</div>

<button class="accordion">When should I not perform mouth-to-mouth breathing?</button>
<div class="panel">
<p>If you are uncomfortable or unwilling to perform mouth-to-mouth, then just perform chest compressions.</p>
</div>

<button class="accordion">Do you give two ventilations before cardiopulmonary resuscitation?</button>
<div class="panel">
<p>Provide two ventilations with every after 30 compressions. If the patient has a pulse but is not breathing, provide one breath every 5-6 seconds (10-12 breaths/minute) and check for a pulse every 2 minutes. If the victim loses their pulse, you will need to begin chest compressions. </p>
</div>


<button class="accordion">Is cardiopulmonary resuscitation painful?</button>
<div class="panel">
<p>Studies have shown that there is almost no chance that you will hurt the person. While it is rare that a rib will be broken during CPR, doctors can repair broken bones, but they cannot fix death.</p>
</div>


<button class="accordion">When should I not perform mouth-to-mouth breathing?</button>
<div class="panel">
<p>If you are uncomfortable or unwilling to perform mouth-to-mouth, then just perform chest compressions.</p>
</div>
  
<button class="accordion">What is the essential part of cardiopulmonary resuscitation?</button>
<div class="panel">
<p>Getting blood to the brain is the essential part of CPR and taking time out to give breaths reduces blood pressure immediately back to zero. With continued compressions, the brain gets the blood that it needs.</p>
</div>

<button class="accordion">Do you do cardiopulmonary resuscitation on a person with a pulse?</button>
<div class="panel">
<p>If the victim has a pulse and is breathing normally, monitor them until emergency responders arrive. If the victim has a pulse but is breathing abnormally, maintain the patient's airway and begin rescue breathing. If at any point there is no pulse present, begin administering CPR.</p>
</div>
 
<button class="accordion">How do you administer cardiopulmonary resuscitation?</button>
<div class="panel">
<p></p><li>Check the scene and the person </li>
<p></p><li>Call 999 for assistance</li>
<p></p><li>Open the airway</li>
<p></p><li>Check for breathing</li>
<p></p><li>Push hard, push fast</li>
<p></p><li>Deliver rescue breaths</li>
<p></p><li>Continue CPR steps.</li><p></p>
</div>

<button class="accordion">How do you resuscitate someone?</button>
<div class="panel">
<p>With the airway open (using the head-tilt, chin-lift manoeuvre), pinch the nostrils shut for mouth-to-mouth breathing and cover the person's mouth with yours, making a seal.</p>
<p>Prepare to give two rescue breaths.</p>
</div>

<button class="accordion">What is the purpose of cardiopulmonary resuscitation?</button>
<div class="panel">
<p>Simply, the purpose of CPR is to keep oxygen rich blood flowing to the brain and other vital organs if the heart or lungs stop working on their own. The medical term for this is "loss of automatic function."</p>
</div>

<button class="accordion">How do you use a face shield for cardiopulmonary resuscitation?</button>
<div class="panel">
<p>To use a CPR face shield, you need to:</p>
<p></p><li>Remove the face shield from its wrapper</li>
<p></p><li>Place the face shield over the casualty's face</li>
<p></p><li>Open the airway using a head-tilt, chin-lift manoeuvre</li>
<p></p><li>Continue with chest compressions and rescue breaths until further medical help arrives.</li><p></p>
</div>
  
<button class="accordion">Why take a cardiopulmonary resuscitation course for infants and children?</button>
<div class="panel">
<p>If an infant or a child has lost consciousness, stopped breathing, or has lost a heartbeat, CPR can be used to keep blood flowing while emergency medical help is on the way. In most cases, medical emergencies that require CPR occur away from immediate advanced medical providers like a hospital or an ambulance.</p>
</div> 

<button class="accordion">What do cardiopulmonary resuscitation classes involve?</button>
<div class="panel">
<p>Most CPR classes will involve some role play, as well as skills, practise on the manikins. You will start by learning the theory of first aid and cardiopulmonary massage. Then the instructor will demonstrate the techniques to you explaining how your approach would differ depending on the age of the victim.</p>
</div>

<button class="accordion">What happens if I don't do my cardiopulmonary resuscitation CPR certification training?</button>
<div class="panel">
<p>It depends on whether you need to hold a valid CPR certificate for any reason. There are specific roles where employers will require you to hold up to date first aid skills. If you let your certification expire, you could put your job at risk.</p>
</div>

 <button class="accordion">What is the machine used for CPR?</button>
<div class="panel">
<p>The AutoPulse uses a distributing band to deliver the chest compressions. In literature, it is LDB-CPR (Load Distributing Band-CPR). The AutoPulse measures chest size and resistance before it provides a unique combination of thoracic and cardiac chest compressions.</p>
</div>

<button class="accordion">Why is the online resuscitation immediate life support training course essential?</button>
<div class="panel">
<p>It is a common expectation that the healthcare will have sufficient knowledge and skills to be able to recognise and respond to signs of deterioration. Where healthcare staff can, identify and respond to patient signs of clinical deterioration, they can prevent further decline that might otherwise culminate in cardiorespiratory arrest.</p>
</div>

<button class="accordion">Are resuscitation online training courses accredited?</button>
<div class="panel">
<p>On successful completion of each of the resuscitation courses modules, you may download, save, and print a quality assured continuing professional development (CPD) certificate. Our CPD certificates are recognised internationally and can be used to provide evidence for compliance and audit.</p>
<p><a href="https://cpduk.co.uk/directory/profile/the-mandatory-training-group"><font color="green"><u>The CPD Certification Service (CPDUK)</u></font></a>accredits all of our statutory and mandatory training courses as conforming to universally accepted Continuous Professional Development (CPD) guidelines.</p>
</div>
<button class="accordion">Where do I find resuscitation online courses & training?</button>
<div class="panel">
<p>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health, safety and wellbeing, social care, education, local government, and many more.</p>
<p><a href="https://www.mandatorytraining.co.uk/collections/resuscitation-courses-training-online-cpr-bls-aed-courses"><font color="green"><u> <b>Click here for more Resuscitation Online Courses & Training.</b></u></font></a></p>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-5c0cf27e" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2cf4842e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1a2cf484" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-fc83765b--logo.webp?v=1597740935 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-fc83765b--logo.webp?v=1597740935 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-fc83765b--logo.webp?v=1597740935 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=" Resuscitation, CPR & AED Courses in Basingstoke, Hampshire - The Mandatory Training Group UK" title=" Resuscitation, CPR & AED Courses in Basingstoke, Hampshire - The Mandatory Training Group UK" class="sc-qZtVr dLIPjF pf-8f1dfc62 pf-img-lazy" data-pf-type="Image2"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5e5941ea"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ab1a2cf4">Resuscitation, CPR & AED Courses in Basingstoke, Hampshire - Online Training Courses - CPDUK Accredited.</span></h4></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.6","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"Resuscitation, CPR & AED Courses in Basingstoke, Hampshire-draft","pageType":"blog","pageId":"7a7ffc2a-587f-48ae-9417-6d69a63e9cf8","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-28T06:58:46.777Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.6/core/helper.js?t=20201028081010" defer></script> </article>