<article> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.14/css/main-style.css?t=20201124081113"><link rel="stylesheet" href="{{ 'pagefly.bff0e548.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-6d4a619d"><div data-pf-type="Layout" class="pf-6d6d4a61"><div data-container="true" class="sc-pZopv bjKdkd pf-669d6934" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1534d5f6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-301534d5" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7cc45587"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-01301534">Paediatric First Aid Online Courses and Training - CPDUK Accredited</span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-a2669d69 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-f6d683a2" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-0f2b9d92"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d5f6d683"><span style="font-weight: bold;">Paediatric&nbsp;First Aid Online Courses and Training - CPDUK Accredited.
</span><br>
<br>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health and social care, education, local government, private and charity sectors. All our mandatory and statutory training programmes are externally peer-reviewed and accredited by the CPD Certification Service (CPDUK). <br><br>The aims and objectives of these online Paediatric First Aid Online Courses and Training are to improve learners' understanding of their responsibilities, current UK legislation and best practice guidance. <br><br>Our online Paediatric First Aid Online Courses and Training focus on emergency scenarios that face those looking after young children infants. This includes day nurseries, private nursery, pre-school, before and after clubs for children in the early years' age group, childminders and careers of children at home.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-83a2669d" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-eef470fa--Paediatric-First-Aid-Online-Courses-and-Training-The-Mandatory-Training-Group-UK-.jpg?v=1606131653 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-eef470fa--Paediatric-First-Aid-Online-Courses-and-Training-The-Mandatory-Training-Group-UK-_800x540.jpg?v=1606131653&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-eef470fa--Paediatric-First-Aid-Online-Courses-and-Training-The-Mandatory-Training-Group-UK-_400x270.jpg?v=1606131653&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Paediatric First Aid Online Courses and Training - The Mandatory Training Group UK -" title="Paediatric First Aid Online Courses and Training - The Mandatory Training Group UK -" class="sc-qZtVr dLIPjF pf-d683a266 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-5b52013c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4fc93cbb pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-344fc93c" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-06864cca"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-69344fc9">Browse our Paediatric First Aid Online Courses and Training to further your professional development.</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-a16d6d4a" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-bb63de5e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-3cbb63de" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c93cbb63"><div id="collection-component-1606130843132"></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'regal-training.myshopify.com',
      storefrontAccessToken: '9fb1056e9f227969a2e540d70e9e4248',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '32735002658',
        node: document.getElementById('collection-component-1606130843132'),
        moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        }
      },
      "title": {
        "color": "#030000"
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      },
      "price": {
        "color": "#f50000"
      },
      "compareAt": {
        "color": "#f50000"
      },
      "unitPrice": {
        "color": "#f50000"
      },
      "description": {
        "font-size": "15px"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "View Course Details"
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "header": {
        "color": "#4c4c4c"
      },
      "lineItems": {
        "color": "#4c4c4c"
      },
      "subtotalText": {
        "color": "#4c4c4c"
      },
      "subtotal": {
        "color": "#4c4c4c"
      },
      "notice": {
        "color": "#4c4c4c"
      },
      "currency": {
        "color": "#4c4c4c"
      },
      "close": {
        "color": "#4c4c4c",
        ":hover": {
          "color": "#4c4c4c"
        }
      },
      "empty": {
        "color": "#4c4c4c"
      },
      "noteDescription": {
        "color": "#4c4c4c"
      },
      "discountText": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "discountAmount": {
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        "background-color": "#1b26d1",
        ":hover": {
          "background-color": "#2e41ff"
        },
        ":focus": {
          "background-color": "#2e41ff"
        }
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#4c4c4c"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "price": {
        "color": "#4c4c4c"
      },
      "fullPrice": {
        "color": "#4c4c4c"
      },
      "discount": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "quantity": {
        "color": "#4c4c4c"
      },
      "quantityIncrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityDecrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityInput": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div><div class="sc-qPjXN eYzxUD pf-12622eab pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-3a28b148" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-0a733ce4 fa fa-laptop" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-703a5daf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-de5e0b33">LEARN</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-5d523a28"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0b33e962">Learn anytime, anywhere on any device. Choose from over 500 CPDUK accredited e-learning courses and approved qualifications.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-c66463f1" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-b148a170 fa fa-address-card-o" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-30dc046e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e9627e2d">DEVELOP</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-fe8cc664"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7e2d5b47">Learn new skills in various subjects to improve your personal productivity, career development and employability opportunities</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0d7018af" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-63f16c0e fa fa-legal" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4e221f95"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5b476712">COMPLY</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-c5870d70"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6712622e">Meet the UK and international legislative and regulatory requirements, industry standards and best practice recommendations.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-abb3fbf6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-badd9c6f" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c447badd"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2eabb3fb">Paediatric First Aid Online Courses and Training: Frequently Asked Questions and Answers </span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-f6ce817f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-fbf6ce81" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b3fbf6ce"><p></p><h4>Here at The Mandatory Training Group, we receive many enquiries about Paediatric First Aids. We have listed some of these frequently asked questions.</h4><p></p>
<p></p><h3>Click on the text below to see the answers to the Frequently Asked Questions about Paediatric First Aid.</h3>

<p></p>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style><!--
.accordion {
  background-color: #222B4C;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
--></style>




<button class="accordion">What is pediatric first aid?</button>
<div class="panel">
<p>Paediatric First Aid training concentrates solely on the child and infant age groups. This is useful to full-time childcare workers such as childminders, nannies and nursery staff. Standard paediatric courses will cover how to manage an ill or injured child/infant in the event of an emergency.</p>
</div>
<button class="accordion">What age is paediatric first aid?</button>
<div class="panel">
<p>Paediatric First aid training under EYFS (0-5 years) is covered in Appendix 1 of the Practice Guidance for the Early Years Foundation Stage guide. For ages above EYFS, the Guide to registration on the Childcare Register Annex A covers the first aid requirements.</p>
</div>
<button class="accordion">What is the ratio for child CPR?</button>
<div class="panel">
<p>For children, if two rescuers are available to do CPR, the compression to breaths ratio is 15:2; if only one rescuer is available, the rate is 30:2 for all age groups. For tiny children, you can use one-handed chest compressions.</p>
</div>
<button class="accordion">How many paediatric first aiders do I need?</button>
<div class="panel">
<p>For the EYFS and Ofsted requirements, you should have at least one 12 hours full paediatric first aid qualified member of staff available at all times, including cover for sickness, holidays and trips. One-day Emergency Paediatric First Aid can support the 12-hour paediatric first aid trained staff.</p>
</div>
<button class="accordion">What is first aid in schools?</button>
<div class="panel">
<p>First aid is the initial treatment given to a victim. Some injuries do not require professional assistance. They can be treated with simple methods such as applying an ice pack etc. First aiders can help the affected person feel better and relieve pain by performing simple procedures.</p>
</div>
<button class="accordion">Why is first aid valuable in childcare?</button>
<div class="panel">
<p>Being confident to give prompt and appropriate first aid following a medical emergency is an essential skill and particularly vital for anyone with responsibility for other people's children. This includes cover for sickness and annual leave and to accompany children on trips or excursions.</p>
</div>
<button class="accordion">Why is paediatric first aid essential?</button>
<div class="panel">
<p>First aid helps ensure that the right methods of administering medical assistance are provided. Knowing how to help a person is just as crucial in emergencies. It only takes six minutes for the human brain to expire due to lack of oxygen.</p>
</div>
<button class="accordion">What are the skills needed to be a first aider?</button>
<div class="panel">
<p>Here's our take on the skills required to become a tremendous first aider:</p>
<p></p><li>Communication skills / interpersonal ability</li>
<p></p><li>Confidence</li>
<p></p><li>Ability to work under pressure</li>
<p></p><li>Attention to details</li>
<p></p><li>Teamwork and leadership</li><p></p>
</div>
<button class="accordion">What are the three principles of first aid?</button>
<div class="panel">
<p>One set of goals of first aid is called the "Three P's":</p>
<p></p><li>Preserve life – stop the person from dying.</li>
<p></p><li>Prevent further injury – stop the person from being injured even more. </li>
<p></p><li>Promote recovery – try to help the person heal their injuries.</li><p></p>
</div>
<button class="accordion">What are the responsibilities of a paediatric first aider?</button>
<div class="panel">
<p>Paediatric First Aid training concentrates solely on the child and infant age groups. This is useful to full-time childcare workers such as childminders, nannies and nursery staff. Standard paediatric courses will cover how to manage an ill or injured child/infant in the event of an emergency.</p>
</div>
<button class="accordion">What should a paediatric first aid kit contain?</button>
<div class="panel">
<p>These are what you should have as a minimum in your first aid kit:</p>
<p></p><li>20 Plasters</li>
<p></p><li>2 Sterile eye pads</li>
<p></p><li>4 Triangular bandages</li>
<p></p><li>6 Safety pins</li>
<p></p><li>6 Medium and 2 large dressings</li>
<p></p><li>6 Individually wrapped wipes</li>
<p></p><li>1 Disposable gloves</li>
<p></p><li>1 General guidance leaflet.</li><p></p>
</div>
<button class="accordion">What is the paediatric age range?</button>
<div class="panel">
<p>The paediatric age range is defined as ages 0-18 (birth to 18 years of age). Note, this definition does not imply that paediatricians may not provide services to individuals who are beyond 18 years of age (e.g., young adults).</p>
</div>
<button class="accordion">What are the benefits of this paediatric first aid training course?</button>
<div class="panel">
<p>Paediatric first aiders will gain enormous benefits from our statutory and mandatory training packages. Some of the benefits of our packaged mandatory training bundles include:</p>
<p></p><li>All the statutory and mandatory training courses you need to meet compliance requirements in one bundle.</li>
<p></p><li>Just pay one price and complete your statutory and mandatory training all in one day!</li>
<p></p><li>Start your online statutory and mandatory training and finish in one go, or leave and pick up where you left off!</li>
<p></p><li>Complete your statutory and mandatory training modules in your own time, anytime, anywhere.</li>
<p></p><li>Complete your mandatory and statutory training courses online, on any device, including desktop computers, tablets, laptops or even mobile phones.</li>
<p></p><li>Meet the CQC and NHS framework requirements for agency and locum workers.</li>
<p></p><li>Download, save print or email your mandatory and statutory training certificates to your locum agency or employer.</li>
<p></p><li>Register for our paediatric first aid training for online CPD training courses.</li><p></p>
</div>
<button class="accordion">What are the training assessments for paediatric first aid?</button>
<div class="panel">
<p>On completion of this online paediatric first aid course, you will be required to complete an online assessment (pass mark of 80%). If you do not pass the first, do not worry. You can take the online test as many times as you need with no extra charge.</p>
</div>
<button class="accordion">Why should I do a paediatric first aid online course?</button>
<div class="panel">
<p>Paediatric first aid courses will teach you how to administer the right procedure in case of an emergency. Taking the immediate and correct action could save the life of an infant or child, this course will help you understand how you can save lives in critical situations with a few techniques.</p>
</div>
<button class="accordion">What is the difference between a basic first aid course and a paediatric first aid course?</button>
<div class="panel">
<p>Basic first aid training will teach you how to deal with situations such as sprains and knocks and broken bones. However, you have to do a paediatric first aid course to deal effectively with emergencies such as a child choking.</p>
</div>
<button class="accordion">Who can do the paediatric first aid online training course?</button>
<div class="panel">
<p>This course is ideal for anyone who works with (or would like to work with) babies and children, including au pairs, nannies, childminders, nursery and pre-school workers, sport and leisure staff.</p>
</div>
<button class="accordion">Can you do a paediatric first aid course online?</button>
<div class="panel">
<p>Yes, the entire course is done online with the option for a certificate at the end if you get 80% or above on the end assessment. </p>
</div>
<button class="accordion">How long is the paediatric first aid online course valid for?</button>
<div class="panel">
<p>The course is valid to complete for one year.</p>
</div>
<button class="accordion">How can I do the paediatric first aid online course?</button>
<div class="panel">
<p>The paediatric course can be done on all smart devices such as a smartphone, a tablet or a computer. The course must be accessed via our website: <a href="https://www.mandatorytraining.co.uk/products/paediatric-first-aid-online-training-course-cpduk-accredited?variant=38621033040"><font color="green"><u>Click here to view our website.</u></font></a></p>
</div>
<button class="accordion">How long does the paediatric first aid online course take to complete??</button>
<div class="panel">
<p>On average the paediatric first aid course takes around 2 hours to complete.</p>
</div>
<button class="accordion">Is this paediatric first aid online course accredited?</button>
<div class="panel">
<p>On successful completion of each of the mandatory online training for dentists courses modules, you may download, save, and print a quality assured continuing professional development (CPD) certificate. Our CPD certificates are recognised internationally and can be used to provide evidence for compliance and audit.</p>
<p><a href="https://cpduk.co.uk/directory/profile/the-mandatory-training-group"><font color="green"><u>The CPD Certification Service (CPDUK)</u></font></a>accredits all of our statutory and mandatory training courses as conforming to universally accepted Continuous Professional Development (CPD) guidelines.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script></div></div></div></div><div class="sc-qPjXN eYzxUD pf-7fb69d53 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-817fb69d" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3df7ed60--Online-Leadership-and-Influence-Training-Courses-The-Mandatory-Training-Group-UK-.jpg?v=1605776911 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3df7ed60--Online-Leadership-and-Influence-Training-Courses-The-Mandatory-Training-Group-UK-_800x267.jpg?v=1605776911&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-3df7ed60--Online-Leadership-and-Influence-Training-Courses-The-Mandatory-Training-Group-UK-_400x134.jpg?v=1605776911&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Paediatric First Aid Online Courses and Training - The Mandatory Training Group UK -" title="Paediatric First Aid Online Courses and Training - The Mandatory Training Group UK -" class="sc-qZtVr dLIPjF pf-ce817fb6 pf-img-lazy" data-pf-type="Image2"></div></div></div><div class="sc-qPjXN eYzxUD pf-eda16d6d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-53eda16d" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-07f0dc18"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9d53eda1">Paediatric First Aid Online Courses and Training with Certificates - CPDUK Accredited - The Mandatory Training Group UK.</span></h4></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.14","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"Paediatric First Aid Online Courses and Training - copy","pageType":"blog","pageId":"bff0e548-7cc4-4587-83e2-0f2b9d924549","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-11-24T08:58:32.192Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.14/core/helper.js?t=20201124081113" defer></script> </article>