<article> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.3/css/main-style.css?t=20201022151022"><link rel="stylesheet" href="{{ 'pagefly.eb3dd8a6.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-0236a314"><div data-pf-type="Layout" class="pf-280236a3"><div data-container="true" class="sc-pZopv bjKdkd pf-e2157293" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e5faba2b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5be5faba" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ba0b2939"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fc5be5fa">Care Home Training Courses in Leicester and Leicestershire</span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-f9e21572 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-2b0c4bf9" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a6bd67cd"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ba2b0c4b"><span style="font-weight: bold;">Care Home Training Courses in Leicester and Leicestershire<br><br></span>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health and social care, education, local government, private and charity sectors.&nbsp;<br>
<br>Care Home is a place where personal care and accommodation are provided together; this includes any professional support services that allow a person to live safely in their home. In-home care services can help someone who is ageing and needs assistance to live independently; is managing chronic health issues; is recovering from a medical setback, or has special needs or a disability.&nbsp;<br><br>Improving the quality of life of critical senior residents requires a level of care found in nursing homes. Nurses in our care homes have the responsibility of facilitating the day-to-day care of each citizen, provide emotional support and improve their quality of life. For those with higher needs, they work round the clock.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-4bf9e215" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-df77740d--Hidden-Blog.jpg?v=1597747480 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-df77740d--Hidden-Blog_800x648.jpg?v=1597747480&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-df77740d--Hidden-Blog_400x324.jpg?v=1597747480&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Care Home Training Courses in Leicester and Leicestershire - The Mandatory Training Group UK -" title="Care Home Training Courses in Leicester and Leicestershire - The Mandatory Training Group UK -" class="sc-qZtVr dLIPjF pf-0c4bf9e2 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-6baaf459" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2333c0a8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-932333c0" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b7e12907"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-72932333">Browse our care home online courses & training to further your professional development.</span></h2></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-0cd879cd" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-fc0cd879 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b0fc0cd8" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-33c0a833"><div id="collection-component-1597747027864"></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'regal-training.myshopify.com',
      storefrontAccessToken: '9fb1056e9f227969a2e540d70e9e4248',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '156077654085',
        node: document.getElementById('collection-component-1597747027864'),
        moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        }
      },
      "title": {
        "color": "#030000"
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      },
      "price": {
        "color": "#f50000"
      },
      "compareAt": {
        "color": "#f50000"
      },
      "unitPrice": {
        "color": "#f50000"
      },
      "description": {
        "font-size": "15px"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "View Course Details"
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "header": {
        "color": "#4c4c4c"
      },
      "lineItems": {
        "color": "#4c4c4c"
      },
      "subtotalText": {
        "color": "#4c4c4c"
      },
      "subtotal": {
        "color": "#4c4c4c"
      },
      "notice": {
        "color": "#4c4c4c"
      },
      "currency": {
        "color": "#4c4c4c"
      },
      "close": {
        "color": "#4c4c4c",
        ":hover": {
          "color": "#4c4c4c"
        }
      },
      "empty": {
        "color": "#4c4c4c"
      },
      "noteDescription": {
        "color": "#4c4c4c"
      },
      "discountText": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "discountAmount": {
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        "background-color": "#1b26d1",
        ":hover": {
          "background-color": "#2e41ff"
        },
        ":focus": {
          "background-color": "#2e41ff"
        }
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#4c4c4c"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "price": {
        "color": "#4c4c4c"
      },
      "fullPrice": {
        "color": "#4c4c4c"
      },
      "discount": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "quantity": {
        "color": "#4c4c4c"
      },
      "quantityIncrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityDecrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityInput": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script></div><div class="sc-qPjXN eYzxUD pf-66b0fc0c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-2d68935a" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-59434da5 fa fa-laptop" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-683c3a23"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a8335fbb">LEARN</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-72bc2d68"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5fbb63bf">Learn anytime, anywhere on any device. Choose from over 500 CPDUK accredited e-learning courses and approved qualifications.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-ecbcca75" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-935a1be6 fa fa-address-card-o" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-eac3b10a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-63bf64e5">DEVELOP</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-72d0ecbc"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-64e59ee9">Learn new skills in various subjects to improve your personal productivity, career development and employability opportunities</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-bebaaada" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-ca758eed fa fa-gavel" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a237ee12"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9ee96766">COMPLY</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-f31fbeba"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6766b0fc">Meet the UK and international legislative and regulatory requirements, industry standards and best practice recommendations.</span></p></div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-032964b7" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-f8032964 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-cde293f8" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-85cacbfe"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-79cde293">Care Home Training Courses in Leicester and Leicestershire: FAQs</span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-93f80329" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e293f803">
<p>Here at The Mandatory Training Group, we receive many enquiries about care home online training courses. We have listed some of these frequently asked questions.</p>
<p></p><h3>Click on the text below to see the answers to the Frequently Asked Questions about care home online training courses.</h3>

<p></p>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style><!--
.accordion {
  background-color: #222B4C;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
--></style>




<button class="accordion">What is a care home?</button>
<div class="panel">
<p>A Care Home is a place where personal care and accommodation are provided together. People may live in a Care Home for short or long periods. For many people, it is their sole place of residence, and so it becomes their home, although they do not legally own or rent it. The Care Quality Commission regulates both the care that people receive and the premises.
</p></div>
<button class="accordion">What are the two types of care homes?</button>
<div class="panel">
<p>There are two types of Care Homes:</p>
<p></p><li>Care Home With Nursing</li>
<p></p><li>Care Home Without Nursing</li><p></p>
</div>
<button class="accordion">What is a care home with nursing?</button>
<div class="panel">
<p>Care home with nursing is a Care Home where, in addition to personal care and accommodation, is a place where qualified nursing care is provided, to ensure that the full needs of the person are met.</p>
</div>
<button class="accordion">What are examples of a care home with nursing?</button>
<div class="panel">
<p>Examples of Care Homes With Nursing include:	</p>
<p></p><li>Nursing home</li>
<p></p><li>Convalescent home with nursing</li>
<p></p><li>Respite care with nursing</li>
<p></p><li>Mental health crisis house with nursing</li><p></p>
</div>
<button class="accordion">What is a care home without nursing?</button>
<div class="panel">
<p>A care home without nursing is a Care Home, also referred to as residential care home.
</p>
</div>
<button class="accordion">What are examples of care home without nursing?</button>
<div class="panel">
<p>Examples of care home without nursing include:</p>
<p></p><li>Residential home</li>
<p></p><li>Rest home
</li>
<p></p><li>Convalescent home</li>
<p></p><li>Respite care</li>
<p></p><li>Mental health crisis house
</li>
<p></p><li>Therapeutic communities</li><p></p>
</div>
<button class="accordion">What is a care setting?</button>
<div class="panel">
<p>A care setting is a generic UK term for any place where an individual receives health care—e.g., hospital, care home with nursing, care home, or home.
</p>
</div>
<button class="accordion">What is the purpose of a care home?</button>
<div class="panel">
<p>Care homes provide accommodation and personal care for people who need extra support in their daily lives. Personal care might include help with eating, washing, dressing, going to the toilet or taking medication. 
</p></div>
<button class="accordion">What is assisted living?</button>
<div class="panel">
<p>Assisted living is for people who need help with daily care, but not as much support as a nursing home provides. Assisted living facilities range in size from as few as 25 residents to 120 or more. Typically, a few "levels of care" are offered, with residents paying more for higher levels of care.
</p>
</div>
<button class="accordion">What does nursing home mean?</button>
<div class="panel">
<p>Nursing homes, also called skilled nursing facilities, provide a wide range of health and personal care services. Their services focus on medical care more than most assisted living facilities. These services typically include nursing care, 24-hour supervision, three meals a day, and assistance with everyday activities. Rehabilitation services, such as physical, occupational, and speech therapy, are also available.
</p>
</div>
<button class="accordion">What is the difference between care home and nursing home?</button>
<div class="panel">
<p>Both types of a home provide accommodation, supervision from staff 24 hours a day, meals and help with personal care needs. However, nursing homes have registered nurses on duty at all times, and they can provide care for people with more complex needs and those who need regular nursing interventions.</p>
</div>
<button class="accordion">Is residential care the same as assisted living?</button>
<div class="panel">
<p>A residential care home provides a higher level of care than assisted living, but a lower level than a nursing home (skilled nursing facility). The most significant difference is that there's more personalised care and staff attention because each home has few residents. Each home may also offer different services.</p>
</div>
<button class="accordion">What is respite care?</button>
<div class="panel">
<p>Respite care involves short term or temporary care of the sick or disabled for a few hours or weeks, designed to provide some relief to the regular caregiver. The regular caregiver is usually a family member but maybe a professional home healthcare worker.</p>
</div>
<button class="accordion">When should a dementia patient go into a care home?
</button>
<div class="panel">
<p>People with dementia might need to make a move into a care home for several reasons. Their needs might have increased as their dementia has progressed.It might be because of a crisis such as a hospital admission. It might be because the family or carer is no longer able to support the person.
</p>
</div>
<button class="accordion">What is the goal of a nursing home?</button>
<div class="panel">
<p>The general goal of nursing home care is to maximise resident autonomy, function, dignity, and comfort. Care discussions should be repeated, and goals periodically reevaluated.Discussion topics should include end-of-life care, hospital transfers, palliative care measures, health promotion, and diagnostic testing.
</p>
</div>
<button class="accordion">What qualifications do you need to work in a care home?</button>
<div class="panel">
<p>There are no set entry requirements to become a healthcare assistant. Employers expect functional literacy and numeracy and may ask for GCSEs (or equivalent) in English and maths. They may ask for a healthcare qualification, such as BTEC or NVQ. Employers expect you to have some experience in healthcare or care work.</p>
</div>
<button class="accordion">What is the role of a care practitioner?</button>
<div class="panel">
<p>You would provide care and support to adults living in care homes. Your work would involve helping someone complete day-to-day tasks and leisure activities. You might also take an active role in organising and reviewing someone's care – this is called a key worker.</p>
</div>
<button class="accordion">What are care home regulations?</button>
<div class="panel">
<p>By law, all care homes in England are responsible for making sure that the care they provide meets national standards of quality and safety. We register care homes if they can show us that they are meeting the national standards.</p>
</div>
<button class="accordion"> What are the main activities of care quality commissions (CQC)?</button>
<div class="panel">
<p>The Care Quality Commission’s main activities are:</p>
<p></p><li>Registration of health and social care providers to ensure they are meeting essential typical quality standards.</li>
<p></p><li>Monitoring and inspection of all health and adult social care.</li>
<p></p><li>Using its enforcement powers, such as fines and public warnings or closures if standards are not being met.</li>
<p></p><li>Improving health and social care services by undertaking regular reviews of how well those who arrange and provide services locally are performing and exclusive studies on particular care services, pathways of care or themes where there are specific concerns about quality.</li>
<p></p><li>Reporting the outcomes of its work so that people who use services have information about the quality of their local health and adult social care services. It helps those who arrange and provide services to see where improvement is needed and learn from each other about what works best.</li>
</div>
<button class="accordion">What are the three types of CQC inspections?</button>
<div class="panel">
<p>We have three primary forms of inspection:</p>
<p></p><li>Scheduled inspections, which are planned by CQC in advance and can be carried out at any time.</li>
<p></p><li>Responsive inspections, where inspectors inspect because of specific and immediate concern.</li>
<p></p><li>Themed inspections, where we look at a particular type of care or issue across one or more care sectors, for example, dignity and nutrition in NHS hospitals, or care for people with a learning disability in both care homes and hospitals.</li>
</div>
<button class="accordion">How to research a care home?</button>
<div class="panel">
<p>To get more information about a care home you could:</p>
<p></p><li>Phone them</li>
<p></p><li>Visit their website</li>
<p></p><li>Request a brochure</li>
<p></p><li>Visit the care home</li>
<p></p><li>Request a temporary stay.</li>
</div>
<button class="accordion">What is the importance of care home in the UK?</button>
<div class="panel">
<p>Care homes strengthen the healthcare industry by providing specialised care to non-critical and critical residents, act as an emotional and physical support system to senior citizens and improve their quality of life.</p>
</div>
<button class="accordion">What is the purpose of mandatory training for care home staff?</button>
<div class="panel">
<p>The purpose of mandatory training for care home staff is to comply with the law and regulatory requirements to reduce and address areas of risk and to carry out duties safely and effectively.</p>
</div>
<button class="accordion">Why should you take online training for a care home?</button>
<div class="panel">
<p>Apart from the fact that these training courses ensure that staff are equipped with the knowledge and understanding of working within a home care environment, it is required.
We expect standards; it is the legal obligation of the employer to ensure that all staff are adequately trained. This is where we make it as easy as possible for employers to train their staff to the standards required by regulatory bodies. And guarantee that courses are up to date, and provide all the necessary technical support for the staff to undertake the courses.
</p>
</div>
<button class="accordion">Who are required to take the care home online training courses?</button>
<div class="panel">
<p>The people who will be required to take such training for care home will consist of:</p>
<p></p><li>Care assistants</li>
<p></p><li>Nursing home staff</li>
<p></p><li>Care home staff</li>
<p></p><li>Support workers</li>
<p></p><li>Carers</li>
<p></p><li>Residential home staff.</li><p></p>
<p>Online training is required in all roles within residential and nursing home care.</p>
</div>
<button class="accordion">How can mandatory training help care home staff?</button>
<div class="panel">
<p>Mandatory training will help care home staff to improve their performance by strengthening their skills and understanding. Through consolidation, a development program, abilities and experiences are brought together to a higher level so that all care home staff have similar expertise and knowledge.</p>
</div>
<button class="accordion">How do I pay for the care home online courses and training?</button>
<div class="panel">
<p>To purchase the Care Home Online Courses and Training, add the Care Home Online Courses and Training to the basket and follow payment instructions. 
There will be clear instructions for how to buy for yourself or others.
To enrol onto an e-learning course through our website, please add the course to your basket.
From there, you will be able to go to our secure checkout page to complete your booking and make payment using a credit/debit card.</p>
</div>
<button class="accordion">Are care home online courses and training accredited?</button>
<div class="panel">
<p>On successful completion of each of the Safeguarding Children Online Courses & Training courses modules, you may download, save, and print a quality assured continuing professional development (CPD) certificate. Our CPD certificates are recognised internationally and can be used to provide evidence for compliance and audit.</p>
<p><a href="https://cpduk.co.uk/directory/profile/the-mandatory-training-group"><font color="green"><u>The CPD Certification Service (CPDUK)</u></font></a>accredits all of our statutory and mandatory training courses as conforming to universally accepted Continuous Professional Development (CPD) guidelines.</p>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-26280236" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-b7dc8e54 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-64b7dc8e" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-87e049dd--Online-Stroke-Awareness-Training-Courses-ELearning-Courses-The-Mandatory-Training-Group-UK-.jpg?v=1597746205 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-87e049dd--Online-Stroke-Awareness-Training-Courses-ELearning-Courses-The-Mandatory-Training-Group-UK-_800x267.jpg?v=1597746205&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-87e049dd--Online-Stroke-Awareness-Training-Courses-ELearning-Courses-The-Mandatory-Training-Group-UK-_400x134.jpg?v=1597746205&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Care Home Training Courses in Leicester and Leicestershire - The Mandatory Training Group UK -" title="Care Home Training Courses in Leicester and Leicestershire - The Mandatory Training Group UK -" class="sc-qZtVr dLIPjF pf-2964b7dc pf-img-lazy" data-pf-type="Image2"></div></div></div><div class="sc-qPjXN eYzxUD pf-b6262802 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-54b62628" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0a0e413b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8e54b626">Care Home Training Courses in Leicester and Leicestershire&nbsp; - E-Learning Courses - CPDUK Accredited.<br></span></h4></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.3","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"Care Home Training Courses in Leicester and Leicestershire ","pageType":"blog","pageId":"eb3dd8a6-ba0b-4939-a475-a6bd67cd21a4","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-22T13:28:07.047Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.3/core/helper.js?t=20201022151022" defer></script> </article>