<article> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.12/css/main-style.css?t=20201119081105"><link rel="stylesheet" href="{{ 'pagefly.791a76dd.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-556b4006"><div data-pf-type="Layout" class="pf-60556b40"><div data-container="true" class="sc-pZopv bjKdkd pf-ebad4c3b" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e7ebad4c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-05e7ebad" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-585f6578"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f805e7eb">Safeguarding Adults Courses & Training in Dover, Kent</span></h1></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-d3db9a5c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4ed3db9a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-3b35884e" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-ca9ec6e9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4c3b3588"><span style="font-weight: bold;">Safeguarding Adults Courses & Training in Dover, Kent<br></span><br>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health and social care, education, local government, private and charity sectors. All our mandatory and statutory training programmes are externally peer-reviewed and accredited by the CPD Certification Service (CPDUK).
<br><br>This safeguarding adults courses covers key safeguarding procedures, the types of abuse and neglect, how to report your concerns regarding the abuse of vulnerable adults, and key legislation.
<br><br>On this course, you’ll build the skills to ensure people at risk of abuse and neglect receive the care and protection they need to stay safe and unharmed, and to promote outcomes approach in safeguarding that works for people resulting in the best experience possible..&nbsp;<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-884ed3db" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-24a2d83e--ateenagegirlwithgrandmotherathomeholdinghaPBMY2UV.jpg?v=1604922677 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-24a2d83e--ateenagegirlwithgrandmotherathomeholdinghaPBMY2UV_800x534.jpg?v=1604922677&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-24a2d83e--ateenagegirlwithgrandmotherathomeholdinghaPBMY2UV_400x267.jpg?v=1604922677&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Safeguarding Adults Courses & Training in Dover, Kent - The Mandatory Training Group UK" title="Safeguarding Adults Courses & Training in Dover, Kent - The Mandatory Training Group UK" class="sc-qZtVr dLIPjF pf-35884ed3 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-3d06d4f1" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2d451c29 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5c2d451c" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ec83b371"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9a5c2d45">Browse our Safeguarding Adults Online Courses & Training to further your professional development.</span></h2></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-d7afb6b2" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-29d7afb6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1c29d7af" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-451c29d7"><div id="collection-component-1604923138471"></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'regal-training.myshopify.com',
      storefrontAccessToken: '9fb1056e9f227969a2e540d70e9e4248',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '183973445',
        node: document.getElementById('collection-component-1604923138471'),
        moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        }
      },
      "title": {
        "color": "#030000"
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      },
      "price": {
        "color": "#f50000"
      },
      "compareAt": {
        "color": "#f50000"
      },
      "unitPrice": {
        "color": "#f50000"
      },
      "description": {
        "font-size": "15px"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "View Course Details"
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px",
        "padding-left": "10px",
        "padding-right": "10px"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#2e41ff"
        },
        "background-color": "#1b26d1",
        ":focus": {
          "background-color": "#2e41ff"
        },
        "border-radius": "4px"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "header": {
        "color": "#4c4c4c"
      },
      "lineItems": {
        "color": "#4c4c4c"
      },
      "subtotalText": {
        "color": "#4c4c4c"
      },
      "subtotal": {
        "color": "#4c4c4c"
      },
      "notice": {
        "color": "#4c4c4c"
      },
      "currency": {
        "color": "#4c4c4c"
      },
      "close": {
        "color": "#4c4c4c",
        ":hover": {
          "color": "#4c4c4c"
        }
      },
      "empty": {
        "color": "#4c4c4c"
      },
      "noteDescription": {
        "color": "#4c4c4c"
      },
      "discountText": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "discountAmount": {
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "bold",
        "background-color": "#1b26d1",
        ":hover": {
          "background-color": "#2e41ff"
        },
        ":focus": {
          "background-color": "#2e41ff"
        }
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#4c4c4c"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "price": {
        "color": "#4c4c4c"
      },
      "fullPrice": {
        "color": "#4c4c4c"
      },
      "discount": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "quantity": {
        "color": "#4c4c4c"
      },
      "quantityIncrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityDecrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityInput": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-48e18f75" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-6d0095e2 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-d07a0dca" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-c5d42a10 fa fa-laptop" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e7cf8584"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b6b2d0d7">LEARN.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-caafd07a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d0d7d5f5">Learn anytime, anywhere on any device. Choose from over 500 CPDUK accredited e-learning courses and approved qualifications.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-b2edc801" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-0dca2785 fa fa-address-card-o" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-6de331f7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d5f52bbf">DEVELOP.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-9c5db2ed"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2bbfc9a7">Learn new skills in various subjects to improve your personal productivity, career development and employability opportunities</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-fad61148" data-pf-type="Column"><i class="sc-pjGMk jrwOpx pf-c801754f fa fa-legal" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7c0d5bfb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c9a7b16d">COMPLY.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-20fcfad6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b16d0095">Meet the UK and international legislative and regulatory requirements, industry standards and best practice recommendations.</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-a9d6770d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e22e7e9d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0efb98a9" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a8360efb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-95e22e7e"><br>Safeguarding Adults Courses & Training in Dover, Kent: FAQs</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-d16485e2" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-9d964cd1 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7e9d964c" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2e7e9d96">
<p>Here at The Mandatory Training Group, we receive many enquiries about Safeguarding Adults Online Courses & Training. We have listed some of these frequently asked questions.</p>
<p></p><h3>Click on the text below to see the answers to the Frequently Asked Questions about Safeguarding Adults Online Courses & Training.</h3>

<p></p>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style><!--
.accordion {
  background-color: #222B4C;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
--></style>


<button class="accordion">What are safeguarding adults?</button>
<div class="panel">
<p>According to the Care Act, statutory guidance defines safeguarding adults as: Protecting an adult's right to live in safety, free from abuse and neglect. </p></div>
<button class="accordion">What are the six principles of safeguarding?</button>
<div class="panel">
<p>Six safeguarding adult principles:</p>
<p></p><li>Empowerment</li>
<p></p><li>Protection</li>
<p></p><li>Prevention</li>
<p></p><li>Proportionality</li>
<p></p><li>Partnerships</li>
<p></p><li>Accountability.</li><p></p>
</div>
<button class="accordion">What do we mean by safeguarding?</button>
<div class="panel">
<p>Safeguarding is protecting vulnerable adults from abuse or neglect. It means making sure people are supported to get good access to health care and stay well. It is wrong if professionals do not treat vulnerable people with the same respect as other patients.</p>
</div>
<button class="accordion">What do police do in safeguarding adults?</button>
<div class="panel">
<p>The police have a crucial role to play in the safety and protection of adults at risk of harm and abuse. Besides, a core policing part is identifying and managing perpetrators who choose to target vulnerable adults. The Care Act underpins this duty.</p>
</div>
<button class="accordion">What is an example of safeguarding?</button>
<div class="panel">
<p>Examples of safeguarding adults issues include bullying, radicalisation, sexual exploitation, grooming, allegations against staff, incidents of self-harm, forced marriage, and FGM. These are the main incidents you are likely to come across; however, there may be others.</p>
</div>
<button class="accordion">What are the four basic principles for safeguarding information?</button>
<div class="panel">
<p></p><li>Empowerment: people being supported and encouraged to make their own decisions and give informed consent. </li>
<p></p><li>Prevention: it is better to take action before harm occurs. </li>
<p></p><li>Proportionality: the least intrusive response appropriate to the risk presented. </li>
<p></p><li>Protection: support and representation for those in greatest need.</li><p></p>
</div>
<button class="accordion">What are the four Rs of safeguarding?</button>
<div class="panel">
<p>The four Rs of safeguarding adult are:</p>
<p></p><li>Recognise</li>
<p></p><li>Record</li>
<p></p><li>Report</li>
<p></p><li>Refer.</li><p></p>
</div>
<button class="accordion">How do you do safeguarding?</button>
<div class="panel">
<p>You can consider safeguarding by having useful links with carers and encouraging their involvement in the organisation's work, promoting positive person-centred relationships between staff, volunteers and children. Ensuring all staff and volunteers listen to the vulnerable adult and respond to their needs.</p>
</div>
<button class="accordion">What are the five main safeguarding issues?</button>
<div class="panel">
<p>Specific safeguarding adult issues, including information on:</p>
<p></p><li>County lines</li>
<p></p><li>Domestic abuse</li>
<p></p><li>Preventing radicalisation</li>
<p></p><li>Upskirting</li>
<p></p><li>Honour-based abuse.</li><p></p>
</div>
<button class="accordion">What are the safeguarding procedures?</button>
<div class="panel">
<p>Safeguarding adult protection procedures are detailed guidelines and instructions that support your overarching safeguarding policy statement. They explain the steps that your organisation will take to keep adults what to do when there are concerns about their safety or wellbeing.</p>
</div>
<button class="accordion">How do you identify safeguarding issues?</button>
<div class="panel">
<p>You can identify safeguarding issues by monitoring a person's emotional and physical wellbeing. Through monitoring these signs and reviewing them regularly, you may identify a safeguarding issue. Indicators to record include changes in physical wellbeing, signs of distress or illness, and noticeable changes such as weight gain or weight loss.</p></div>

<button class="accordion">What is neglect?</button>
<div class="panel">
<p>Neglect occurs when a person, either through his/her action or inaction, deprives a vulnerable adult of the care necessary to maintain the vulnerable adult's physical or mental health. </p></div>
<button class="accordion">What are your roles and responsibilities for safeguarding vulnerable adults?</button>
<div class="panel">
<p>It is the responsibility of people who work in Health and Social care to work in a way that will help to prevent abuse. It means providing good quality care and support and putting the individual at the centre of everything, empowering them to have as much control over their lives as possible.</p></div>
<button class="accordion">How do police safeguard?</button>
<div class="panel">
<p>Police have a legal responsibility to safeguard adults, together with other agencies such as the local authority, healthcare professionals and schools. The law will investigate criminal offences such as physical assaults, sexual assaults and neglect of an adult.</p></div>
<button class="accordion">What are the differences between safeguarding and protection of adults?</button>
<div class="panel">
<p>Adult protection is defined as safeguarding and promoting welfare. It is the work done to protect vulnerable adults who are suffering, or are likely to suffer, significant harm. Protecting the rights of adults to live in safety, free from abuse and neglect.</p></div>
<button class="accordion">What's a safeguarding issue?</button>
<div class="panel">
<p>Safeguarding is the action that is taken to promote the welfare of adults and protect them from harm. Safeguarding means: safeguarding vulnerable adults from abuse and maltreatment. </p></div>
<button class="accordion">What happens in a safeguarding investigation?</button>
<div class="panel">
<p>An investigation in safeguarding adults is to:</p>
<p></p><li>Find out what happened.</li>
<p></p><li>Help the person who has been abused to stay safe.</li>
<p></p><li>Help the person decide what they want to happen in the future.</li><p></p></div>
<button class="accordion">What is Section 42 in Safeguarding?</button>
<div class="panel">
<p>A Section 42 enquiry must take place if there is reason to believe that abuse or neglect is taking place or is at risk of taking place. The local authority believes that an enquiry is needed to help it to decide what action to take to support and protect the person in question.</p></div>
<button class="accordion">Who is covered by safeguarding adults?</button>
<div class="panel">
<p>Aged 18 years or over; Who may need community care services because of mental or other disability, age or illness; and who is or may be unable to take care of him or herself, or unable to protect him or herself against significant harm or exploitation.
</p></div>
<button class="accordion">What constitutes harm in safeguarding adults?</button>
<div class="panel">
<p>An adult at risk of harm is defined as someone who has needs for care and support, and is experiencing, or at risk of, abuse or neglect and is unable to protect themselves. Being hurt in some way includes: Ignoring or inadequately meeting medical or physical needs.</p></div>

<button class="accordion">What is safeguarding in mental health?</button>
<div class="panel">
<p>Safeguarding adults in mental health means protecting your right to live in safety, free from abuse or neglect. Local authorities have duties under the law towards people who are experiencing abuse or neglect.</p></div>

<button class="accordion">What are the differences between safeguarding and protection?</button>
<div class="panel">
<p>In safeguarding vulnerable adults, it is the policies and practices that schools and Governing Bodies employ to keep children safe and promote their wellbeing. In contrast, adult protection is a term used to describe the activity that is undertaken to protect specific children who are suffering or likely to suffer significant harm.</p></div>
<button class="accordion">What are the four types of abuse?</button>
<div class="panel">
<p>The four types of abuse:</p>
<p></p><li>Physical abuse</li>
<p></p><li>Sexual abuse </li>
<p></p><li>Neglect </li>
<p></p><li>Emotional abuse.</li><p></p></div>
<button class="accordion">What is safeguarding in the workplace?</button>
<div class="panel">
<p>Safeguarding adults in the workplace is the practice of ensuring that vulnerable adults have their health, wellbeing and rights protected in society.</p></div>
<button class="accordion">Who needs safeguarding?</button>
<div class="panel">
<p>Safeguarding adults focuses on those adults who have care and support needs that are experiencing, or at risk of abuse, neglect or exploitation.</p></div>
<button class="accordion">What is your responsibility in safeguarding?</button>
<div class="panel">
<p>Safeguarding refers to the protection of adults from abuse and neglect and includes both proactive and reactive measures. It is your responsibility to protect the individuals that you work with from harm – this could be harm that is caused by both doing something and doing nothing.</p></div>
<button class="accordion">Who should respond to a safeguarding concern?</button>
<div class="panel">
<p>Any individual or agency can respond to an adult safeguarding concern raised about an adult. It can include reporting the situation and seeking support to protect individuals from any immediate risk of harm.</p></div>
<button class="accordion">What is a nurse's safeguarding?</button>
<div class="panel">
<p>Safeguarding adults is everyone's business, and practise nurses have a professional duty as directed by the Nursing and Midwifery Council. 1 Practice nurses should be able to promote and protect the rights of patients who are not able to protect themselves from harm or abuse.</p></div>
<button class="accordion">Who is responsible for protecting vulnerable adults?</button>
<div class="panel">
<p>STA recognises that they have a responsibility to safeguard vulnerable adults and promote the interests and wellbeing of adult and vulnerable adults with whom it is working. 
</p></div>
<button class="accordion">What is the role of the local authority in safeguarding adults?</button>
<div class="panel">
<p>The role of the local authority in safeguarding adults reviews when someone with care and support needs dies as a result of neglect or abuse, and there is a concern that the local authority or its partners could have done more to protect them.</p></div>

<button class="accordion">Are online safeguarding adults training courses accredited?</button>
<div class="panel">
<p>On successful completion of each of the Safeguarding Adults training course, you may download, save, and print a quality assured continuing professional development (CPD) certificate. Our CPD certificates are recognised internationally and can be used to provide evidence for compliance and audit.</p>
<p><a href="https://cpduk.co.uk/directory/profile/the-mandatory-training-group"><font color="green"><u><b>The CPD Certification Service (CPDUK)</b></u></font></a> accredits all of our statutory and mandatory training courses as conforming to universally accepted Continuous Professional Development (CPD) guidelines.</p></div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-e060556b" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-cde06055 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d3cde060" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ea302332--Online-Contact-Centre-Training-Courses-eLearning-Course-The-Mandatory-Training-Group-UK-.jpg?v=1597747279 1200w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ea302332--Online-Contact-Centre-Training-Courses-eLearning-Course-The-Mandatory-Training-Group-UK-_800x267.jpg?v=1597747279&resized 800w, https://cdn.shopify.com/s/files/1/0937/2788/t/33/assets/pf-ea302332--Online-Contact-Centre-Training-Courses-eLearning-Course-The-Mandatory-Training-Group-UK-_400x134.jpg?v=1597747279&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Safeguarding Adults Courses & Training in Dover, Kent - The Mandatory Training Group UK" title="Safeguarding Adults Courses & Training in Dover, Kent - The Mandatory Training Group UK" class="sc-qZtVr dLIPjF pf-964cd1d3 pf-img-lazy" data-pf-type="Image2"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1e05096a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d1d3cde0">Safeguarding Adults Courses & Training in Dover, Kent - Online Training Courses - CPDUK Accredited.&nbsp;<br></span></h4></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.12","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"Safeguarding Adults Courses & Training in Dover, Kent-draft","pageType":"blog","pageId":"791a76dd-585f-4578-a621-6eca9ec6e98d","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-11-19T06:42:30.893Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.12/core/helper.js?t=20201119081105" defer></script> </article>