{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="{{ 'pagefly.36883d0e.css' | asset_url }}">
		 <style>#adult-social-care-trainer-assessor-job #hubspot-messages-iframe-container{ 	display: none !important; } #hubspot-messages-iframe-container iframe{ 	display:none !important; } #adult-social-care-trainer-assessor-job #hubspot-messages-iframe-container{ 	display:none !important; } ul li{ 	list-style: disc; }</style> <div style="opacity:0" class="sc-ehIIUG hKxtAB __pf" id="__pf"><div data-pf-type="Body" class="sc-cTApHj fVRyQa pf-1_"><div data-pf-type="Layout" class="sc-caiKgP ipNIuR pf-2_"><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-3_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-5_"><a href="https://www.mandatorytraining.co.uk/pages/application-for-freelance-trainer-job" target="_blank" data-pf-type="Button" class="sc-hGPAah hWefDp pf-6_ animate-bounce-in"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-8_">Apply</span></a></div></div></div><div class="sc-bBHHQT iVWrCP pf-9_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-10_"><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-11_"><h1><strong>Safeguarding Children Trainer</strong></h1>
<p><strong>About us</strong></p>
<p><span style="font-weight: 400;">The Mandatory Training Group is the leading UK provider of accredited courses and Ofqual approved qualifications, including statutory and mandatory training, health and safety, food safety, first aid, safeguarding adults and children, equality and diversity, MS Office, IT and cybersecurity, soft skills, leadership and management.</span></p>
<p><span style="font-weight: 400;">Based from home, working in your geographical region remotely delivering training on the employers’ premises and other dispersed environments. </span></p>
<p><strong>Roles and responsibilities</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Drawing up and enforcing the company’s safeguarding policy</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Being alert to and recognising welfare issues, as well as challenging poor practice</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Sharing appropriate information with relevant people</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Checking the List of Children to see who is subject to a Child Protection Plan</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Gathering any other relevant information and evidence</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Consulting local safeguarding children board procedures for additional information and guidance where necessary</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Making referrals to social services when appropriate</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Continue working with the family, sharing information and contributing to plans if the concern is investigated</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ensuring that all staff having contact with children, vulnerable adults and/or their families have received appropriate training on safeguarding issues.</span></li>
</ul>
<p> </p>
<p><strong>Essential requirements</strong></p>
<p><span style="font-weight: 400;">Mandatory requirements:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Training/teaching and assessing qualification</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">PTLLS/Award in Education and Training (AET) qualification</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Recognised qualifications in adult health and social care</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Occupational competency in adult health and social care</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Current Disclosure and Barring Service (DBS)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experience in the delivery of Ofqual approved qualifications desirable</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Evidence of continuing professional development.</span></li>
</ul>
<p> </p>
<p><strong>Skills, knowledge and experience</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Health and safety experience</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Presentation skills</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Facilitation skills</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Public speaking</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Microsoft Office.</span></li>
</ul></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-12_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-13_"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-14_"><a href="https://www.mandatorytraining.co.uk/pages/application-for-freelance-trainer-job" target="_blank" data-pf-type="Button" class="sc-hGPAah hWefDp pf-15_ animate-bounce-in"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-17_">Apply</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-18_"></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.1.10","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"Safeguarding Children Trainer (Job)","pageType":"page","pageId":"36883d0e-a879-46a7-91d6-e4b82b63373b","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"fontLink":"","trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.1.10/core/helper.js" defer></script>