<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.6/css/main-style.css?t=20200728190726"><link rel="stylesheet" href="{{ 'pagefly.4bfa83bf.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-9b60bf28"><div data-pf-type="Layout" class="pf-a8a69b60"><div data-container="true" class="sc-pZopv bjKdkd pf-b47e3724" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-67bbb47e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-658867bb" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-551f6588">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style><!--
.accordion {
  background-color: #202a44;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
--></style>

<button class="accordion">What is mandatory training?
</button>
<div class="panel">
<p>Mandatory training is determined mainly by an organisation for the safe and efficient running to reduce organisational risks and comply with policies, government guidelines.
</p>
<p>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health, safety and wellbeing, social care, education, local government, and many more.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Training Courses.</u></font></a></p><p></p>
</div>
<button class="accordion">What is statutory training?
</button>
<div class="panel">
<p>This type of training is required usually by law or where a statutory body has instructed an organisation to provide training based on specific legislation (i.e. the Health and Safety at Work Act 1974 and the Management of Health and Safety at Work Regulations 1999). Employers often describe this as 'essential' or 'compulsory' training, and it ensures staff know to maintain a healthy and safe working environment for themselves and their colleagues.
</p>
<p>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health, safety and wellbeing, social care, education, local government, and many more.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Training Courses.</u></font></a></p><p></p>
</div>
<button class="accordion">What is mandatory training in care?
</button>
<div class="panel">
<p>Mandatory training relates to training that employers are expected to provide to their staff following statutory requirements. Statutory requirements include the Health and Safety at Work Act, local authority requirements, and the requirements specified by the Care Quality Commission.
</p>
</div>
<button class="accordion">What is mandatory training for care workers?
</button>
<div class="panel">
<p>The most common mandatory training subjects for care homes include:
</p>
<li>Health and Safety</li>
<li>Fire Safety</li>
<li>Equality, Diversity and Human Rights</li>
<li>Infection, Prevention and Control</li>
<li>Manual Handling
</li>
<li>Food Hygiene/Food Safety Awareness</li>
<li>Safeguarding Adults
</li>
<li>Safeguarding Children</li>
</div>
<button class="accordion">Why is statutory and mandatory training important?
</button>
<div class="panel">
<p>Mandatory training is essential because it enables health and social care workers to achieve the standards set by regulatory authorities and meet organisational obligations. Both statutory and compulsory training equips staff with the essential knowledge and skills to work safely and effectively.
</p>
</div>
<button class="accordion">What is the difference between statutory and mandatory training?
</button>
<div class="panel">
<p>Statutory training is required to ensure that the organisation is meeting any legislative duties. On the other hand, mandatory training is an organisational requirement to limit risk and maintain a safe working practice.
</p>
</div>
<button class="accordion">Why do we do mandatory training?
</button>
<div class="panel">
<p>Mandatory training is compulsory training that is determined mainly by an organisation for the safe and efficient delivery of services. This type of training is designed to reduce organisational risks and comply with local or national policies and government guidelines.
</p>
</div>
<button class="accordion">Is the care certificate a legal requirement?
</button>
<div class="panel">
<p>There is no statutory requirement for providers to implement the Care Certificate, so the Care Quality Commission (CQC) cannot enforce it. CQC inspectors do however have powers to enforce regulations covering staff training. As such, they will expect to see induction programmes that meet the Care Certificate standards.
</p>
</div>
<button class="accordion">How often do you need to update your safeguarding training?
</button>
<div class="panel">
<p>The designated safeguarding lead and any deputies should undertake training "which should be updated every two years". It also states that they should update their skills and knowledge at regular intervals, but at least annually, to keep up with any developments relevant to their role.
</p>
</div>
<button class="accordion">Which type of mandatory training do I need?
</button>
<div class="panel">
<p>Agencies and employers often insist that healthcare professionals complete CSTF Mandatory + Statutory Training. Skills have verified the content of this training course for health as aligning to the UK Core Skills Training Framework.
</p>
</div>
<button class="accordion">Who is this mandatory training for?
</button>
<div class="panel">
<p>This mandatory training is for all healthcare professionals, whether part-time, full time or agency workers.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Training Courses.</u></font></a></p><p></p>
</div>
<button class="accordion">Can I access free e-learning modules for mandatory training?
</button>
<div class="panel">
<p>When you have completed your booking, you will be given access to the following Elearning modules, free of charge. Please check your booking confirmation email for instructions on how to access them.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Courses and Training.</u></font></a></p><p></p>
</div>
<button class="accordion">What is the purpose of mandatory training?
</button>
<div class="panel">
<p>Mandatory training is compulsory training that is determined mainly by an organisation for the safe and efficient delivery of services. This type of training is designed to reduce organisational risks and comply with local or national policies and government guidelines.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Courses and Training.</u></font></a></p><p></p>
</div>
<button class="accordion">What are the benefits of statutory and mandatory training?
</button>
<div class="panel">
<p>General benefits from providing their employees with appropriate statutory and mandatory training include:
</p>
<li>Increased job satisfaction and morale among employees</li>
<li>Increased employee motivation</li>
<li>Increased efficiencies in processes, resulting in financial gain</li>
<li>Increased productivity</li>
<li>Increased capacity to adopt new technologies and methods</li>
<li>Increased innovation in strategies and products.</li>
</div>
<button class="accordion">What does mandatory training mean?
</button>
<div class="panel">
<p>Mandatory training is compulsory training that is determined essentially by an organisation for the safe and efficient delivery of services. This type of training is designed to reduce organisational risks and comply with local or national policies and government guidelines.
</p>
</div>
<button class="accordion">What does statutory training mean?
</button>
<div class="panel">
<p>Statutory training relates to training that is required by law to ensure that an organisation is meeting its legislative duties. All Care Quality Commission (CQC) regulated organisations (private care homes, the NHS, etc.) for example, have a responsibility to ensure that all new employees undertake core health and safety awareness training courses.
</p>
</div>
<button class="accordion">Is statutory training mandatory?
</button>
<div class="panel">
<p>If your employer refers to statutory training, then you can assume that it is mandatory. It is essential for the job based on their legal requirements. If an employer refers to mandatory training, it may be the result of a statutory requirement. Still, it may also just be a requirement for the job.
</p>
</div>
<button class="accordion">What are the 15 care certificate standards?
</button>
<div class="panel">
<p>Each standard is underpinned by full learning outcomes and assessment criteria. The 15 standards in the Care Certificate are:
</p>
<li>Understand your role</li>
<li>Your personal development</li>
<li>Duty of care</li>
<li>Equality and diversity</li>
<li>Work in a person-centred way</li>
<li>Communication</li>
<li>Privacy and dignity</li>
<li>Fluids and nutrition</li>
<li>Awareness of mental health dementia and learning disability
</li>
<li>Safeguarding children</li>
<li>Basic life support</li>
<li>Health and safety</li>
<li>Handling information</li>
<li>Infection prevention and control.</li>
</div>
<button class="accordion">Is the Care Certificate mandatory? 
</button>
<div class="panel">
<p>There is no statutory requirement for providers to implement the Care Certificate, so the Care Quality Commission (CQC) cannot enforce it. CQC inspectors do however have powers to enforce regulations covering staff training.
</p>
</div>
<button class="accordion">What is the purpose of the care certificate?
</button>
<div class="panel">
<p>The Care Certificate is an agreed set of standards that define the knowledge, skills and behaviours expected of specific job roles in the health and social care sectors. It's made up of the 15 minimum standards that should be covered if you are 'new to care' and should form part of a robust induction programme.
</p>
</div>
<button class="accordion">Are your online mandatory and statutory courses and training accredited?</button>
<div class="panel">
<p>On successful completion of each of the online mandatory and statutory training course modules, you will be able to download, save and/or print a quality assured continuing professional development (CPD) certificate. Our CPD certificates are recognised internationally and can be used to provide evidence for compliance and audit.</p>
<p><a href="https://cpduk.co.uk/directory/profile/the-mandatory-training-group_pos=1&_sid=c2dcef16d&_ss=rtarget="_blank""><font color="green"><u> The CPD Certification Service (CPDUK) </u></font></a> accredits online mandatory and statutorycourses and training as conforming to universally accepted Continuous Professional Development (CPD) guidelines.</p>
</div>
<button class="accordion">Are there free online mandatory and statutory training courses?
</button>
<div class="panel">
<p>Browse through our online mandatory and statutory training courses to start improving your career. The Mandatory Training Group offers CPD accredited training courses that learners can complete using our interactive eLearning portal.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Courses Training.</u></font></a></p><p></p>
</div>
<button class="accordion">Where can I find Online Mandatory and Statutory Training Courses?
</button>
<div class="panel">
<p>The Mandatory Training Group is the leading UK provider of accredited statutory and mandatory training courses for all sectors, including health, safety and wellbeing, social care, education, local government, and many more.<a href="https://www.mandatorytraining.co.uk/collections/online-mandatory-training-courses-e-learning-for-health-social-care-staff"_blank""><font color="green"><u>Click here for Online Mandatory and Statutory Training Courses.</u></font></a></p><p></p>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.6","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"sample(ACCORDION) vins","pageType":"page","pageId":"4bfa83bf-e5d9-43ae-8632-513c697dec2d","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.6/core/helper.js?t=20200728190726" defer></script>