{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="{{ 'pagefly.b399ebe9.css' | asset_url }}">
		 <style>#adult-social-care-trainer-assessor-job #hubspot-messages-iframe-container{ 	display: none !important; } #hubspot-messages-iframe-container iframe{ 	display:none !important; } #adult-social-care-trainer-assessor-job #hubspot-messages-iframe-container{ 	display:none !important; } ul li{ 	list-style: disc; } ul{ 	padding-left:20px; }</style> <div style="opacity:0" class="sc-iJCRrE bojiJp __pf" id="__pf"><div data-pf-type="Body" class="sc-gSYDnn jcqGXt pf-1_"><div data-pf-type="Layout" class="sc-Arkif eJDRKz pf-2_"><div data-pf-type="Section" class="sc-hhIiOg iwisNA pf-3_"><div style="--cw:1170px" class="sc-oeezt OJJCp"><div class="sc-hHEiqL ccTnQh pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-5_"><a href="https://www.mandatorytraining.co.uk/pages/application-for-freelance-trainer-job" target="_blank" data-pf-type="Button" class="sc-ezzafa kQDscT pf-6_ animate-bounce-in"><span data-pf-type="Text" class="sc-daBunf eQUdeu pf-8_">Apply</span></a></div></div></div><div class="sc-hHEiqL ccTnQh pf-9_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-10_"><div data-pf-type="Custom.HTML" class="sc-jcwpoC kyvWZW pf-11_"><h1><strong>Food Safety in Manufacturing Trainer/Assessor</strong></h1>
<p> </p>
<p><strong>Summary/Purpose</strong></p>
<p><span style="font-weight: 400;">The purpose of this role is to provide the best support for the student by presenting the lesson creatively, identifying gaps in learning, and being proficient in the subject you are delivering. This position varies from one student to the next, depending on the student's age, subject requirements, and development level. </span></p>
<p><strong>Duties and responsibilities</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To support distance and blended learning</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To develop course content, activities and assessment</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To assess and mark assignments </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To upload materials to the VLE as required </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To deliver mentor training and standardisation as required </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To support functional skills and portfolio assessment </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To support distance learning students </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To maintain appropriate records, including those required by awarding bodies</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To maintain individual student records</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To contact students regularly and to report unusual findings </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To prepare and present regular student evaluation reports</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To undertake regular course evaluations and report findings </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To attend programme meetings as required</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To carry out an assessment and the marking of candidates' work as laid down in the scheme regulations</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To maintain student records of assessment</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To regularly submit assessments and mark results and student feedback </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To participate in training and retraining in assessment as required by the awarding body</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To maintain contact with the internal verifier</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To upload feedback and grades to the VLE system </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To provide a friendly and supportive service to students, using a range of communication media</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To give support both educationally and pastorally, enabling students to reach their goals</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To ensure that all customers are treated with care and respect and consistent and reliable service is maintained</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To provide constructive feedback, complete mark sheets, and mark and return all student work within agreed timeframes</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To monitor students' work for plagiarism.</span></li>
</ul>
<p><strong>General</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To ensure the security of company assets  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To comply with all company policies and procedures  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To comply with the company's safeguarding policy and procedure  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To comply with the Equal Opportunities Legislation and be proactive in challenging prejudice, discrimination and stereotyping </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To implement in full the company's quality policies and procedures </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To consult the Company Health and Safety Policy about their specific responsibilities as described in the general arrangements section  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To give consideration to their actions at work as to how they may affect the safety of learners, clients and visitors to company premises  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To support the organisation's core values  </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To cooperate with all staff to achieve a healthy and safe workplace and report any risks identified, at the company's or others' premises, to the designated Health and Safety Officer and other duties that may be identified from time to time by the company</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">To attend relevant training and personal development programmes.</span></li>
</ul>
<p><strong>Continuing Professional Development</strong></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Review and evaluate own skills, knowledge and practice and prioritise areas for development </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Access development needed to carry out own work more effectively and use a range of resources to keep own knowledge, skills and practice up-to-date </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Keep records of own actions, development plans and progress, and use them to support and inform ongoing reflective practice </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Apply new knowledge and skills to consolidate learning, improve own practice, and review the effectiveness of newly acquired knowledge and skills </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Share knowledge, skills and improvements to practice with colleagues where it is likely to be of benefit </span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Maintain confidentiality agreements.</span></li>
</ul>
<p><strong>Personal specifications</strong></p>
<table>
<tbody>
<tr>
<td style="border-style: solid; border-color: black;"> </td>
<td style="border-style: solid; border-color: black;">
<p><strong>Essential</strong></p>
</td>
<td style="border-style: solid; border-color: black;">
<p><strong>Desirable</strong></p>
</td>
</tr>
<tr>
<td style="border-style: solid; border-color: black;">
<p><strong>Experience and Qualifications</strong></p>
</td>
<td style="border-style: solid; border-color: black;">
<p><strong>Teaching Qualification</strong><span style="font-weight: 400;"> (any of the following):</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Further and Adult Education Teachers Certificate</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Cert Ed/PGCE/B Ed/M Ed</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">PTLLS/CTLLS/DTLLS</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 3 Award/4 Certificate/5 Diploma in Education and Training</span></li>
</ul>
<br />
<p><strong>Assessor Qualification</strong><span style="font-weight: 400;"> (any of the following):</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 3 Award in Assessing Competence in the Work Environment</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 3 Award in Assessing Vocationally Related Achievement</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 3 Award in Understanding the Principles and Practices of Assessment</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Level 3 Certificate in Assessing Vocational Achievement</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">A1 or D32/D33.</span></li>
</ul>
<p><span style="font-weight: 400;">*Have at least 3 years of professional experience.</span></p>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experience in delivering training and support</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experience and proven track record of leading a team</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">L4 IQA (IQA Roles)</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">V1 or D34</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Willingness to undertake additional training and CPD, as required by the service</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hold relevant professional membership.</span></li>
</ul>
</td>
</tr>
<tr>
<td style="border-style: solid; border-color: black;">
<p><strong>Skills</strong></p>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">IT literate</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Committed to continuous improvement</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ability to communicate well and effectively with colleagues</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Accurate with good attention to detail</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Proactive with a willingness to learn</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Excellent communication,  interpersonal and writing skills</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Effective planning and organisational skills</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Willingness to work flexibly in order to meet business needs</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Professional manner and conduct</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Understand either formal or informal teaching within the education sector.</span></li>
</ul>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Knowledge of distance learning assessment platforms.</span></li>
</ul>
</td>
</tr>
<tr>
<td style="border-style: solid; border-color: black;">
<p><strong>Knowledge</strong></p>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Safeguarding knowledge</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Subject matter</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Experience in successfully supporting training and assessing in a variety of contexts.</span></li>
</ul>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Current practice.</span></li>
</ul>
</td>
</tr>
<tr>
<td style="border-style: solid; border-color: black;">
<p><strong>Characteristics</strong></p>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Self-motivated</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Self-starter</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Flexible approach</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Reliable</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Team player</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Adapts well to change</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Self-disciplined</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Convey a holistic and person-centred approach to teaching.</span></li>
</ul>
</td>
<td style="border-style: solid; border-color: black;">
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ability to take a creative approach to teach online</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Good attendance record.</span></li>
</ul>
</td>
</tr>
</tbody>
</table>
<p> </p></div></div></div></div><div class="sc-hHEiqL ccTnQh pf-12_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-13_"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-14_"><a href="https://www.mandatorytraining.co.uk/pages/application-for-freelance-trainer-job" target="_blank" data-pf-type="Button" class="sc-ezzafa kQDscT pf-15_ animate-bounce-in"><span data-pf-type="Text" class="sc-daBunf eQUdeu pf-17_">Apply</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-18_"></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.3.5","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"CA Food Safety in Manufacturing Trainer/Assessor","pageType":"page","pageId":"b399ebe9-6a68-44ec-822f-344e2d07f5b1","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"fontLink":"","trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.3.5/core/helper.js" defer></script>