{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="{{ 'pagefly.7574ba19.css' | asset_url }}">
		 <style>#adult-social-care-trainer-assessor-job #hubspot-messages-iframe-container{ 	display: none !important; } #hubspot-messages-iframe-container iframe{ 	display:none !important; } #adult-social-care-trainer-assessor-job #hubspot-messages-iframe-container{ 	display:none !important; } ul li{ 	list-style: disc; }</style> <div style="opacity:0" class="sc-ehIIUG hKxtAB __pf" id="__pf"><div data-pf-type="Body" class="sc-cTApHj fVRyQa pf-1_"><div data-pf-type="Layout" class="sc-caiKgP ipNIuR pf-2_"><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-3_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-5_"><a href="https://www.mandatorytraining.co.uk/pages/application-for-freelance-trainer-job" target="_blank" data-pf-type="Button" class="sc-hGPAah hWefDp pf-6_ animate-bounce-in"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-8_">Apply</span></a></div></div></div><div class="sc-bBHHQT iVWrCP pf-9_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-10_"><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-11_"><h1><strong>Wound Care Trainer</strong></h1>
<p><strong>About us</strong></p>
<p>The Mandatory Training Group is the leading UK provider of accredited courses and Ofqual approved qualifications, including statutory and mandatory training, health and safety, food safety, first aid, safeguarding adults and children, equality and diversity, MS Office, IT and cybersecurity, soft skills, leadership and management.</p>
<p>Based from home, working in your geographical region remotely delivering training on the employers’ premises and other dispersed environments.</p>
<p><strong>Roles and responsibilities</strong></p>
<ul>
<li aria-level="1">The post holder will be responsible for the effective delivery of Wound Care Management</li>
<li aria-level="1">Virtually act as an expert resource to community and care staff</li>
<li aria-level="1">Expected to maintain clinical skills and competence</li>
<li aria-level="1">Must have the ability to work unsupervised</li>
<li aria-level="1">Must possess effective time management skills</li>
<li aria-level="1">Must have excellent communication skills and the interest and enthusiasm to promote best practice in wound care</li>
<li aria-level="1">You will advise on Wound Care issues and resolution</li>
<li aria-level="1">You will work with our Team to identify staff training needs and develop course activities and awareness sessions to ensure these training gaps are filled.</li>
</ul>
<p> </p>
<p><strong>Essential requirements</strong></p>
<p>Mandatory requirements:</p>
<ul>
<li aria-level="1">Training/teaching and assessing qualification</li>
<li aria-level="1">PTLLS/Award in Education and Training (AET) qualification</li>
<li aria-level="1">Recognised qualifications in adult health and social care</li>
<li aria-level="1">Occupational competency in adult health and social care</li>
<li aria-level="1">Current Disclosure and Barring Service (DBS)</li>
<li aria-level="1">Experience in the delivery of Ofqual approved qualifications desirable</li>
<li aria-level="1">Evidence of continuing professional development.</li>
</ul>
<p> </p>
<p><strong>Skills, knowledge and experience</strong></p>
<ul>
<li aria-level="1">Health and safety experience</li>
<li aria-level="1">Presentation skills</li>
<li aria-level="1">Facilitation skills</li>
<li aria-level="1">Public speaking</li>
<li aria-level="1">Microsoft Office.</li>
</ul></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-12_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-13_"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-14_"><a href="https://www.mandatorytraining.co.uk/pages/application-for-freelance-trainer-job" target="_blank" data-pf-type="Button" class="sc-hGPAah hWefDp pf-15_ animate-bounce-in"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-17_">Apply</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-18_"></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.1.10","shopDomain":"regal-training.myshopify.com","elementData":{},"pageTitle":"Wound Care Trainer (Job)","pageType":"page","pageId":"7574ba19-825e-4ff6-a6b0-b02f95a7b94d","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"fontLink":"","trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.1.10/core/helper.js" defer></script>